Repository DataDog/dd-trace-py, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py, @DataDog/apm-python, @DataDog/ci-app-libraries, @datadog/ci-app-libraries, @DataDog/debugger-python, @DataDog/asm-python, @DataDog/profiling-python, @DataDog/remote-config, @DataDog/python-guild

.github/CODEOWNERS:

# Order matters, the last matched is what is used

# APM Core Python is the default owner of all files
*                                   @DataDog/apm-core-python

# Framework Integrations
src/ddtrace/ext/                        @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
src/ddtrace/contrib/                    @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
src/ddtrace/internal/schema/            @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
tests/                              @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py

# Files which can be approved by anyone
# DEV: This helps not requiring apm-core-python to review new files added
#      or files which changes often with most PRs
releasenotes/                       @DataDog/apm-python
tests/snapshots/                    @DataDog/apm-python
riotfile.py                         @DataDog/apm-python

# Core
tests/internal                      @DataDog/apm-core-python
tests/lib-injection                 @DataDog/apm-core-python
tests/opentelemetry                 @DataDog/apm-core-python
tests/opentracer                    @DataDog/apm-core-python
tests/runtime                       @DataDog/apm-core-python
tests/tracer                        @DataDog/apm-core-python

# CI App
src/ddtrace/contrib/pytest/             @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/contrib/pytest_bdd/         @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/contrib/pytest                @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/contrib/pytest_bdd            @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/ext/ci.py                   @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/ext/test.py                 @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/internal/codeowners.py      @DataDog/apm-core-python @datadog/ci-app-libraries
src/ddtrace/internal/ci_visibility/     @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/internal/ci_visibility/       @DataDog/apm-core-python @DataDog/ci-app-libraries

# Debugger
src/ddtrace/debugging/                  @DataDog/debugger-python
src/ddtrace/settings/dynamic_instrumentation.py     @DataDog/debugger-python
src/ddtrace/internal/injection.py       @DataDog/debugger-python @DataDog/apm-core-python
src/ddtrace/internal/wrapping.py        @DataDog/debugger-python @DataDog/apm-core-python
src/ddtrace/internal/module.py          @DataDog/debugger-python @DataDog/apm-core-python
tests/debugging/                    @DataDog/debugger-python
tests/internal/test_injection.py    @DataDog/debugger-python @DataDog/apm-core-python
tests/internal/test_wrapping.py     @DataDog/debugger-python @DataDog/apm-core-python
tests/internal/test_module.py       @DataDog/debugger-python @DataDog/apm-core-python

# ASM
src/ddtrace/appsec/                     @DataDog/asm-python
src/ddtrace/contrib/subprocess/         @DataDog/asm-python
tests/appsec/                       @DataDog/asm-python
tests/contrib/dbapi/test_dbapi_appsec.py    @DataDog/asm-python
tests/contrib/subprocess            @DataDog/asm-python
tests/contrib/flask/test_flask_appsec.py    @DataDog/asm-python
tests/contrib/django/django_app/appsec_urls.py @DataDog/asm-python
tests/contrib/django/test_django_appsec.py  @DataDog/asm-python
tests/snapshots/tests*appsec*.json  @DataDog/asm-python
tests/contrib/*/test*appsec*.py     @DataDog/asm-python

# Profiling
src/ddtrace/profiling                   @DataDog/profiling-python @DataDog/apm-core-python
tests/profiling                     @DataDog/profiling-python @DataDog/apm-core-python

# Remote Config
src/ddtrace/internal/remoteconfig       @DataDog/remote-config @DataDog/apm-core-python
tests/internal/remoteconfig         @DataDog/remote-config @DataDog/apm-core-python

# Guild
# Note that core is added here since 2 reviewers are required. The guild isn't
# big enough to support if a guild member makes a change which means 2 other
# guild members have to review.
# We should enforce this for important files, but more frequently edited ones
# can settle for having 1 guild member review + a core team member.
setup.py                            @DataDog/python-guild
setup.cfg                           @DataDog/python-guild
pyproject.toml                      @DataDog/python-guild
.readthedocs.yml                    @DataDog/python-guild  @DataDog/apm-core-python
README.md                           @DataDog/python-guild  @DataDog/apm-core-python
mypy.ini                            @DataDog/python-guild  @DataDog/apm-core-python
.github/PULL_REQUEST_TEMPLATE.md    @DataDog/python-guild  @DataDog/apm-core-python
.github/ISSUE_TEMPLATE.md           @DataDog/python-guild  @DataDog/apm-core-python
.github/CODEOWNERS                  @DataDog/python-guild  @DataDog/apm-core-python
src/ddtrace/internal/compat.py          @DataDog/python-guild  @DataDog/apm-core-python

fix: tests filename assert
  tests/contrib/flask/test_flask_appsec_iast.py
Owners: @DataDog/asm-python

fix tests
  tests/contrib/flask/test_flask_appsec_iast.py
Owners: @DataDog/asm-python

feat(iast): handler error and enable iast flask tests (#6458)
  ddtrace/appsec/handlers.py
  tests/contrib/flask/test_flask_appsec.py
  tests/contrib/flask/test_flask_appsec_iast.py
Owners: @DataDog/apm-core-python, @DataDog/asm-python

refactor(ci-visibility): avoid getting env var multiple times
  ddtrace/contrib/pytest/plugin.py
  ddtrace/internal/ci_visibility/encoder.py
  ddtrace/internal/ci_visibility/recorder.py
  ddtrace/internal/ci_visibility/writer.py
  tests/ci_visibility/test_coverage_per_suite.py
  tests/ci_visibility/test_encoder.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

fix merge
  tests/appsec/iast/conftest.py
  tests/contrib/django/test_django_appsec_iast.py
  tests/contrib/flask/test_flask_appsec.py
  tests/contrib/flask/test_flask_appsec_iast.py
Owners: @DataDog/asm-python

Add initial wrapped func for unittest
  ddtrace/_monkey.py
  ddtrace/contrib/unittest/__init__.py
  ddtrace/contrib/unittest/patch.py
Owners: @DataDog/apm-core-python

chore(ci-visibility): itr skipped tag information (#6463)
  ddtrace/contrib/pytest/plugin.py
  ddtrace/ext/test.py
  tests/contrib/pytest/test_pytest.py
Owners: @DataDog/apm-core-python, @DataDog/ci-app-libraries

Update .suitespec.json
  tests/.suitespec.json
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

chore(ci-visibility): fix conflicts
  ddtrace/contrib/pytest/plugin.py
Owners: @DataDog/apm-core-python

chore(telemetry): track tracer configurations (#6431)
  ddtrace/bootstrap/sitecustomize.py
  ddtrace/commands/ddtrace_run.py
  ddtrace/internal/telemetry/constants.py
  ddtrace/internal/telemetry/writer.py
  ddtrace/settings/config.py
  ddtrace/tracer.py
  tests/telemetry/test_writer.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

small fixes and more tests
  ddtrace/appsec/iast/_taint_utils.py
  ddtrace/appsec/iast/taint_sinks/json_tainting.py
  tests/appsec/iast/test_json_tainting.py
Owners: @DataDog/apm-core-python, @DataDog/asm-python

chore(ci): improve kafka tests (#6476)
  docker-compose.yml
  tests/contrib/kafka/test_kafka.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

chore(ci-visibility): set tags value properly (not boolean value)
  ddtrace/contrib/pytest/plugin.py
Owners: @DataDog/apm-core-python

Update releasenotes/notes/asm-iast-report-scrubbing-ef2aa1d74f866656.yaml
  releasenotes/notes/asm-iast-report-scrubbing-ef2aa1d74f866656.yaml
Owners: @DataDog/apm-python

ci(integrations): make test_regression_logging_in_context less flaky (#6465)
  tests/integration/test_integration.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

chore(datastreams): kinesis checkpoints
  ddtrace/contrib/botocore/patch.py
  ddtrace/internal/datastreams/processor.py
  tests/contrib/botocore/test.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

typing fix
  ddtrace/internal/datastreams/processor.py
Owners: @DataDog/apm-core-python

flake8 fixes
  tests/contrib/botocore/test.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

Kinesis support for StreamARN didn't start til 1.26.30
  ddtrace/contrib/botocore/patch.py
  tests/contrib/botocore/test.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

Add test for unspecified StreamARN
  tests/contrib/botocore/test.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

remove no stream arn test
  tests/contrib/botocore/test.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

Use set_checkpoint in stead of DataStreamsCTX class
  ddtrace/contrib/botocore/patch.py
Owners: @DataDog/apm-core-python

Add overrides in set_checkpoint
  ddtrace/contrib/botocore/patch.py
  ddtrace/internal/datastreams/processor.py
Owners: @DataDog/apm-core-python

Fix tests
  tests/contrib/botocore/test.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

Fix failing tests with tiktoken enabled
  tests/contrib/openai/cassettes/chat_completion_streamed_async_tiktoken.yaml
  tests/contrib/openai/cassettes/chat_completion_streamed_tiktoken.yaml
  tests/contrib/openai/test_openai.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

ci: add all test suites to suitespec (#6459)
  scripts/needs_testrun.py
  tests/.suitespec.json
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

Add circleci config coverage parameters
  .circleci/config.yml
Owners: @DataDog/apm-core-python

Change di backend repo to run dogfood pipelines
  .gitlab-ci.yml
Owners: @DataDog/apm-core-python

tests: rename fixture filenames
  tests/ci_visibility/test_coverage_per_suite.py
  tests/contrib/pytest/test_pytest.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py, @DataDog/ci-app-libraries

Use "release/v1" tag for gh-action-pypi-publish (#6456)
  .github/workflows/build_deploy.yml
Owners: @DataDog/apm-core-python

Use "release/v1" tag for gh-action-pypi-publish (#6456)
  .github/workflows/build_deploy.yml
Owners: @DataDog/apm-core-python

ci(riot): bump to 0.17.7
  .circleci/config.templ.yml
  .riot/requirements/17c15c8.txt
  riotfile.py
  scripts/ddtest
  scripts/needs_testrun.py
  tests/.suitespec.json
Owners: @DataDog/apm-core-python, @DataDog/apm-python, @DataDog/apm-framework-integrations-reviewers-py

run tests when riotfile changes
  tests/.suitespec.json
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

skip test if IAST don't support the Python version
  tests/appsec/iast/test_json_tainting.py
Owners: @DataDog/asm-python

fix(docs): fix broken links from contributing page (#6420)
  docs/contributing.rst
  docs/releasenotes.rst
Owners: @DataDog/apm-core-python

Add patch test cases, fix double patch issue for langchain embeddings
  ddtrace/contrib/langchain/patch.py
  releasenotes/notes/fix-langchain-patching-800e4d50f4b2769a.yaml
  tests/contrib/langchain/test_langchain_patch.py
Owners: @DataDog/apm-core-python, @DataDog/apm-python, @DataDog/apm-framework-integrations-reviewers-py

failing test
  scripts/needs_testrun.py
Owners: @DataDog/apm-core-python

chore(ci): re-add circleci config coverage parameters (#6482)
  .circleci/config.yml
Owners: @DataDog/apm-core-python

failing test
  scripts/needs_testrun.py
Owners: @DataDog/apm-core-python

ci: run tests when riotfile changes (#6485)
  scripts/needs_testrun.py
  tests/.suitespec.json
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py
