Repository DataDog/dd-trace-py, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-python, @DataDog/ci-app-libraries, @datadog/ci-app-libraries, @DataDog/debugger-python, @DataDog/asm-python

perf(ci): dynamically test building wheels
  .github/workflows/build_deploy.yml
Owners: @DataDog/apm-python

fix(tracing): ensure Context is serializable
  ddtrace/context.py
  releasenotes/notes/fix-context-serializable-2c9768cbe4738b73.yaml
  tests/integration/test_context_snapshots.py
  tests/snapshots/tests.integration.test_context_snapshots.test_context_multiprocess.json
  tests/tracer/test_context.py
Owners: @DataDog/apm-python

Update releasenotes/notes/fix-context-serializable-2c9768cbe4738b73.yaml
  releasenotes/notes/fix-context-serializable-2c9768cbe4738b73.yaml
Owners: @DataDog/apm-python

move import to type checking scope
  ddtrace/context.py
Owners: @DataDog/apm-python

ws
  releasenotes/notes/fix-context-serializable-2c9768cbe4738b73.yaml
Owners: @DataDog/apm-python

fix flake8
  ddtrace/contrib/aiohttp_jinja2/patch.py
Owners: @DataDog/apm-python

Update releasenotes/notes/fix-context-serializable-2c9768cbe4738b73.yaml
  releasenotes/notes/fix-context-serializable-2c9768cbe4738b73.yaml
Owners: @DataDog/apm-python

fix elasticsearch
  tests/snapshots/tests.contrib.elasticsearch.test_elasticsearch_multi.test_elasticsearch.json
  tests/snapshots/tests.contrib.elasticsearch.test_elasticsearch_multi.test_elasticsearch2.json
  tests/snapshots/tests.contrib.elasticsearch.test_elasticsearch_multi.test_elasticsearch5.json
  tests/snapshots/tests.contrib.elasticsearch.test_elasticsearch_multi.test_elasticsearch6.json
  tests/snapshots/tests.contrib.elasticsearch.test_elasticsearch_multi.test_elasticsearch7.json
Owners: @DataDog/apm-python

perf(ddtrace): lazy load global tracer
  benchmarks/startup/config.yaml
  benchmarks/startup/scenario.py
  ddtrace/__init__.py
  ddtrace/__init__.pyi
  releasenotes/notes/tracer-lazy-load-6a1607ed4ce1f82c.yaml
Owners: @DataDog/apm-python

chore(flask): avoid using deprecated internals
  ddtrace/contrib/flask/helpers.py
  ddtrace/contrib/flask/patch.py
  releasenotes/notes/remove-deprecated-flask-methods-8d7a4a3d32c3c69d.yaml
Owners: @DataDog/apm-python

fix release note
  releasenotes/notes/remove-deprecated-flask-methods-8d7a4a3d32c3c69d.yaml
Owners: @DataDog/apm-python

ci: use MOJO format with austin profiles
  scripts/profiles/django-simple/run.sh
  scripts/profiles/django-simple/setup.sh
  scripts/profiles/encoders/run.sh
  scripts/profiles/encoders/setup.sh
Owners: @DataDog/apm-python

Fix Cherrypy Snapshots
  tests/snapshots/tests.contrib.cherrypy.test_middleware.test_child.json
  tests/snapshots/tests.contrib.cherrypy.test_middleware.test_error.json
  tests/snapshots/tests.contrib.cherrypy.test_middleware.test_fatal.json
  tests/snapshots/tests.contrib.cherrypy.test_middleware.test_success.json
Owners: @DataDog/apm-python

Update releasenotes/notes/fix-context-serializable-2c9768cbe4738b73.yaml
  releasenotes/notes/fix-context-serializable-2c9768cbe4738b73.yaml
Owners: @DataDog/apm-python

ci(gevent): pin greenlet for legacy gevent versions
  tox.ini
Owners: @DataDog/apm-python

fix(tracing): ensure Context is serializable (#4432)
  ddtrace/context.py
  releasenotes/notes/fix-context-serializable-2c9768cbe4738b73.yaml
  tests/integration/test_context_snapshots.py
  tests/snapshots/tests.integration.test_context_snapshots.test_context_multiprocess.json
  tests/tracer/test_context.py
Owners: @DataDog/apm-python

fix(tracing): ensure Context is serializable (#4432)
  ddtrace/context.py
  releasenotes/notes/fix-context-serializable-2c9768cbe4738b73.yaml
  tests/integration/test_context_snapshots.py
  tests/snapshots/tests.integration.test_context_snapshots.test_context_multiprocess.json
  tests/tracer/test_context.py
Owners: @DataDog/apm-python

fix(tracing): ensure Context is serializable (#4432)
  ddtrace/context.py
  releasenotes/notes/fix-context-serializable-2c9768cbe4738b73.yaml
  tests/integration/test_context_snapshots.py
  tests/snapshots/tests.integration.test_context_snapshots.test_context_multiprocess.json
  tests/tracer/test_context.py
Owners: @DataDog/apm-python

chore(flask): avoid using deprecated internals (#4433)
  ddtrace/contrib/flask/helpers.py
  ddtrace/contrib/flask/patch.py
  releasenotes/notes/remove-deprecated-flask-methods-8d7a4a3d32c3c69d.yaml
Owners: @DataDog/apm-python

chore(flask): avoid using deprecated internals (#4433)
  ddtrace/contrib/flask/helpers.py
  ddtrace/contrib/flask/patch.py
  releasenotes/notes/remove-deprecated-flask-methods-8d7a4a3d32c3c69d.yaml
Owners: @DataDog/apm-python

chore(flask): avoid using deprecated internals (#4433)
  ddtrace/contrib/flask/helpers.py
  ddtrace/contrib/flask/patch.py
  releasenotes/notes/remove-deprecated-flask-methods-8d7a4a3d32c3c69d.yaml
Owners: @DataDog/apm-python

Fix final snapshots
  tests/snapshots/tests.contrib.fastapi.test_fastapi.test_subapp_no_aggregate_snapshot.json
  tests/snapshots/tests.contrib.fastapi.test_fastapi.test_subapp_snapshot.json
  tests/snapshots/tests.contrib.fastapi.test_fastapi.test_table_query_snapshot.json
Owners: @DataDog/apm-python

fix conflict
  ddtrace/context.py
Owners: @DataDog/apm-python

Update tests/tracer/test_context.py
  tests/tracer/test_context.py
Owners: @DataDog/apm-python

merge conflict: remove traceparent from context
  tests/tracer/test_context.py
Owners: @DataDog/apm-python

fix: use soft forksafe hooks with start-up threads
  ddtrace/debugging/_uploader.py
  ddtrace/internal/remoteconfig/worker.py
  releasenotes/notes/fix-rcm-soft-forksafe-7e6d6b59495e097c.yaml
  tests/internal/test_forksafe.py
Owners: @DataDog/debugger-python, @DataDog/apm-python

inject dbm comments to procedures
  ddtrace/contrib/dbapi/__init__.py
  tests/contrib/dbapi/test_dbapi.py
Owners: @DataDog/apm-python

fix opentracing
  tox.ini
Owners: @DataDog/apm-python

fix profiling
  tox.ini
Owners: @DataDog/apm-python

chore(asyncpg): skip incompatible framework test
  .github/workflows/test_frameworks.yml
Owners: @DataDog/apm-python

test(test): black and isort for flake8 compliance
  generate-circleci-config.py
  riotfile.py
Owners: @DataDog/apm-python

test(test): add automatic presence of tests in test workflow
  generate-circleci-config.py
Owners: @DataDog/apm-python

feat: fix Python 2.7 tests and return none instead tuple[none,none]
  ddtrace/appsec/iast/_stacktrace.c
  ddtrace/appsec/iast/stacktrace_py2.py
  ddtrace/appsec/iast/taint_sinks/_base.py
  tests/appsec/iast/test_weak_hash.py
Owners: @DataDog/asm-python

test(asm): fix recursive-include
  MANIFEST.in
Owners: @DataDog/apm-python

feat: fix Python 3.10 error in stacktrace
  ddtrace/appsec/iast/_stacktrace.c
Owners: @DataDog/asm-python

Update ddtrace/appsec/iast/_stacktrace.c
  ddtrace/appsec/iast/_stacktrace.c
Owners: @DataDog/asm-python

test(test): removed matrix uses
  generate-circleci-config.py
Owners: @DataDog/apm-python

test(test): typo fix
  generate-circleci-config.py
Owners: @DataDog/apm-python

test(test): test-nigthly is copied from test (it was already identical) and jobs are also automatically added to requirements of coverage_report
  generate-circleci-config.py
Owners: @DataDog/apm-python

test(asm): ensure libddwaf is downloaded
  setup.py
Owners: @DataDog/apm-python

.github/CODEOWNERS:

* @DataDog/apm-python

ddtrace/contrib/pytest/         @DataDog/apm-python @DataDog/ci-app-libraries
ddtrace/contrib/pytest-bdd/     @DataDog/apm-python @DataDog/ci-app-libraries
ddtrace/ext/ci.py               @DataDog/apm-python @DataDog/ci-app-libraries
ddtrace/ext/test.py             @DataDog/apm-python @DataDog/ci-app-libraries
ddtrace/internal/codeowners.py  @DataDog/apm-python @datadog/ci-app-libraries
tests/contrib/pytest/           @DataDog/apm-python @DataDog/ci-app-libraries
tests/contrib/pytest-bdd/       @DataDog/apm-python @DataDog/ci-app-libraries
ddtrace/debugging/              @DataDog/debugger-python
tests/debugging/                @DataDog/debugger-python
ddtrace/appsec/                 @DataDog/asm-python
tests/appsec/                   @DataDog/asm-python
