Repository DataDog/dd-trace-py, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py, @DataDog/apm-python, @DataDog/ci-app-libraries, @datadog/ci-app-libraries, @DataDog/debugger-python, @DataDog/asm-python, @DataDog/profiling-python, @DataDog/remote-config, @DataDog/python-guild

Version gate for embeddings,vectorstores
  ddtrace/contrib/langchain/patch.py
  tests/contrib/langchain/test_langchain.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

add tracecontext to spelling
  docs/spelling_wordlist.txt
Owners: @DataDog/apm-core-python

Fix tests, bump supported version to 192
  docs/index.rst
  riotfile.py
  tests/contrib/langchain/test_langchain.py
Owners: @DataDog/apm-core-python, @DataDog/apm-python, @DataDog/apm-framework-integrations-reviewers-py

Fix failing 3.9 tests
  .riot/requirements/12df1f9.txt
  .riot/requirements/13bf6ae.txt
  .riot/requirements/3e5a684.txt
  .riot/requirements/5cb5e78.txt
  .riot/requirements/6371dfb.txt
  .riot/requirements/d4a1e0d.txt
  tests/contrib/langchain/cassettes/ai21_completion_sync_39.yaml
  tests/contrib/langchain/cassettes/openai_chat_completion_sync_call_39.yaml
  tests/contrib/langchain/cassettes/openai_chat_completion_sync_generate_39.yaml
  tests/contrib/langchain/cassettes/openai_completion_async_39.yaml
  tests/contrib/langchain/cassettes/openai_completion_sync_39.yaml
  tests/contrib/langchain/cassettes/openai_completion_sync_multi_prompt_39.yaml
  tests/contrib/langchain/cassettes/openai_embedding_document_39.yaml
  tests/contrib/langchain/cassettes/openai_embedding_query_39.yaml
  tests/contrib/langchain/cassettes/openai_math_chain_sync_39.yaml
  tests/contrib/langchain/cassettes/openai_paraphrase_39.yaml
  tests/contrib/langchain/cassettes/openai_pinecone_similarity_search_39.yaml
  tests/contrib/langchain/cassettes/openai_pinecone_vectorstore_retrieval_chain_39.yaml
  tests/contrib/langchain/test_langchain.py
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_chat_model_sync_call_39.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_chat_model_sync_generate_39.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_llm_sync_39.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_llm_sync_multiple_prompts_39.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_pinecone_vectorstore_retrieval_chain_39.json
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py, @DataDog/apm-python

Remove failing test in CI
  tests/contrib/langchain/test_langchain.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

Fix failing test_global_tags
  tests/contrib/langchain/test_langchain.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

test: subclass tracer
  ddtrace/internal/ci_visibility/recorder.py
  tests/contrib/pytest/test_pytest.py
  tests/utils.py
Owners: @DataDog/apm-core-python, @DataDog/ci-app-libraries, @DataDog/apm-framework-integrations-reviewers-py

test: pop CI_DD_API_KEY
  tests/ci_visibility/test_ci_visibility.py
  tests/utils.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

test: ensure response.body is str
  ddtrace/internal/ci_visibility/recorder.py
Owners: @DataDog/apm-core-python, @DataDog/ci-app-libraries

test: ci visibility fixes
  ddtrace/internal/ci_visibility/recorder.py
  tests/utils.py
Owners: @DataDog/apm-core-python, @DataDog/ci-app-libraries, @DataDog/apm-framework-integrations-reviewers-py

test: remove DD_API_KEY
  riotfile.py
Owners: @DataDog/apm-python

test: fixes
  ddtrace/internal/ci_visibility/recorder.py
  setup.cfg
  setup.py
  tests/utils.py
Owners: @DataDog/apm-core-python, @DataDog/ci-app-libraries, @DataDog/python-guild, @DataDog/apm-framework-integrations-reviewers-py

asm: scrub potentially sentitive fields on the IAST report
  ddtrace/appsec/iast/_util.py
  ddtrace/appsec/iast/reporter.py
  ddtrace/appsec/iast/taint_sinks/_base.py
  ddtrace/appsec/iast/taint_sinks/sql_injection.py
  ddtrace/internal/utils/cache.py
  ddtrace/settings/config.py
  tests/appsec/iast/test_reporter.py
Owners: @DataDog/asm-python, @DataDog/apm-core-python

feat(asm): automatic user login events for Django (#5589)
  ddtrace/appsec/_constants.py
  ddtrace/appsec/trace_utils.py
  ddtrace/contrib/django/patch.py
  ddtrace/ext/__init__.py
  ddtrace/settings/config.py
  docs/configuration.rst
  releasenotes/notes/automatic-user-login-events-ded104398ff85a1d.yaml
  tests/appsec/test_appsec_trace_utils.py
  tests/contrib/django/test_django_appsec.py
  tests/utils.py
Owners: @DataDog/asm-python, @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py, @DataDog/apm-python

add LazyTaintList and recursivity in LazyTaintDict
  ddtrace/appsec/iast/_taint_utils.py
Owners: @DataDog/asm-python

test: fixes
  ddtrace/internal/ci_visibility/recorder.py
  tests/ci_visibility/test_ci_visibility.py
Owners: @DataDog/apm-core-python, @DataDog/ci-app-libraries, @DataDog/apm-framework-integrations-reviewers-py

fix recursion loop
  ddtrace/appsec/iast/_taint_utils.py
  tests/appsec/iast/test_taint_utils.py
Owners: @DataDog/asm-python

add tests and fix origins
  ddtrace/appsec/iast/_taint_utils.py
  tests/appsec/iast/test_taint_utils.py
Owners: @DataDog/asm-python

refactor: make code provenance internal
  ddtrace/internal/packages.py
  ddtrace/profiling/exporter/_packages.py
  ddtrace/profiling/exporter/pprof.pyx
  tests/internal/test_packages.py
  tests/profiling/exporter/test_packages.py
  tests/profiling/exporter/test_pprof.py
Owners: @DataDog/apm-core-python, @DataDog/profiling-python

fix: keep the sre_constants module
  ddtrace/bootstrap/sitecustomize.py
  releasenotes/notes/fix-re-unload-8770a3d497234243.yaml
  tests/commands/test_runner.py
Owners: @DataDog/apm-core-python, @DataDog/apm-python, @DataDog/apm-framework-integrations-reviewers-py

test: inherit context provider
  ddtrace/internal/ci_visibility/recorder.py
  ddtrace/provider.py
Owners: @DataDog/apm-core-python, @DataDog/ci-app-libraries

test: add --no-ddtrace option
  ddtrace/contrib/pytest/plugin.py
  riotfile.py
Owners: @DataDog/apm-core-python, @DataDog/ci-app-libraries, @DataDog/apm-python

Update CI parametric tests to use new parametric tests launcher
  .github/workflows/system-tests.yml
Owners: @DataDog/apm-core-python

test: set safe dir
  ddtrace/ext/git.py
  riotfile.py
  tests/ci_visibility/test_coverage.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py, @DataDog/apm-python

fix tests
  tests/contrib/djangorestframework/app/views.py
  tests/contrib/djangorestframework/test_appsec.py
  tests/contrib/flask/test_flask_appsec.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py, @DataDog/asm-python

test: decode payload of search_commits
  ddtrace/internal/ci_visibility/git_client.py
Owners: @DataDog/apm-core-python, @DataDog/ci-app-libraries

ci(django): disable failing test
  .github/workflows/test_frameworks.yml
Owners: @DataDog/apm-core-python

test: fix test_cover
  tests/ci_visibility/test_coverage.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

test: reuse repo_url if extracted
  ddtrace/ext/ci.py
  ddtrace/ext/git.py
Owners: @DataDog/apm-core-python, @DataDog/ci-app-libraries, @DataDog/apm-framework-integrations-reviewers-py

test: report itr skipped tests
  ddtrace/contrib/pytest/plugin.py
Owners: @DataDog/apm-core-python, @DataDog/ci-app-libraries

upload artifact name
  .github/workflows/system-tests.yml
Owners: @DataDog/apm-core-python

test: fix tests
  tests/contrib/pytest/test_pytest.py
  tests/integration/test_integration.py
Owners: @DataDog/apm-core-python, @DataDog/ci-app-libraries, @DataDog/apm-framework-integrations-reviewers-py

test: except ValueError
  ddtrace/internal/ci_visibility/git_client.py
Owners: @DataDog/apm-core-python, @DataDog/ci-app-libraries

test: pass keys explicitly in config
  .circleci/config.yml
Owners: @DataDog/apm-core-python

test: pass -e to docker compose
  .circleci/config.yml
  scripts/ddtest
Owners: @DataDog/apm-core-python

test: fix repo_url
  ddtrace/internal/ci_visibility/git_client.py
  scripts/ddtest
  tests/integration/test_integration.py
Owners: @DataDog/apm-core-python, @DataDog/ci-app-libraries, @DataDog/apm-framework-integrations-reviewers-py

test: refactor
  ddtrace/contrib/pytest/plugin.py
  ddtrace/ext/git.py
  tests/ci_visibility/test_ci_visibility.py
  tests/integration/test_integration.py
Owners: @DataDog/apm-core-python, @DataDog/ci-app-libraries, @DataDog/apm-framework-integrations-reviewers-py

test: fix tests
  tests/contrib/asynctest/test_asynctest.py
  tests/contrib/pytest/test_pytest.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py, @DataDog/ci-app-libraries

test: run safe dir before git commands
  ddtrace/ext/git.py
  tests/ci_visibility/test_coverage.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

test: add uid and gid to ddtest
  scripts/ddtest
  tests/ci_visibility/test_coverage.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

.github/CODEOWNERS:

# Order matters, the last matched is what is used

# APM Core Python is the default owner of all files
*                                   @DataDog/apm-core-python

# Framework Integrations
ddtrace/ext/                        @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
ddtrace/contrib/                    @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
ddtrace/internal/schema/            @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
tests/                              @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py

# Files which can be approved by anyone
# DEV: This helps not requiring apm-core-python to review new files added
#      or files which changes often with most PRs
releasenotes/                       @DataDog/apm-python
tests/snapshots/                    @DataDog/apm-python
riotfile.py                         @DataDog/apm-python

# Core
tests/internal                      @DataDog/apm-core-python
tests/lib-injection                 @DataDog/apm-core-python
tests/opentelemetry                 @DataDog/apm-core-python
tests/opentracer                    @DataDog/apm-core-python
tests/runtime                       @DataDog/apm-core-python
tests/tracer                        @DataDog/apm-core-python

# CI App
ddtrace/contrib/pytest/             @DataDog/apm-core-python @DataDog/ci-app-libraries
ddtrace/contrib/pytest_bdd/         @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/contrib/pytest                @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/contrib/pytest_bdd            @DataDog/apm-core-python @DataDog/ci-app-libraries
ddtrace/ext/ci.py                   @DataDog/apm-core-python @DataDog/ci-app-libraries
ddtrace/ext/test.py                 @DataDog/apm-core-python @DataDog/ci-app-libraries
ddtrace/internal/codeowners.py      @DataDog/apm-core-python @datadog/ci-app-libraries
ddtrace/internal/ci_visibility/     @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/internal/ci_visibility/       @DataDog/apm-core-python @DataDog/ci-app-libraries

# Debugger
ddtrace/debugging/                  @DataDog/debugger-python
ddtrace/settings/dynamic_instrumentation.py     @DataDog/debugger-python
ddtrace/internal/injection.py       @DataDog/debugger-python @DataDog/apm-core-python
ddtrace/internal/wrapping.py        @DataDog/debugger-python @DataDog/apm-core-python
ddtrace/internal/module.py          @DataDog/debugger-python @DataDog/apm-core-python
tests/debugging/                    @DataDog/debugger-python
tests/internal/test_injection.py    @DataDog/debugger-python @DataDog/apm-core-python
tests/internal/test_wrapping.py     @DataDog/debugger-python @DataDog/apm-core-python
tests/internal/test_module.py       @DataDog/debugger-python @DataDog/apm-core-python

# ASM
ddtrace/appsec/                     @DataDog/asm-python
ddtrace/contrib/subprocess/         @DataDog/asm-python
tests/appsec/                       @DataDog/asm-python
tests/contrib/dbapi/test_dbapi_appsec.py    @DataDog/asm-python
tests/contrib/subprocess            @DataDog/asm-python
tests/contrib/flask/test_flask_appsec.py    @DataDog/asm-python
tests/contrib/django/django_app/appsec_urls.py @DataDog/asm-python
tests/contrib/django/test_django_appsec.py  @DataDog/asm-python
tests/snapshots/tests*appsec*.json  @DataDog/asm-python
tests/contrib/*/test*appsec*.py     @DataDog/asm-python

# Profiling
ddtrace/profiling                   @DataDog/profiling-python @DataDog/apm-core-python
tests/profiling                     @DataDog/profiling-python @DataDog/apm-core-python

# Remote Config
ddtrace/internal/remoteconfig       @DataDog/remote-config @DataDog/apm-core-python
tests/internal/remoteconfig         @DataDog/remote-config @DataDog/apm-core-python

# Guild
# Note that core is added here since 2 reviewers are required. The guild isn't
# big enough to support if a guild member makes a change which means 2 other
# guild members have to review.
# We should enforce this for important files, but more frequently edited ones
# can settle for having 1 guild member review + a core team member.
setup.py                            @DataDog/python-guild
setup.cfg                           @DataDog/python-guild
pyproject.toml                      @DataDog/python-guild
.readthedocs.yml                    @DataDog/python-guild  @DataDog/apm-core-python
README.md                           @DataDog/python-guild  @DataDog/apm-core-python
mypy.ini                            @DataDog/python-guild  @DataDog/apm-core-python
.github/PULL_REQUEST_TEMPLATE.md    @DataDog/python-guild  @DataDog/apm-core-python
.github/ISSUE_TEMPLATE.md           @DataDog/python-guild  @DataDog/apm-core-python
.github/CODEOWNERS                  @DataDog/python-guild  @DataDog/apm-core-python
ddtrace/internal/compat.py          @DataDog/python-guild  @DataDog/apm-core-python
