Repository DataDog/dd-trace-py, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py, @DataDog/apm-python, @DataDog/ci-app-libraries, @datadog/ci-app-libraries, @DataDog/debugger-python, @DataDog/asm-python, @DataDog/profiling-python, @DataDog/remote-config, @DataDog/python-guild

hacking on making executioncontext data values read-only
  ddtrace/appsec/_asm_request_context.py
  ddtrace/internal/core.py
  tests/internal/test_context_events_api.py
Owners: @DataDog/apm-core-python

make telemetry work
  ddtrace/internal/telemetry/writer.py
  tests/telemetry/test_writer.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

chore(telemetry): track configurations that raise errors
  ddtrace/internal/telemetry/__init__.py
  ddtrace/internal/telemetry/writer.py
  tests/telemetry/test_telemetry.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

hacking on making executioncontext data values read-only
  ddtrace/appsec/_asm_request_context.py
  ddtrace/internal/core.py
  tests/internal/test_context_events_api.py
Owners: @DataDog/apm-core-python

hacking on making executioncontext data values read-only
  ddtrace/appsec/handlers.py
  ddtrace/contrib/flask/patch.py
  ddtrace/internal/core.py
Owners: @DataDog/apm-core-python

offer readonly api in core
  ddtrace/internal/core.py
  tests/internal/test_context_events_api.py
Owners: @DataDog/apm-core-python

chore(telemetry): change propagation telemetry event (#6246)
  ddtrace/internal/telemetry/constants.py
  ddtrace/internal/telemetry/writer.py
  tests/telemetry/test_writer.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

remove unused import
  tests/opentelemetry/conftest.py
Owners: @DataDog/apm-core-python

fix telemetry since tracecontext is appended with otel enabled
  tests/telemetry/test_writer.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

chore(wsgi): stop storing contextual asm data on wsgi spans (#6332)
  ddtrace/appsec/processor.py
  ddtrace/contrib/wsgi/wsgi.py
Owners: @DataDog/apm-core-python

handle BadRequest
  ddtrace/appsec/handlers.py
  ddtrace/contrib/flask/patch.py
  tests/contrib/flask/test_flask_appsec.py
Owners: @DataDog/apm-core-python, @DataDog/asm-python

chore(ci-visibility): revert cpp formatting
  ddtrace/appsec/iast/_taint_tracking/TaintTracking/Source.cpp
Owners: @DataDog/apm-core-python

chore(ci-visibility): remove duplicated code
  ddtrace/contrib/pytest/plugin.py
Owners: @DataDog/apm-core-python

chore(vi-visibility): fix tests
  tests/ci_visibility/test_coverage_per_suite.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

fix(propagation): change default propagation to datadog (#6256)
  ddtrace/internal/constants.py
  ddtrace/settings/config.py
  docs/configuration.rst
  docs/spelling_wordlist.txt
  releasenotes/notes/change_prop_def_to_datadog-9c48ccb8d6ab4de7.yaml
  riotfile.py
  tests/contrib/urllib3/test_urllib3.py
  tests/opentelemetry/conftest.py
  tests/telemetry/test_writer.py
  tests/tracer/test_propagation.py
Owners: @DataDog/apm-core-python, @DataDog/apm-python, @DataDog/apm-framework-integrations-reviewers-py

chore(telemetry): avoid using both ddtrace.auto and ddtrace-run in test
  tests/telemetry/test_writer.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

fmt
  tests/telemetry/test_telemetry.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

Add command injection detection
  ddtrace/appsec/iast/constants.py
  ddtrace/appsec/iast/taint_sinks/command_injection.py
  ddtrace/contrib/subprocess/patch.py
  tests/appsec/iast/test_command_injection.py
  tests/contrib/subprocess/test_subprocess.py
Owners: @DataDog/apm-core-python, @DataDog/asm-python

avoid in-function imports
  ddtrace/appsec/_asm_request_context.py
  ddtrace/appsec/handlers.py
Owners: @DataDog/apm-core-python

chore(telemetry): remove traceback from failing telemetry errors
  ddtrace/internal/telemetry/writer.py
Owners: @DataDog/apm-core-python

chore(telemetry): track tracer configurations [part 1]
  ddtrace/appsec/utils.py
  ddtrace/bootstrap/sitecustomize.py
  ddtrace/commands/ddtrace_run.py
  ddtrace/debugging/_debugger.py
  ddtrace/internal/_encoding.pyi
  ddtrace/internal/remoteconfig/worker.py
  ddtrace/internal/sampling.py
  ddtrace/internal/telemetry/constants.py
  ddtrace/internal/telemetry/writer.py
  ddtrace/settings/config.py
  ddtrace/tracer.py
  tests/telemetry/test_writer.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

resolve circular imports
  ddtrace/internal/constants.py
  ddtrace/internal/sampling.py
  ddtrace/internal/utils/http.py
Owners: @DataDog/apm-core-python

permissions
  .github/workflows/lib-injection.yml
  lib-injection/Dockerfile
  lib-injection/README.md
  lib-injection/docker-compose.yml
  lib-injection/sitecustomize.py
  releasenotes/notes/lib-injection-non-root-981fd87f97d3e552.yaml
  tests/lib-injection/dd-lib-python-init-test-django-pre-installed/Dockerfile
Owners: @DataDog/apm-core-python, @DataDog/python-guild, @DataDog/apm-python

chore(telemetry): change propagation telemetry event (#6246)
  ddtrace/internal/telemetry/constants.py
  ddtrace/internal/telemetry/writer.py
  tests/telemetry/test_writer.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

cleanup logic & fix tests
  ddtrace/internal/serverless/mini_agent.py
  tests/internal/test_serverless.py
  tests/utils.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

fix(propagation): change default propagation to datadog (#6256)
  ddtrace/internal/constants.py
  ddtrace/internal/telemetry/writer.py
  ddtrace/settings/config.py
  docs/configuration.rst
  docs/spelling_wordlist.txt
  releasenotes/notes/change_prop_def_to_datadog-9c48ccb8d6ab4de7.yaml
  riotfile.py
  tests/contrib/urllib3/test_urllib3.py
  tests/opentelemetry/conftest.py
  tests/telemetry/test_writer.py
  tests/tracer/test_propagation.py
Owners: @DataDog/apm-core-python, @DataDog/apm-python, @DataDog/apm-framework-integrations-reviewers-py

remove debugging logline
  ddtrace/internal/serverless/mini_agent.py
Owners: @DataDog/apm-core-python

lint
  ddtrace/internal/serverless/mini_agent.py
  ddtrace/settings/config.py
  tests/internal/test_serverless.py
Owners: @DataDog/apm-core-python

add import that got missed in merge
  ddtrace/internal/telemetry/constants.py
  tests/telemetry/test_writer.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

Update mini_agent.py
  ddtrace/internal/serverless/mini_agent.py
Owners: @DataDog/apm-core-python

fix config order
  tests/telemetry/test_writer.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

lint
  ddtrace/internal/serverless/mini_agent.py
Owners: @DataDog/apm-core-python

Update mini_agent.py
  ddtrace/internal/serverless/mini_agent.py
Owners: @DataDog/apm-core-python

chore(flask): remove appsec code from flask contrib (#6333)
  ddtrace/appsec/_asm_request_context.py
  ddtrace/appsec/handlers.py
  ddtrace/contrib/flask/patch.py
  ddtrace/contrib/flask/wrappers.py
  tests/contrib/flask/test_flask_appsec.py
Owners: @DataDog/apm-core-python, @DataDog/asm-python

Separate out site-packages by platform
  .github/workflows/lib-injection.yml
  lib-injection/Dockerfile
  lib-injection/dl_wheels.py
  lib-injection/docker-compose.yml
  lib-injection/sitecustomize.py
  tests/lib-injection/dd-lib-python-init-test-django-gunicorn-alpine/Dockerfile
  tests/lib-injection/dd-lib-python-init-test-django-gunicorn-alpine/django_app.py
Owners: @DataDog/apm-core-python

fix merge
  tests/telemetry/test_writer.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

fix merge resolution
  ddtrace/appsec/_asm_request_context.py
Owners: @DataDog/apm-core-python

revert site-packages split
  .github/workflows/lib-injection.yml
  lib-injection/dl_wheels.py
  lib-injection/docker-compose.yml
  lib-injection/sitecustomize.py
Owners: @DataDog/apm-core-python

Back to site-package splitting
  lib-injection/dl_wheels.py
  lib-injection/sitecustomize.py
Owners: @DataDog/apm-core-python

unused import
  ddtrace/appsec/handlers.py
Owners: @DataDog/apm-core-python

.github/CODEOWNERS:

# Order matters, the last matched is what is used

# APM Core Python is the default owner of all files
*                                   @DataDog/apm-core-python

# Framework Integrations
src/ddtrace/ext/                        @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
src/ddtrace/contrib/                    @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
src/ddtrace/internal/schema/            @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
tests/                              @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py

# Files which can be approved by anyone
# DEV: This helps not requiring apm-core-python to review new files added
#      or files which changes often with most PRs
releasenotes/                       @DataDog/apm-python
tests/snapshots/                    @DataDog/apm-python
riotfile.py                         @DataDog/apm-python

# Core
tests/internal                      @DataDog/apm-core-python
tests/lib-injection                 @DataDog/apm-core-python
tests/opentelemetry                 @DataDog/apm-core-python
tests/opentracer                    @DataDog/apm-core-python
tests/runtime                       @DataDog/apm-core-python
tests/tracer                        @DataDog/apm-core-python

# CI App
src/ddtrace/contrib/pytest/             @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/contrib/pytest_bdd/         @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/contrib/pytest                @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/contrib/pytest_bdd            @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/ext/ci.py                   @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/ext/test.py                 @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/internal/codeowners.py      @DataDog/apm-core-python @datadog/ci-app-libraries
src/ddtrace/internal/ci_visibility/     @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/internal/ci_visibility/       @DataDog/apm-core-python @DataDog/ci-app-libraries

# Debugger
src/ddtrace/debugging/                  @DataDog/debugger-python
src/ddtrace/settings/dynamic_instrumentation.py     @DataDog/debugger-python
src/ddtrace/internal/injection.py       @DataDog/debugger-python @DataDog/apm-core-python
src/ddtrace/internal/wrapping.py        @DataDog/debugger-python @DataDog/apm-core-python
src/ddtrace/internal/module.py          @DataDog/debugger-python @DataDog/apm-core-python
tests/debugging/                    @DataDog/debugger-python
tests/internal/test_injection.py    @DataDog/debugger-python @DataDog/apm-core-python
tests/internal/test_wrapping.py     @DataDog/debugger-python @DataDog/apm-core-python
tests/internal/test_module.py       @DataDog/debugger-python @DataDog/apm-core-python

# ASM
src/ddtrace/appsec/                     @DataDog/asm-python
src/ddtrace/contrib/subprocess/         @DataDog/asm-python
tests/appsec/                       @DataDog/asm-python
tests/contrib/dbapi/test_dbapi_appsec.py    @DataDog/asm-python
tests/contrib/subprocess            @DataDog/asm-python
tests/contrib/flask/test_flask_appsec.py    @DataDog/asm-python
tests/contrib/django/django_app/appsec_urls.py @DataDog/asm-python
tests/contrib/django/test_django_appsec.py  @DataDog/asm-python
tests/snapshots/tests*appsec*.json  @DataDog/asm-python
tests/contrib/*/test*appsec*.py     @DataDog/asm-python

# Profiling
src/ddtrace/profiling                   @DataDog/profiling-python @DataDog/apm-core-python
tests/profiling                     @DataDog/profiling-python @DataDog/apm-core-python

# Remote Config
src/ddtrace/internal/remoteconfig       @DataDog/remote-config @DataDog/apm-core-python
tests/internal/remoteconfig         @DataDog/remote-config @DataDog/apm-core-python

# Guild
# Note that core is added here since 2 reviewers are required. The guild isn't
# big enough to support if a guild member makes a change which means 2 other
# guild members have to review.
# We should enforce this for important files, but more frequently edited ones
# can settle for having 1 guild member review + a core team member.
setup.py                            @DataDog/python-guild
setup.cfg                           @DataDog/python-guild
pyproject.toml                      @DataDog/python-guild
.readthedocs.yml                    @DataDog/python-guild  @DataDog/apm-core-python
README.md                           @DataDog/python-guild  @DataDog/apm-core-python
mypy.ini                            @DataDog/python-guild  @DataDog/apm-core-python
.github/PULL_REQUEST_TEMPLATE.md    @DataDog/python-guild  @DataDog/apm-core-python
.github/ISSUE_TEMPLATE.md           @DataDog/python-guild  @DataDog/apm-core-python
.github/CODEOWNERS                  @DataDog/python-guild  @DataDog/apm-core-python
src/ddtrace/internal/compat.py          @DataDog/python-guild  @DataDog/apm-core-python
