Repository DataDog/dd-trace-py, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py, @DataDog/apm-python, @DataDog/ci-app-libraries, @datadog/ci-app-libraries, @DataDog/debugger-python, @DataDog/asm-python, @DataDog/profiling-python, @DataDog/remote-config, @DataDog/python-guild

.github/CODEOWNERS:

# Order matters, the last matched is what is used

# APM Core Python is the default owner of all files
*                                   @DataDog/apm-core-python

# Framework Integrations
ddtrace/ext/                        @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
ddtrace/contrib/                    @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
ddtrace/internal/schema/            @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
tests/                              @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py

# Files which can be approved by anyone
# DEV: This helps not requiring apm-core-python to review new files added
#      or files which changes often with most PRs
releasenotes/                       @DataDog/apm-python
tests/snapshots/                    @DataDog/apm-python
riotfile.py                         @DataDog/apm-python

# Core
tests/internal                      @DataDog/apm-core-python
tests/lib-injection                 @DataDog/apm-core-python
tests/opentelemetry                 @DataDog/apm-core-python
tests/opentracer                    @DataDog/apm-core-python
tests/runtime                       @DataDog/apm-core-python
tests/tracer                        @DataDog/apm-core-python

# CI App
ddtrace/contrib/pytest/             @DataDog/apm-core-python @DataDog/ci-app-libraries
ddtrace/contrib/pytest_bdd/         @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/contrib/pytest                @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/contrib/pytest_bdd            @DataDog/apm-core-python @DataDog/ci-app-libraries
ddtrace/ext/ci.py                   @DataDog/apm-core-python @DataDog/ci-app-libraries
ddtrace/ext/test.py                 @DataDog/apm-core-python @DataDog/ci-app-libraries
ddtrace/internal/codeowners.py      @DataDog/apm-core-python @datadog/ci-app-libraries
ddtrace/internal/ci_visibility/     @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/internal/ci_visibility/       @DataDog/apm-core-python @DataDog/ci-app-libraries

# Debugger
ddtrace/debugging/                  @DataDog/debugger-python
ddtrace/settings/dynamic_instrumentation.py     @DataDog/debugger-python
ddtrace/internal/injection.py       @DataDog/debugger-python @DataDog/apm-core-python
ddtrace/internal/wrapping.py        @DataDog/debugger-python @DataDog/apm-core-python
ddtrace/internal/module.py          @DataDog/debugger-python @DataDog/apm-core-python
tests/debugging/                    @DataDog/debugger-python
tests/internal/test_injection.py    @DataDog/debugger-python @DataDog/apm-core-python
tests/internal/test_wrapping.py     @DataDog/debugger-python @DataDog/apm-core-python
tests/internal/test_module.py       @DataDog/debugger-python @DataDog/apm-core-python

# ASM
ddtrace/appsec/                     @DataDog/asm-python
ddtrace/contrib/subprocess/         @DataDog/asm-python
tests/appsec/                       @DataDog/asm-python
tests/contrib/dbapi/test_dbapi_appsec.py    @DataDog/asm-python
tests/contrib/subprocess            @DataDog/asm-python
tests/contrib/flask/test_flask_appsec.py    @DataDog/asm-python
tests/contrib/django/django_app/appsec_urls.py @DataDog/asm-python
tests/contrib/django/test_django_appsec.py  @DataDog/asm-python
tests/snapshots/tests*appsec*.json  @DataDog/asm-python
tests/contrib/*/test*appsec*.py     @DataDog/asm-python

# Profiling
ddtrace/profiling                   @DataDog/profiling-python @DataDog/apm-core-python
tests/profiling                     @DataDog/profiling-python @DataDog/apm-core-python

# Remote Config
ddtrace/internal/remoteconfig       @DataDog/remote-config @DataDog/apm-core-python
tests/internal/remoteconfig         @DataDog/remote-config @DataDog/apm-core-python

# Guild
# Note that core is added here since 2 reviewers are required. The guild isn't
# big enough to support if a guild member makes a change which means 2 other
# guild members have to review.
# We should enforce this for important files, but more frequently edited ones
# can settle for having 1 guild member review + a core team member.
setup.py                            @DataDog/python-guild
setup.cfg                           @DataDog/python-guild
pyproject.toml                      @DataDog/python-guild
.readthedocs.yml                    @DataDog/python-guild  @DataDog/apm-core-python
README.md                           @DataDog/python-guild  @DataDog/apm-core-python
mypy.ini                            @DataDog/python-guild  @DataDog/apm-core-python
.github/PULL_REQUEST_TEMPLATE.md    @DataDog/python-guild  @DataDog/apm-core-python
.github/ISSUE_TEMPLATE.md           @DataDog/python-guild  @DataDog/apm-core-python
.github/CODEOWNERS                  @DataDog/python-guild  @DataDog/apm-core-python
ddtrace/internal/compat.py          @DataDog/python-guild  @DataDog/apm-core-python

deduplicate
  ddtrace/appsec/_asm_request_context.py
Owners: @DataDog/asm-python

Add testing for logs, metrics
  ddtrace/contrib/langchain/patch.py
  tests/contrib/langchain/test_langchain.py
  tests/snapshots/tests.contrib.langchain.test_langchain.test_ai21_llm_sync.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_cohere_llm_sync.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_cohere_math_chain.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_fake_embedding_document.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_fake_embedding_query.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_huggingfacehub_llm_sync.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_chat_model_call.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_chat_model_generate.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_chat_model_stream.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_embedding_document.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_embedding_query.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_integration.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_llm_async.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_llm_error.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_llm_stream.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_llm_sync.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_llm_sync_multiple_prompts.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_math_chain.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_sequential_chain.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_sequential_chain_with_multiple_llm_async.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_sequential_chain_with_multiple_llm_sync.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_pinecone_vectorstore_retrieval_chain.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_pinecone_vectorstore_similarity_search.json
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py, @DataDog/apm-python

remove global variable
  ddtrace/appsec/_asm_request_context.py
  ddtrace/internal/core.py
Owners: @DataDog/asm-python, @DataDog/apm-core-python

remove extraneous span_asm_context attribute
  ddtrace/appsec/_asm_request_context.py
  ddtrace/appsec/processor.py
Owners: @DataDog/asm-python

stop storing a span in asm context
  ddtrace/appsec/_asm_request_context.py
  ddtrace/contrib/wsgi/wsgi.py
  tests/snapshots/tests.contrib.flask.test_appsec_flask_snapshot.test_flask_userblock_match_200_json[flask_appsec_good_rules_env].json
  tests/snapshots/tests.contrib.flask.test_appsec_flask_snapshot.test_flask_userblock_match_200_json[flask_appsec_good_rules_env]_220.json
Owners: @DataDog/asm-python, @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

remove the notion of spans from asm request context module
  ddtrace/appsec/_asm_request_context.py
  ddtrace/appsec/processor.py
  ddtrace/contrib/trace_utils.py
Owners: @DataDog/asm-python, @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

make root interface nicer
  ddtrace/appsec/_asm_request_context.py
  ddtrace/internal/core.py
Owners: @DataDog/asm-python, @DataDog/apm-core-python

change propagation telemetry to align with rfc
  ddtrace/internal/telemetry/writer.py
  tests/telemetry/test_writer.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

test: remove unexpected tags
  tests/contrib/flask/test_appsec_flask_snapshot.py
  tests/snapshots/tests.contrib.flask.test_appsec_flask_snapshot.test_flask_userblock_match_200_json[flask_appsec_good_rules_env].json
  tests/snapshots/tests.contrib.flask.test_appsec_flask_snapshot.test_flask_userblock_match_200_json[flask_appsec_good_rules_env]_220.json
Owners: @DataDog/asm-python

lib-injection
  .github/workflows/lib-injection.yml
Owners: @DataDog/apm-core-python

fix codestyle
  tests/contrib/flask/test_flask_appsec_telemetry.py
Owners: @DataDog/asm-python

add runtime id for probe status messages
  ddtrace/debugging/_probe/status.py
  tests/debugging/probe/test_registry.py
  tests/debugging/probe/test_status.py
Owners: @DataDog/debugger-python

chore(ci-visibility): add ini value line to config
  ddtrace/contrib/pytest/plugin.py
  tests/contrib/pytest/test_pytest.py
Owners: @DataDog/apm-core-python, @DataDog/ci-app-libraries

chore(ci-visibility): enable ITR
  riotfile.py
Owners: @DataDog/apm-python

fix(profiling): handle known HTTP request errors
  ddtrace/profiling/exporter/http.py
  releasenotes/notes/fix-profiler-handle-request-errors-45a1917365c5b512.yaml
  tests/profiling/exporter/test_http.py
Owners: @DataDog/profiling-python, @DataDog/apm-core-python, @DataDog/apm-python

fix tests
  tests/appsec/iast/conftest.py
  tests/appsec/iast/test_telemety.py
Owners: @DataDog/asm-python

docs: add dynamic instrumentation to README
  README.md
Owners: @DataDog/python-guild, @DataDog/apm-core-python

fix tests
  tests/appsec/iast/test_telemety.py
Owners: @DataDog/asm-python

test: disable agentless
  riotfile.py
Owners: @DataDog/apm-python

fix codestyle
  tests/appsec/iast/test_telemety.py
Owners: @DataDog/asm-python

fix tests
  tests/appsec/iast/conftest.py
Owners: @DataDog/asm-python

test: try to get dd_api_key
  riotfile.py
Owners: @DataDog/apm-python

fix lint
  tests/debugging/probe/test_status.py
Owners: @DataDog/debugger-python

test: add exceptiongroup dep
  setup.py
Owners: @DataDog/python-guild

fix tests
  tests/appsec/iast/conftest.py
Owners: @DataDog/asm-python

test: debug jinja2
  riotfile.py
Owners: @DataDog/apm-python

test: log cli level debug
  riotfile.py
Owners: @DataDog/apm-python

Fix configuration debug call
  ddtrace/tracer.py
Owners: @DataDog/apm-core-python

test: pass DD_SERVICE
  riotfile.py
Owners: @DataDog/apm-python

Specify latest typing-extensions
  .riot/requirements/11b6d79.txt
  .riot/requirements/127d8b4.txt
  .riot/requirements/12b0262.txt
  .riot/requirements/12c6f65.txt
  .riot/requirements/131b01d.txt
  .riot/requirements/134bed0.txt
  .riot/requirements/1427229.txt
  .riot/requirements/14b8cbe.txt
  .riot/requirements/152c052.txt
  .riot/requirements/1692bd3.txt
  .riot/requirements/169d74e.txt
  .riot/requirements/1737be8.txt
  .riot/requirements/186a1b5.txt
  .riot/requirements/186f3c8.txt
  .riot/requirements/18cbf68.txt
  .riot/requirements/1943579.txt
  .riot/requirements/1b12e9e.txt
  .riot/requirements/1bed2b2.txt
  .riot/requirements/1ee1d52.txt
  .riot/requirements/1ee2224.txt
  .riot/requirements/1f7ec7d.txt
  .riot/requirements/20babc9.txt
  .riot/requirements/345f42d.txt
  .riot/requirements/352ae2b.txt
  .riot/requirements/49894f1.txt
  .riot/requirements/4b6364f.txt
  .riot/requirements/4ed41b4.txt
  .riot/requirements/591784b.txt
  .riot/requirements/61a20a1.txt
  .riot/requirements/63ac241.txt
  .riot/requirements/7731a63.txt
  .riot/requirements/9c81b27.txt
  .riot/requirements/a6e48ee.txt
  .riot/requirements/b436a80.txt
  .riot/requirements/d3fd547.txt
  .riot/requirements/e6acf18.txt
  .riot/requirements/f5a5572.txt
  riotfile.py
Owners: @DataDog/apm-core-python, @DataDog/apm-python

test: CI_DD_API_KEY
  riotfile.py
Owners: @DataDog/apm-python

Update docs/configuration.rst
  docs/configuration.rst
Owners: @DataDog/apm-core-python

Fix celery exceptiongroup not found import
  .riot/requirements/b7ac594.txt
Owners: @DataDog/apm-core-python

test: remove jinja2 specifics
  riotfile.py
Owners: @DataDog/apm-python

Add exceptiongroup spec for flask tests
  .riot/requirements/11ee002.txt
  .riot/requirements/8f570cd.txt
Owners: @DataDog/apm-core-python

fmting
  scripts/release.py
Owners: @DataDog/apm-core-python

Fix failing snapshot tests, add apikey to documentation
  ddtrace/contrib/langchain/__init__.py
  tests/snapshots/tests.contrib.langchain.test_langchain.test_cohere_math_chain.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_huggingfacehub_llm_sync.json
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py, @DataDog/apm-python

Specify exceptiongroup in lockfiles
  .riot/requirements/11ee002.txt
  .riot/requirements/8f570cd.txt
  .riot/requirements/b7ac594.txt
Owners: @DataDog/apm-core-python

change default propagation style and update tests
  ddtrace/internal/constants.py
  tests/tracer/test_propagation.py
Owners: @DataDog/apm-core-python

add release note
  releasenotes/notes/change_prop_def_to_datadog-9c48ccb8d6ab4de7.yaml
Owners: @DataDog/apm-python
