Repository DataDog/dd-trace-py, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py, @DataDog/apm-python, @DataDog/ci-app-libraries, @datadog/ci-app-libraries, @DataDog/debugger-python, @DataDog/asm-python, @DataDog/profiling-python, @DataDog/remote-config, @DataDog/python-guild

Update lib-injection/sitecustomize.py
  lib-injection/sitecustomize.py
Owners: @DataDog/apm-core-python

Docs, cleanup
  lib-injection/README.md
  lib-injection/sitecustomize.py
Owners: @DataDog/python-guild, @DataDog/apm-core-python

reapply
  ddtrace/apm/trace_handlers.py
  ddtrace/appsec/_asm_request_context.py
  ddtrace/appsec/handlers.py
  ddtrace/contrib/flask/patch.py
Owners: @DataDog/apm-core-python

fix(lib-injection): support non-root users (#6047)
  .github/workflows/lib-injection.yml
  .gitlab/build-deb-rpm.sh
  lib-injection/README.md
  lib-injection/dl_wheels.py
  lib-injection/docker-compose.yml
  lib-injection/sitecustomize.py
  releasenotes/notes/lib-injection-non-root-981fd87f97d3e552.yaml
  tests/lib-injection/dd-lib-python-init-test-django-gunicorn-alpine/Dockerfile
  tests/lib-injection/dd-lib-python-init-test-django-gunicorn-alpine/django_app.py
  tests/lib-injection/dd-lib-python-init-test-django-no-perms/Dockerfile
  tests/lib-injection/dd-lib-python-init-test-django-no-perms/django_app.py
  tests/lib-injection/dd-lib-python-init-test-django-pre-installed/Dockerfile
  tests/lib-injection/dd-lib-python-init-test-django-pre-installed/django_app.py
Owners: @DataDog/apm-core-python, @DataDog/python-guild, @DataDog/apm-python

fix lib injection
  .github/workflows/lib-injection.yml
  .gitlab/build-deb-rpm.sh
  lib-injection/README.md
  lib-injection/dl_wheels.py
  lib-injection/docker-compose.yml
  lib-injection/sitecustomize.py
  releasenotes/notes/lib-injection-non-root-981fd87f97d3e552.yaml
  tests/lib-injection/dd-lib-python-init-test-django-gunicorn-alpine/Dockerfile
  tests/lib-injection/dd-lib-python-init-test-django-gunicorn-alpine/django_app.py
  tests/lib-injection/dd-lib-python-init-test-django-no-perms/Dockerfile
  tests/lib-injection/dd-lib-python-init-test-django-no-perms/django_app.py
  tests/lib-injection/dd-lib-python-init-test-django-pre-installed/Dockerfile
  tests/lib-injection/dd-lib-python-init-test-django-pre-installed/django_app.py
Owners: @DataDog/apm-core-python, @DataDog/python-guild, @DataDog/apm-python

add test and endpoint, still need to figure out how to get timeout
  tests/contrib/django/django1_app/urls.py
  tests/contrib/django/django_app/urls.py
  tests/contrib/django/test_django_snapshots.py
  tests/contrib/django/views.py
  tests/snapshots/tests.contrib.django.test_django_snapshots.test_django_resource_w_timeout_3x.json
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py, @DataDog/apm-python

chore: skip installing dev package for wait job
  riotfile.py
Owners: @DataDog/apm-python

missing listener
  ddtrace/appsec/handlers.py
Owners: @DataDog/apm-core-python

fixing infinite recursion on 3.6
  ddtrace/contrib/flask/patch.py
Owners: @DataDog/apm-core-python

fix(ci): ensure correct test run patterns are used for mysql jobs
  .circleci/config.yml
  riotfile.py
Owners: @DataDog/apm-core-python, @DataDog/apm-python

chore(internal): improve build times of IAST native code
  setup.py
Owners: @DataDog/python-guild

refactor(profiling): use PY_VERSION_HEX macro (#6386)
  ddtrace/profiling/collector/_pymacro.h
  ddtrace/profiling/collector/_traceback.pyx
  ddtrace/profiling/collector/stack.pyx
  setup.py
Owners: @DataDog/apm-core-python, @DataDog/python-guild

fix(debugging): handle null literal in expressions (#6388)
  ddtrace/debugging/_expressions.py
  releasenotes/notes/fix-debugger-expressions-none-literal-30f3328d2e386f40.yaml
  tests/debugging/test_expressions.py
Owners: @DataDog/apm-core-python, @DataDog/apm-python, @DataDog/debugger-python

fix(debugging): handle null literal in expressions (#6388)
  ddtrace/debugging/_expressions.py
  releasenotes/notes/fix-debugger-expressions-none-literal-30f3328d2e386f40.yaml
  tests/debugging/test_expressions.py
Owners: @DataDog/apm-core-python, @DataDog/apm-python, @DataDog/debugger-python

chore: remove unused benchmarks
  riotfile.py
  tests/benchmarks/__init__.py
  tests/benchmarks/test_encoding.py
  tests/benchmarks/test_glob_matching.py
  tests/benchmarks/test_span_id.py
  tests/benchmarks/test_tracer.py
Owners: @DataDog/apm-python, @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

fix merge
  ddtrace/appsec/handlers.py
Owners: @DataDog/apm-core-python

feat: update release notes
  releasenotes/notes/asm-iast-report-scrubbing-ef2aa1d74f866656.yaml
Owners: @DataDog/apm-python

update future flag name from RFC changees
  ddtrace/settings/config.py
Owners: @DataDog/apm-core-python

feat: rollback flask and django
  ddtrace/contrib/django/patch.py
  ddtrace/contrib/flask/patch.py
Owners: @DataDog/apm-core-python

feat: rollback flask and django
  tests/contrib/django_celery/test_django_celery.py
  tests/contrib/flask/test_flask_appsec_telemetry.py
  tests/contrib/flask/test_request.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py, @DataDog/asm-python

feat: rollback flask and django
  tests/contrib/django_celery/test_django_celery.py
  tests/contrib/djangorestframework/app/views.py
  tests/contrib/djangorestframework/test_appsec.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py, @DataDog/asm-python

Add features to release note
  releasenotes/notes/fix-codefresh-integration-563b8075e71881e4.yaml
Owners: @DataDog/apm-python

fix codestyle
  tests/contrib/flask/test_flask_appsec_telemetry.py
Owners: @DataDog/asm-python

fix tests
  tests/contrib/flask/test_flask_appsec.py
Owners: @DataDog/asm-python

Fix tests to account for API-based ITR enablement
  ddtrace/internal/ci_visibility/recorder.py
  tests/ci_visibility/test_ci_visibility.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

Fix tests to account for API-based ITR enablement - fmt fix
  tests/ci_visibility/test_ci_visibility.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

Delete requirements txt file
  .riot/requirements/c0a1c9e.txt
Owners: @DataDog/apm-core-python

fix(ci): improve CircleCI job duration (#6436)
  .circleci/config.yml
  riotfile.py
Owners: @DataDog/apm-core-python, @DataDog/apm-python

fix tests
  tests/appsec/iast/taint_tracking/test_native_taint_range.py
  tests/contrib/flask/test_flask_appsec.py
Owners: @DataDog/asm-python

fix tests
  ddtrace/appsec/iast/_ast/visitor.py
  ddtrace/appsec/iast/taint_sinks/path_traversal.py
  tests/appsec/iast/taint_tracking/test_native_taint_range.py
  tests/appsec/iast/test_path_traversal.py
  tests/contrib/flask/test_flask_appsec.py
Owners: @DataDog/apm-core-python, @DataDog/asm-python

fix tests
  ddtrace/appsec/iast/taint_sinks/path_traversal.py
  tests/appsec/iast/test_path_traversal.py
Owners: @DataDog/apm-core-python, @DataDog/asm-python

Fix unit tests, delete ones that gate whether or not to check features based on env var
  tests/ci_visibility/test_ci_visibility.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

fix tests
  ddtrace/appsec/iast/_ast/visitor.py
  ddtrace/appsec/iast/_taint_tracking/__init__.py
  ddtrace/appsec/iast/taint_sinks/__init__.py
  tests/appsec/iast/ast/test_ast_patching.py
  tests/contrib/flask/test_flask_appsec.py
Owners: @DataDog/apm-core-python, @DataDog/asm-python

fix tests
  tests/contrib/flask/test_flask_appsec.py
Owners: @DataDog/asm-python

Move APP key check up in logic
  ddtrace/internal/ci_visibility/recorder.py
Owners: @DataDog/apm-core-python

chore(langchain/openai): enable service naming (#6407)
  ddtrace/contrib/openai/patch.py
  tests/contrib/langchain/test_langchain.py
  tests/contrib/openai/test_openai.py
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_service_name[None-None].json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_service_name[None-v0].json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_service_name[None-v1].json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_service_name[mysvc-None].json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_service_name[mysvc-v0].json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_service_name[mysvc-v1].json
  tests/snapshots/tests.contrib.openai.test_openai.test_integration_service_name[None-None].json
  tests/snapshots/tests.contrib.openai.test_openai.test_integration_service_name[None-v0].json
  tests/snapshots/tests.contrib.openai.test_openai.test_integration_service_name[None-v1].json
  tests/snapshots/tests.contrib.openai.test_openai.test_integration_service_name[mysvc-None].json
  tests/snapshots/tests.contrib.openai.test_openai.test_integration_service_name[mysvc-v0].json
  tests/snapshots/tests.contrib.openai.test_openai.test_integration_service_name[mysvc-v1].json
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py, @DataDog/apm-python

chore(langchain/openai): enable service naming (#6407)
  ddtrace/contrib/openai/patch.py
  tests/contrib/langchain/test_langchain.py
  tests/contrib/openai/test_openai.py
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_service_name[None-None].json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_service_name[None-v0].json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_service_name[None-v1].json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_service_name[mysvc-None].json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_service_name[mysvc-v0].json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_service_name[mysvc-v1].json
  tests/snapshots/tests.contrib.openai.test_openai.test_integration_service_name[None-None].json
  tests/snapshots/tests.contrib.openai.test_openai.test_integration_service_name[None-v0].json
  tests/snapshots/tests.contrib.openai.test_openai.test_integration_service_name[None-v1].json
  tests/snapshots/tests.contrib.openai.test_openai.test_integration_service_name[mysvc-None].json
  tests/snapshots/tests.contrib.openai.test_openai.test_integration_service_name[mysvc-v0].json
  tests/snapshots/tests.contrib.openai.test_openai.test_integration_service_name[mysvc-v1].json
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py, @DataDog/apm-python

Upgrade riot dependency for CI to 0.17.5
  .circleci/config.yml
  .riot/requirements/12a8577.txt
  riotfile.py
  scripts/ddtest
Owners: @DataDog/apm-core-python, @DataDog/apm-python

fix tests
  tests/appsec/iast/ast/test_ast_patching.py
  tests/appsec/iast/test_path_traversal.py
Owners: @DataDog/asm-python

chore(ci): remove installation test of ccheck
  .circleci/config.yml
Owners: @DataDog/apm-core-python

.github/CODEOWNERS:

# Order matters, the last matched is what is used

# APM Core Python is the default owner of all files
*                                   @DataDog/apm-core-python

# Framework Integrations
src/ddtrace/ext/                        @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
src/ddtrace/contrib/                    @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
src/ddtrace/internal/schema/            @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
tests/                              @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py

# Files which can be approved by anyone
# DEV: This helps not requiring apm-core-python to review new files added
#      or files which changes often with most PRs
releasenotes/                       @DataDog/apm-python
tests/snapshots/                    @DataDog/apm-python
riotfile.py                         @DataDog/apm-python

# Core
tests/internal                      @DataDog/apm-core-python
tests/lib-injection                 @DataDog/apm-core-python
tests/opentelemetry                 @DataDog/apm-core-python
tests/opentracer                    @DataDog/apm-core-python
tests/runtime                       @DataDog/apm-core-python
tests/tracer                        @DataDog/apm-core-python

# CI App
src/ddtrace/contrib/pytest/             @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/contrib/pytest_bdd/         @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/contrib/pytest                @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/contrib/pytest_bdd            @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/ext/ci.py                   @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/ext/test.py                 @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/internal/codeowners.py      @DataDog/apm-core-python @datadog/ci-app-libraries
src/ddtrace/internal/ci_visibility/     @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/internal/ci_visibility/       @DataDog/apm-core-python @DataDog/ci-app-libraries

# Debugger
src/ddtrace/debugging/                  @DataDog/debugger-python
src/ddtrace/settings/dynamic_instrumentation.py     @DataDog/debugger-python
src/ddtrace/internal/injection.py       @DataDog/debugger-python @DataDog/apm-core-python
src/ddtrace/internal/wrapping.py        @DataDog/debugger-python @DataDog/apm-core-python
src/ddtrace/internal/module.py          @DataDog/debugger-python @DataDog/apm-core-python
tests/debugging/                    @DataDog/debugger-python
tests/internal/test_injection.py    @DataDog/debugger-python @DataDog/apm-core-python
tests/internal/test_wrapping.py     @DataDog/debugger-python @DataDog/apm-core-python
tests/internal/test_module.py       @DataDog/debugger-python @DataDog/apm-core-python

# ASM
src/ddtrace/appsec/                     @DataDog/asm-python
src/ddtrace/contrib/subprocess/         @DataDog/asm-python
tests/appsec/                       @DataDog/asm-python
tests/contrib/dbapi/test_dbapi_appsec.py    @DataDog/asm-python
tests/contrib/subprocess            @DataDog/asm-python
tests/contrib/flask/test_flask_appsec.py    @DataDog/asm-python
tests/contrib/django/django_app/appsec_urls.py @DataDog/asm-python
tests/contrib/django/test_django_appsec.py  @DataDog/asm-python
tests/snapshots/tests*appsec*.json  @DataDog/asm-python
tests/contrib/*/test*appsec*.py     @DataDog/asm-python

# Profiling
src/ddtrace/profiling                   @DataDog/profiling-python @DataDog/apm-core-python
tests/profiling                     @DataDog/profiling-python @DataDog/apm-core-python

# Remote Config
src/ddtrace/internal/remoteconfig       @DataDog/remote-config @DataDog/apm-core-python
tests/internal/remoteconfig         @DataDog/remote-config @DataDog/apm-core-python

# Guild
# Note that core is added here since 2 reviewers are required. The guild isn't
# big enough to support if a guild member makes a change which means 2 other
# guild members have to review.
# We should enforce this for important files, but more frequently edited ones
# can settle for having 1 guild member review + a core team member.
setup.py                            @DataDog/python-guild
setup.cfg                           @DataDog/python-guild
pyproject.toml                      @DataDog/python-guild
.readthedocs.yml                    @DataDog/python-guild  @DataDog/apm-core-python
README.md                           @DataDog/python-guild  @DataDog/apm-core-python
mypy.ini                            @DataDog/python-guild  @DataDog/apm-core-python
.github/PULL_REQUEST_TEMPLATE.md    @DataDog/python-guild  @DataDog/apm-core-python
.github/ISSUE_TEMPLATE.md           @DataDog/python-guild  @DataDog/apm-core-python
.github/CODEOWNERS                  @DataDog/python-guild  @DataDog/apm-core-python
src/ddtrace/internal/compat.py          @DataDog/python-guild  @DataDog/apm-core-python
