Repository DataDog/dd-trace-py, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-python, @DataDog/ci-app-libraries, @datadog/ci-app-libraries, @DataDog/debugger-python, @DataDog/asm-python

test(profiling): disable uwsgi master+lazy app scenario on gevent (#4457)
  tests/profiling/test_uwsgi.py
Owners: @DataDog/apm-python

test(profiling): disable uwsgi master+lazy app scenario on gevent (#4457)
  tests/profiling/test_uwsgi.py
Owners: @DataDog/apm-python

test(profiling): disable uwsgi master+lazy app scenario on gevent (#4457)
  tests/profiling/test_uwsgi.py
Owners: @DataDog/apm-python

fix(ci): set DD_HOSTNAME in the agent container
  docker-compose.yml
Owners: @DataDog/apm-python

fix(ci): set DD_HOSTNAME in the agent container (#4458)
  docker-compose.yml
Owners: @DataDog/apm-python

fix(ci): set DD_HOSTNAME in the agent container (#4458)
  docker-compose.yml
Owners: @DataDog/apm-python

fix(ci): set DD_HOSTNAME in the agent container (#4458)
  docker-compose.yml
Owners: @DataDog/apm-python

fix(ci): set DD_HOSTNAME in the agent container (#4458)
  docker-compose.yml
Owners: @DataDog/apm-python

fix(ci): set DD_HOSTNAME in the agent container (#4458)
  docker-compose.yml
Owners: @DataDog/apm-python

fix(ci): set DD_HOSTNAME in the agent container (#4458)
  docker-compose.yml
Owners: @DataDog/apm-python

fix(ci): set DD_HOSTNAME in the agent container (#4458)
  docker-compose.yml
Owners: @DataDog/apm-python

fix(ci): set DD_HOSTNAME in the agent container (#4458)
  docker-compose.yml
Owners: @DataDog/apm-python

fix(ci): set DD_HOSTNAME in the agent container (#4458)
  docker-compose.yml
Owners: @DataDog/apm-python

fix conflicts
  tox.ini
Owners: @DataDog/apm-python

Update tox.ini
  tox.ini
Owners: @DataDog/apm-python

fix(ci): add wait for redis asyncio snapshots (#4399)
  tests/contrib/redis/test_redis_asyncio.py
Owners: @DataDog/apm-python

fix(ci): update dev image pyenv to v2.3.6
  docker/Dockerfile.buster
Owners: @DataDog/apm-python

Update releasenotes/notes/fix-cors-errors-0fa947a1a583ad0c.yaml
  releasenotes/notes/fix-cors-errors-0fa947a1a583ad0c.yaml
Owners: @DataDog/apm-python

fix(ci): update dev image pyenv to v2.3.6 (#4469)
  docker/Dockerfile.buster
Owners: @DataDog/apm-python

chore(ci): support multiplatform docker image (#4423)
  docker/Dockerfile.buster
Owners: @DataDog/apm-python

fix: use soft forksafe hooks with start-up threads (#4376)
  ddtrace/contrib/celery/patch.py
  ddtrace/internal/forksafe.py
  ddtrace/profiling/profiler.py
  releasenotes/notes/fix-rcm-soft-forksafe-7e6d6b59495e097c.yaml
  tests/internal/test_forksafe.py
Owners: @DataDog/apm-python

chore(debugging): add timestamp to probe status messages (#4444)
  ddtrace/debugging/_probe/status.py
  tests/debugging/probe/test_registry.py
  tests/debugging/probe/test_status.py
Owners: @DataDog/debugger-python

conflict
  tox.ini
Owners: @DataDog/apm-python

Fix formatting
  ddtrace/internal/runtime/runtime_metrics.py
Owners: @DataDog/apm-python

fix conflicts
  tox.ini
Owners: @DataDog/apm-python

chore(internal): remove side effects from origin
  ddtrace/internal/module.py
  tests/internal/test_module.py
Owners: @DataDog/apm-python

Fix GRPC and mariadb failing test
  tests/contrib/grpc_aio/test_grpc_aio.py
  tests/snapshots/tests.contrib.mariadb.test_mariadb.test_analytics_with_rate_snapshot_post_1_1.json
  tests/snapshots/tests.contrib.mariadb.test_mariadb.test_analytics_with_rate_snapshot_pre_1_1.json
  tests/snapshots/tests.contrib.mariadb.test_mariadb.test_analytics_without_rate_snapshot_post_1_1.json
  tests/snapshots/tests.contrib.mariadb.test_mariadb.test_analytics_without_rate_snapshot_pre_1_1.json
  tests/snapshots/tests.contrib.mariadb.test_mariadb.test_commit_snapshot_post_1_1.json
  tests/snapshots/tests.contrib.mariadb.test_mariadb.test_commit_snapshot_pre_1_1.json
  tests/snapshots/tests.contrib.mariadb.test_mariadb.test_query_many_fetchall_snapshot_post_1_1.json
  tests/snapshots/tests.contrib.mariadb.test_mariadb.test_query_many_fetchall_snapshot_pre_1_1.json
  tests/snapshots/tests.contrib.mariadb.test_mariadb.test_query_proc_snapshot_post_1_1.json
  tests/snapshots/tests.contrib.mariadb.test_mariadb.test_query_proc_snapshot_pre_1_1.json
  tests/snapshots/tests.contrib.mariadb.test_mariadb.test_query_with_several_rows_fetchall_snapshot_post_1_1.json
  tests/snapshots/tests.contrib.mariadb.test_mariadb.test_query_with_several_rows_fetchall_snapshot_pre_1_1.json
  tests/snapshots/tests.contrib.mariadb.test_mariadb.test_query_with_several_rows_snapshot_post_1_1.json
  tests/snapshots/tests.contrib.mariadb.test_mariadb.test_query_with_several_rows_snapshot_pre_1_1.json
  tests/snapshots/tests.contrib.mariadb.test_mariadb.test_simple_malformed_query_snapshot_post_1_1.json
  tests/snapshots/tests.contrib.mariadb.test_mariadb.test_simple_malformed_query_snapshot_pre_1_1.json
  tests/snapshots/tests.contrib.mariadb.test_mariadb.test_simple_query_fetchall_snapshot_post_1_1.json
  tests/snapshots/tests.contrib.mariadb.test_mariadb.test_simple_query_fetchall_snapshot_pre_1_1.json
  tests/snapshots/tests.contrib.mariadb.test_mariadb.test_simple_query_snapshot_post_1_1.json
  tests/snapshots/tests.contrib.mariadb.test_mariadb.test_simple_query_snapshot_pre_1_1.json
  tests/snapshots/tests.contrib.mariadb.test_mariadb.test_user_specified_dd_mariadb_service_snapshot_post_1_1.json
  tests/snapshots/tests.contrib.mariadb.test_mariadb.test_user_specified_dd_mariadb_service_snapshot_pre_1_1.json
  tests/snapshots/tests.contrib.mariadb.test_mariadb.test_user_specified_dd_service_snapshot_post_1_1.json
  tests/snapshots/tests.contrib.mariadb.test_mariadb.test_user_specified_dd_service_snapshot_pre_1_1.json
Owners: @DataDog/apm-python

fix mypy error
  ddtrace/internal/runtime/runtime_metrics.py
Owners: @DataDog/apm-python

Fix mypy
  ddtrace/debugging/_function/discovery.py
Owners: @DataDog/debugger-python

fix(django): django asgi support (when using debug mode) (#4445)
  ddtrace/contrib/django/utils.py
  releasenotes/notes/fix-cors-errors-0fa947a1a583ad0c.yaml
Owners: @DataDog/apm-python

fix(django): django asgi support (when using debug mode) (#4445)
  ddtrace/contrib/django/utils.py
  releasenotes/notes/fix-cors-errors-0fa947a1a583ad0c.yaml
Owners: @DataDog/apm-python

fix(django): django asgi support (when using debug mode) (#4445)
  ddtrace/contrib/django/utils.py
  releasenotes/notes/fix-cors-errors-0fa947a1a583ad0c.yaml
Owners: @DataDog/apm-python

refactor(tracing): patch all integrations on import
  .github/workflows/test_frameworks.yml
  ddtrace/_monkey.py
  ddtrace/contrib/django/patch.py
  ddtrace/contrib/httpx/patch.py
  ddtrace/ext/sql.py
  ddtrace/internal/remoteconfig/client.py
  tests/contrib/django/test_django.py
  tests/contrib/gevent/test_tracer.py
  tests/contrib/patch.py
  tests/debugging/exploration/debugger.py
  tests/integration/test_integration.py
Owners: @DataDog/apm-python, @DataDog/debugger-python

refactor(stack): do not try to account CPU time on gevent tasks
  ddtrace/profiling/collector/stack.pyx
  tests/profiling/collector/test_stack_asyncio.py
Owners: @DataDog/apm-python

.github/CODEOWNERS:

* @DataDog/apm-python

ddtrace/contrib/pytest/         @DataDog/apm-python @DataDog/ci-app-libraries
ddtrace/contrib/pytest-bdd/     @DataDog/apm-python @DataDog/ci-app-libraries
ddtrace/ext/ci.py               @DataDog/apm-python @DataDog/ci-app-libraries
ddtrace/ext/test.py             @DataDog/apm-python @DataDog/ci-app-libraries
ddtrace/internal/codeowners.py  @DataDog/apm-python @datadog/ci-app-libraries
tests/contrib/pytest/           @DataDog/apm-python @DataDog/ci-app-libraries
tests/contrib/pytest-bdd/       @DataDog/apm-python @DataDog/ci-app-libraries
ddtrace/debugging/              @DataDog/debugger-python
tests/debugging/                @DataDog/debugger-python
ddtrace/appsec/                 @DataDog/asm-python
tests/appsec/                   @DataDog/asm-python
