Repository DataDog/dd-trace-py, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py, @DataDog/apm-python, @DataDog/ci-app-libraries, @datadog/ci-app-libraries, @DataDog/debugger-python, @DataDog/asm-python, @DataDog/profiling-python, @DataDog/remote-config, @DataDog/python-guild

ci: fix suitespec doctest
  tests/suitespec.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

ci: fix suitespec doctest
  tests/suitespec.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

chore: add removal version for deprecated DD_CALL_BASIC_CONFIG
  ddtrace/bootstrap/sitecustomize.py
  ddtrace/tracer.py
Owners: @DataDog/apm-core-python

ci: fix suitespec doctest (#6524)
  tests/suitespec.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

clean and deduplicate integration tests
  tests/integration/test_integration.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

Fix formatting
  ddtrace/contrib/pytest_benchmark/plugin.py
Owners: @DataDog/apm-core-python

move priority sampling tests to their own file
  tests/integration/test_integration.py
  tests/integration/test_priority_sampling.py
  tests/integration/utils.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

fix failing test
  tests/integration/test_integration.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

regenerate integration snapshots
  tests/integration/test_integration.py
  tests/integration/test_integration_snapshots.py
  tests/snapshots/tests.integration.test_context_snapshots.test_context_multiprocess.json
  tests/snapshots/tests.integration.test_integration.test_span_tags[v0.4].json
  tests/snapshots/tests.integration.test_integration_snapshots.test_env_vars.json
  tests/snapshots/tests.integration.test_integration_snapshots.test_filters.json
  tests/snapshots/tests.integration.test_integration_snapshots.test_multiple_traces.json
  tests/snapshots/tests.integration.test_integration_snapshots.test_sampling.json
  tests/snapshots/tests.integration.test_integration_snapshots.test_setting_span_tags_and_metrics_generates_no_error_logs[v0.4].json
  tests/snapshots/tests.integration.test_integration_snapshots.test_setting_span_tags_and_metrics_generates_no_error_logs[v0.5].json
  tests/snapshots/tests.integration.test_integration_snapshots.test_single_trace_single_span.json
  tests/snapshots/tests.integration.test_integration_snapshots.test_synchronous_writer.json
  tests/snapshots/tests.integration.test_integration_snapshots.test_trace_with_wrong_meta_types_not_sent.json
  tests/snapshots/tests.integration.test_integration_snapshots.test_trace_with_wrong_metrics_types_not_sent.json
  tests/snapshots/tests.integration.test_integration_snapshots.test_tracer_trace_across_fork.json
  tests/snapshots/tests.integration.test_integration_snapshots.test_tracer_trace_across_multiple_forks.json
  tests/snapshots/tests.integration.test_integration_snapshots.test_tracetagsprocessor_only_adds_new_tags.json
  tests/snapshots/tests.integration.test_integration_snapshots.test_wrong_span_name_type_not_sent.json
  tests/snapshots/tests.integration.test_propagation.test_sampling_decision_downstream.json
  tests/snapshots/tests.integration.test_propagation.test_trace_tags_multispan[tracer0].json
  tests/snapshots/tests.integration.test_propagation.test_trace_tags_multispan[tracer1].json
  tests/snapshots/tests.integration.test_propagation.test_trace_tags_multispan[tracer2].json
  tests/snapshots/tests.integration.test_trace_stats.test_measured_span_tracestats.json
  tests/snapshots/tests.integration.test_trace_stats.test_sampling_rate[0.0]_tracestats.json
  tests/snapshots/tests.integration.test_trace_stats.test_sampling_rate[1.0].json
  tests/snapshots/tests.integration.test_trace_stats.test_sampling_rate[1.0]_tracestats.json
  tests/snapshots/tests.integration.test_trace_stats.test_single_span_sampling[sampling_rule0].json
  tests/snapshots/tests.integration.test_trace_stats.test_single_span_sampling[sampling_rule0]_tracestats.json
  tests/snapshots/tests.integration.test_trace_stats.test_single_span_sampling[sampling_rule1].json
  tests/snapshots/tests.integration.test_trace_stats.test_single_span_sampling[sampling_rule1]_tracestats.json
  tests/snapshots/tests.integration.test_trace_stats.test_stats_100_tracestats.json
  tests/snapshots/tests.integration.test_trace_stats.test_stats_aggrs_tracestats.json
  tests/snapshots/tests.integration.test_trace_stats.test_stats_errors_tracestats.json
  tests/snapshots/tests.integration.test_trace_stats.test_top_level_tracestats.json
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py, @DataDog/apm-python

move sampling integration tests to their own file
  tests/integration/test_integration_snapshots.py
  tests/integration/test_sampling.py
  tests/snapshots/test_sampling_with_default_sample_rate_1.json
  tests/snapshots/test_sampling_with_default_sample_rate_1_and_manual_drop.json
  tests/snapshots/test_sampling_with_default_sample_rate_1_and_manual_keep.json
  tests/snapshots/test_sampling_with_default_sample_rate_1_and_rule_0.json
  tests/snapshots/test_sampling_with_default_sample_rate_1_and_rule_1.json
  tests/snapshots/test_sampling_with_default_sample_rate_tiny.json
  tests/snapshots/test_sampling_with_defaults.json
  tests/snapshots/tests.integration.test_integration_snapshots.test_sampling.json
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py, @DataDog/apm-python

comments
  tests/integration/test_sampling.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

.github/CODEOWNERS:

# Order matters, the last matched is what is used

# APM Core Python is the default owner of all files
*                                   @DataDog/apm-core-python

# Framework Integrations
src/ddtrace/ext/                        @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
src/ddtrace/contrib/                    @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
src/ddtrace/internal/schema/            @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
tests/                              @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py

# Files which can be approved by anyone
# DEV: This helps not requiring apm-core-python to review new files added
#      or files which changes often with most PRs
releasenotes/                       @DataDog/apm-python
tests/snapshots/                    @DataDog/apm-python
riotfile.py                         @DataDog/apm-python

# Core
tests/internal                      @DataDog/apm-core-python
tests/lib-injection                 @DataDog/apm-core-python
tests/opentelemetry                 @DataDog/apm-core-python
tests/opentracer                    @DataDog/apm-core-python
tests/runtime                       @DataDog/apm-core-python
tests/tracer                        @DataDog/apm-core-python

# CI App
src/ddtrace/contrib/pytest/             @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/contrib/pytest_bdd/         @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/contrib/pytest                @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/contrib/pytest_bdd            @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/ext/ci.py                   @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/ext/test.py                 @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/internal/codeowners.py      @DataDog/apm-core-python @datadog/ci-app-libraries
src/ddtrace/internal/ci_visibility/     @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/internal/ci_visibility/       @DataDog/apm-core-python @DataDog/ci-app-libraries

# Debugger
src/ddtrace/debugging/                  @DataDog/debugger-python
src/ddtrace/settings/dynamic_instrumentation.py     @DataDog/debugger-python
src/ddtrace/internal/injection.py       @DataDog/debugger-python @DataDog/apm-core-python
src/ddtrace/internal/wrapping.py        @DataDog/debugger-python @DataDog/apm-core-python
src/ddtrace/internal/module.py          @DataDog/debugger-python @DataDog/apm-core-python
tests/debugging/                    @DataDog/debugger-python
tests/internal/test_injection.py    @DataDog/debugger-python @DataDog/apm-core-python
tests/internal/test_wrapping.py     @DataDog/debugger-python @DataDog/apm-core-python
tests/internal/test_module.py       @DataDog/debugger-python @DataDog/apm-core-python

# ASM
src/ddtrace/appsec/                     @DataDog/asm-python
src/ddtrace/contrib/subprocess/         @DataDog/asm-python
tests/appsec/                       @DataDog/asm-python
tests/contrib/dbapi/test_dbapi_appsec.py    @DataDog/asm-python
tests/contrib/subprocess            @DataDog/asm-python
tests/contrib/flask/test_flask_appsec.py    @DataDog/asm-python
tests/contrib/django/django_app/appsec_urls.py @DataDog/asm-python
tests/contrib/django/test_django_appsec.py  @DataDog/asm-python
tests/snapshots/tests*appsec*.json  @DataDog/asm-python
tests/contrib/*/test*appsec*.py     @DataDog/asm-python

# Profiling
src/ddtrace/profiling                   @DataDog/profiling-python @DataDog/apm-core-python
tests/profiling                     @DataDog/profiling-python @DataDog/apm-core-python

# Remote Config
src/ddtrace/internal/remoteconfig       @DataDog/remote-config @DataDog/apm-core-python
tests/internal/remoteconfig         @DataDog/remote-config @DataDog/apm-core-python

# Guild
# Note that core is added here since 2 reviewers are required. The guild isn't
# big enough to support if a guild member makes a change which means 2 other
# guild members have to review.
# We should enforce this for important files, but more frequently edited ones
# can settle for having 1 guild member review + a core team member.
setup.py                            @DataDog/python-guild
setup.cfg                           @DataDog/python-guild
pyproject.toml                      @DataDog/python-guild
.readthedocs.yml                    @DataDog/python-guild  @DataDog/apm-core-python
README.md                           @DataDog/python-guild  @DataDog/apm-core-python
mypy.ini                            @DataDog/python-guild  @DataDog/apm-core-python
.github/PULL_REQUEST_TEMPLATE.md    @DataDog/python-guild  @DataDog/apm-core-python
.github/ISSUE_TEMPLATE.md           @DataDog/python-guild  @DataDog/apm-core-python
.github/CODEOWNERS                  @DataDog/python-guild  @DataDog/apm-core-python
src/ddtrace/internal/compat.py          @DataDog/python-guild  @DataDog/apm-core-python
