Repository DataDog/dd-trace-py, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py, @DataDog/apm-python, @DataDog/ci-app-libraries, @datadog/ci-app-libraries, @DataDog/debugger-python, @DataDog/asm-python, @DataDog/profiling-python, @DataDog/remote-config, @DataDog/python-guild

chore(ci): itr dependencies (git and coverage setting)
  .circleci/config.templ.yml
  .coveragerc
Owners: @DataDog/apm-core-python

chore(ci): enable ci visibility for a couple test suites
  riotfile.py
Owners: @DataDog/apm-python

chore(ci-visibility): code changes required to auto-instrument ddtrace
  ddtrace/internal/ci_visibility/recorder.py
  ddtrace/provider.py
Owners: @DataDog/apm-core-python

chore(tracer): conftest changes required to ensure pytest hooks being called
  tests/conftest.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

chore(ci): pass env vars from CI
  scripts/ddtest
Owners: @DataDog/apm-core-python

chore(ci): enable ci visibility needed env vars
  riotfile.py
Owners: @DataDog/apm-python

Refactor tags
  ddtrace/contrib/unittest/patch.py
Owners: @DataDog/apm-core-python

retrieve changes from christophe-papazian/APPSEC-9417-IAST-taint-source-JSON
  ddtrace/appsec/iast/_taint_utils.py
Owners: @DataDog/apm-core-python

ci: run suites when setup sources changed (#6518)
  tests/.suitespec.json
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

test(ci): change sudo to machine_executor
  .circleci/config.templ.yml
  riotfile.py
Owners: @DataDog/apm-core-python, @DataDog/apm-python

fix(ci-visibility): set safe directory
  ddtrace/ext/git.py
Owners: @DataDog/apm-core-python

cover all methods for LazyTaintList
  ddtrace/appsec/iast/_taint_utils.py
Owners: @DataDog/apm-core-python

rename directory
  ddtrace/contrib/wsgi/wsgi.py
  ddtrace/tracing/__init__.py
  ddtrace/tracing/trace_handlers.py
Owners: @DataDog/apm-core-python

add to suitespec
  tests/.suitespec.json
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

chore(profiling): add pure-Python traceback backend
  ddtrace/profiling/collector/_lock.py
  ddtrace/profiling/collector/_traceback.pyi
  ddtrace/profiling/collector/stack.pyx
  ddtrace/profiling/collector/traceback.py
  ddtrace/settings/profiling.py
  tests/profiling/collector/test_collector.py
  tests/profiling/collector/test_traceback.py
Owners: @DataDog/apm-core-python, @DataDog/profiling-python

test: avoid patching at pytest plugin
  ddtrace/contrib/pytest/plugin.py
Owners: @DataDog/apm-core-python

Add empty module for platforms without libdatadog support
  ddtrace/internal/datadog/profiling/ddup.py
Owners: @DataDog/apm-core-python

chore: remove unused benchmarks (#6439)
  riotfile.py
  tests/benchmarks/__init__.py
  tests/benchmarks/test_encoding.py
  tests/benchmarks/test_glob_matching.py
  tests/benchmarks/test_span_id.py
  tests/benchmarks/test_tracer.py
Owners: @DataDog/apm-python, @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

Move the extension around
  ddtrace/internal/datadog/profiling/_ddup.pyi
  ddtrace/internal/datadog/profiling/_ddup.pyx
  ddtrace/internal/datadog/profiling/ddup.py
  setup.py
Owners: @DataDog/apm-core-python, @DataDog/python-guild

chore: set the name of the RCM subscriber threads
  ddtrace/internal/remoteconfig/_subscribers.py
Owners: @DataDog/apm-core-python

OK maybe protect it or whatever
  ddtrace/internal/datadog/profiling/ddup.py
Owners: @DataDog/apm-core-python

Add pconfig to stack.pyx
  ddtrace/profiling/collector/stack.pyx
Owners: @DataDog/apm-core-python

test(ci): avoid super call
  ddtrace/provider.py
Owners: @DataDog/apm-core-python

fix(profiling): decrease size of distributed artifacts (#6517)
  setup.py
Owners: @DataDog/python-guild

fix(profiling): decrease size of distributed artifacts (#6517)
  setup.py
Owners: @DataDog/python-guild

test(ci): add gunicorn flask and es
  riotfile.py
Owners: @DataDog/apm-python

Update build_deploy.yml
  .github/workflows/build_deploy.yml
Owners: @DataDog/apm-core-python

chore(ci): bump cibuildwheel and enable pre-release wheels (#6361)
  .github/workflows/build_deploy.yml
  .github/workflows/build_python_3.yml
Owners: @DataDog/apm-core-python

test: ContextProvider as optional Tracer parameter
  ddtrace/internal/ci_visibility/recorder.py
  ddtrace/tracer.py
Owners: @DataDog/apm-core-python

upgrade to LazyTaintDict
  ddtrace/appsec/iast/_taint_utils.py
Owners: @DataDog/apm-core-python

upgrade to LazyTaintDict (with checks)
  ddtrace/appsec/iast/_taint_utils.py
Owners: @DataDog/apm-core-python

Add codeowners support
  ddtrace/contrib/unittest/patch.py
Owners: @DataDog/apm-core-python

Apply suggestions from code review
  ddtrace/contrib/pytest_benchmark/plugin.py
  releasenotes/notes/add-pytest-benchmark-support-71c6505ca4b202f3.yaml
Owners: @DataDog/apm-core-python, @DataDog/apm-python

remove unexpected change
  ddtrace/internal/datadog/profiling/src/exporter.cpp
Owners: @DataDog/apm-core-python

clean up test_sampler.py
  tests/tracer/test_sampler.py
Owners: @DataDog/apm-core-python

fix suitespec
  tests/.suitespec.json
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

clarify and clean test_single_span_sampling_rules.py
  tests/tracer/test_single_span_sampling_rules.py
Owners: @DataDog/apm-core-python

chore: add hatch
  .circleci/config.templ.yml
  docs/contributing-testing.rst
  docs/spelling_wordlist.txt
  hatch.toml
  hooks/scripts/run-black.sh
  hooks/scripts/run-codespell.sh
  hooks/scripts/run-flake8.sh
  hooks/scripts/run-mypy.sh
  pyproject.toml
  riotfile.py
  scripts/docs/build.sh
  scripts/docs/install.sh
Owners: @DataDog/apm-core-python, @DataDog/python-guild, @DataDog/apm-python

migrate cibuildwheel config to pyproject.toml
  .github/workflows/build_python_3.yml
  pyproject.toml
Owners: @DataDog/apm-core-python, @DataDog/python-guild

fix
  pyproject.toml
Owners: @DataDog/python-guild

.github/CODEOWNERS:

# Order matters, the last matched is what is used

# APM Core Python is the default owner of all files
*                                   @DataDog/apm-core-python

# Framework Integrations
src/ddtrace/ext/                        @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
src/ddtrace/contrib/                    @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
src/ddtrace/internal/schema/            @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
tests/                              @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py

# Files which can be approved by anyone
# DEV: This helps not requiring apm-core-python to review new files added
#      or files which changes often with most PRs
releasenotes/                       @DataDog/apm-python
tests/snapshots/                    @DataDog/apm-python
riotfile.py                         @DataDog/apm-python

# Core
tests/internal                      @DataDog/apm-core-python
tests/lib-injection                 @DataDog/apm-core-python
tests/opentelemetry                 @DataDog/apm-core-python
tests/opentracer                    @DataDog/apm-core-python
tests/runtime                       @DataDog/apm-core-python
tests/tracer                        @DataDog/apm-core-python

# CI App
src/ddtrace/contrib/pytest/             @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/contrib/pytest_bdd/         @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/contrib/pytest                @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/contrib/pytest_bdd            @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/ext/ci.py                   @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/ext/test.py                 @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/internal/codeowners.py      @DataDog/apm-core-python @datadog/ci-app-libraries
src/ddtrace/internal/ci_visibility/     @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/internal/ci_visibility/       @DataDog/apm-core-python @DataDog/ci-app-libraries

# Debugger
src/ddtrace/debugging/                  @DataDog/debugger-python
src/ddtrace/settings/dynamic_instrumentation.py     @DataDog/debugger-python
src/ddtrace/internal/injection.py       @DataDog/debugger-python @DataDog/apm-core-python
src/ddtrace/internal/wrapping.py        @DataDog/debugger-python @DataDog/apm-core-python
src/ddtrace/internal/module.py          @DataDog/debugger-python @DataDog/apm-core-python
tests/debugging/                    @DataDog/debugger-python
tests/internal/test_injection.py    @DataDog/debugger-python @DataDog/apm-core-python
tests/internal/test_wrapping.py     @DataDog/debugger-python @DataDog/apm-core-python
tests/internal/test_module.py       @DataDog/debugger-python @DataDog/apm-core-python

# ASM
src/ddtrace/appsec/                     @DataDog/asm-python
src/ddtrace/contrib/subprocess/         @DataDog/asm-python
tests/appsec/                       @DataDog/asm-python
tests/contrib/dbapi/test_dbapi_appsec.py    @DataDog/asm-python
tests/contrib/subprocess            @DataDog/asm-python
tests/contrib/flask/test_flask_appsec.py    @DataDog/asm-python
tests/contrib/django/django_app/appsec_urls.py @DataDog/asm-python
tests/contrib/django/test_django_appsec.py  @DataDog/asm-python
tests/snapshots/tests*appsec*.json  @DataDog/asm-python
tests/contrib/*/test*appsec*.py     @DataDog/asm-python

# Profiling
src/ddtrace/profiling                   @DataDog/profiling-python @DataDog/apm-core-python
tests/profiling                     @DataDog/profiling-python @DataDog/apm-core-python

# Remote Config
src/ddtrace/internal/remoteconfig       @DataDog/remote-config @DataDog/apm-core-python
tests/internal/remoteconfig         @DataDog/remote-config @DataDog/apm-core-python

# Guild
# Note that core is added here since 2 reviewers are required. The guild isn't
# big enough to support if a guild member makes a change which means 2 other
# guild members have to review.
# We should enforce this for important files, but more frequently edited ones
# can settle for having 1 guild member review + a core team member.
setup.py                            @DataDog/python-guild
setup.cfg                           @DataDog/python-guild
pyproject.toml                      @DataDog/python-guild
.readthedocs.yml                    @DataDog/python-guild  @DataDog/apm-core-python
README.md                           @DataDog/python-guild  @DataDog/apm-core-python
mypy.ini                            @DataDog/python-guild  @DataDog/apm-core-python
.github/PULL_REQUEST_TEMPLATE.md    @DataDog/python-guild  @DataDog/apm-core-python
.github/ISSUE_TEMPLATE.md           @DataDog/python-guild  @DataDog/apm-core-python
.github/CODEOWNERS                  @DataDog/python-guild  @DataDog/apm-core-python
src/ddtrace/internal/compat.py          @DataDog/python-guild  @DataDog/apm-core-python
