Repository DataDog/dd-trace-py, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py, @DataDog/apm-python, @DataDog/ci-app-libraries, @datadog/ci-app-libraries, @DataDog/debugger-python, @DataDog/asm-python, @DataDog/profiling-python, @DataDog/remote-config, @DataDog/python-guild

.github/CODEOWNERS:

# Order matters, the last matched is what is used

# APM Core Python is the default owner of all files
*                                   @DataDog/apm-core-python

# Framework Integrations
src/ddtrace/ext/                        @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
src/ddtrace/contrib/                    @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
src/ddtrace/internal/schema/            @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
tests/                              @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py

# Files which can be approved by anyone
# DEV: This helps not requiring apm-core-python to review new files added
#      or files which changes often with most PRs
releasenotes/                       @DataDog/apm-python
tests/snapshots/                    @DataDog/apm-python
riotfile.py                         @DataDog/apm-python

# Core
tests/internal                      @DataDog/apm-core-python
tests/lib-injection                 @DataDog/apm-core-python
tests/opentelemetry                 @DataDog/apm-core-python
tests/opentracer                    @DataDog/apm-core-python
tests/runtime                       @DataDog/apm-core-python
tests/tracer                        @DataDog/apm-core-python

# CI App
src/ddtrace/contrib/pytest/             @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/contrib/pytest_bdd/         @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/contrib/pytest                @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/contrib/pytest_bdd            @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/ext/ci.py                   @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/ext/test.py                 @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/internal/codeowners.py      @DataDog/apm-core-python @datadog/ci-app-libraries
src/ddtrace/internal/ci_visibility/     @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/internal/ci_visibility/       @DataDog/apm-core-python @DataDog/ci-app-libraries

# Debugger
src/ddtrace/debugging/                  @DataDog/debugger-python
src/ddtrace/settings/dynamic_instrumentation.py     @DataDog/debugger-python
src/ddtrace/internal/injection.py       @DataDog/debugger-python @DataDog/apm-core-python
src/ddtrace/internal/wrapping.py        @DataDog/debugger-python @DataDog/apm-core-python
src/ddtrace/internal/module.py          @DataDog/debugger-python @DataDog/apm-core-python
tests/debugging/                    @DataDog/debugger-python
tests/internal/test_injection.py    @DataDog/debugger-python @DataDog/apm-core-python
tests/internal/test_wrapping.py     @DataDog/debugger-python @DataDog/apm-core-python
tests/internal/test_module.py       @DataDog/debugger-python @DataDog/apm-core-python

# ASM
src/ddtrace/appsec/                     @DataDog/asm-python
src/ddtrace/contrib/subprocess/         @DataDog/asm-python
tests/appsec/                       @DataDog/asm-python
tests/contrib/dbapi/test_dbapi_appsec.py    @DataDog/asm-python
tests/contrib/subprocess            @DataDog/asm-python
tests/contrib/flask/test_flask_appsec.py    @DataDog/asm-python
tests/contrib/django/django_app/appsec_urls.py @DataDog/asm-python
tests/contrib/django/test_django_appsec.py  @DataDog/asm-python
tests/snapshots/tests*appsec*.json  @DataDog/asm-python
tests/contrib/*/test*appsec*.py     @DataDog/asm-python

# Profiling
src/ddtrace/profiling                   @DataDog/profiling-python @DataDog/apm-core-python
tests/profiling                     @DataDog/profiling-python @DataDog/apm-core-python

# Remote Config
src/ddtrace/internal/remoteconfig       @DataDog/remote-config @DataDog/apm-core-python
tests/internal/remoteconfig         @DataDog/remote-config @DataDog/apm-core-python

# Guild
# Note that core is added here since 2 reviewers are required. The guild isn't
# big enough to support if a guild member makes a change which means 2 other
# guild members have to review.
# We should enforce this for important files, but more frequently edited ones
# can settle for having 1 guild member review + a core team member.
setup.py                            @DataDog/python-guild
setup.cfg                           @DataDog/python-guild
pyproject.toml                      @DataDog/python-guild
.readthedocs.yml                    @DataDog/python-guild  @DataDog/apm-core-python
README.md                           @DataDog/python-guild  @DataDog/apm-core-python
mypy.ini                            @DataDog/python-guild  @DataDog/apm-core-python
.github/PULL_REQUEST_TEMPLATE.md    @DataDog/python-guild  @DataDog/apm-core-python
.github/ISSUE_TEMPLATE.md           @DataDog/python-guild  @DataDog/apm-core-python
.github/CODEOWNERS                  @DataDog/python-guild  @DataDog/apm-core-python
src/ddtrace/internal/compat.py          @DataDog/python-guild  @DataDog/apm-core-python

fix tests
  ddtrace/appsec/iast/taint_sinks/_base.py
  tests/appsec/iast/test_command_injection.py
Owners: @DataDog/apm-core-python, @DataDog/asm-python

chore(ci-visibility): unshallow repository when git >= 2.27 [backport 1.17] (#6495)
  ddtrace/contrib/pytest/plugin.py
  ddtrace/ext/git.py
  ddtrace/internal/ci_visibility/git_client.py
  ddtrace/internal/ci_visibility/recorder.py
  tests/ci_visibility/test_ci_visibility.py
  tests/tracer/test_ci.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

fix Django 3.1 CI tests
  ddtrace/appsec/iast/_taint_utils.py
Owners: @DataDog/apm-core-python

ci: run system tests when necessary on PRs (#6497)
  .github/workflows/system-tests.yml
Owners: @DataDog/apm-core-python

fix tests
  tests/appsec/iast/test_command_injection.py
Owners: @DataDog/asm-python

chore(ci-visibility): test or suite skipping (#6306)
  ddtrace/contrib/pytest/plugin.py
  ddtrace/internal/ci_visibility/constants.py
  ddtrace/internal/ci_visibility/coverage.py
  ddtrace/internal/ci_visibility/encoder.py
  ddtrace/internal/ci_visibility/git_client.py
  ddtrace/internal/ci_visibility/recorder.py
  ddtrace/internal/ci_visibility/writer.py
  tests/ci_visibility/test_coverage.py
  tests/ci_visibility/test_coverage_per_suite.py
  tests/ci_visibility/test_encoder.py
  tests/contrib/pytest/test_pytest.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py, @DataDog/ci-app-libraries

ci: generate dynamic config by parsing YAML (#6479)
  .circleci/config.templ.yml
  .circleci/config.yml
  .gitignore
  .riot/requirements/b2ac981.txt
  riotfile.py
  scripts/gen_circleci_config.py
  scripts/needs_testrun.py
  setup.cfg
Owners: @DataDog/apm-core-python, @DataDog/apm-python, @DataDog/python-guild

fix(ci-visibility): add git unshallow fix release note
  releasenotes/notes/fix-git-unshallow-84b5b81db6e79287.yaml
Owners: @DataDog/apm-python

fix(ci-visibility): add git unshallow fix release note
  releasenotes/notes/fix-git-unshallow-84b5b81db6e79287.yaml
Owners: @DataDog/apm-python

fix(ci-visibility): add release note
  releasenotes/notes/fix-itr-test-skipping-e4b99a581138a8fd.yaml
Owners: @DataDog/apm-python

add release note
  releasenotes/notes/handle_ensure_text_errors_gracefully-63bcee9f2c3f3d96.yaml
Owners: @DataDog/apm-python

chore(docs): update contribution docs with service naming
  docs/contributing-integrations.rst
  templates/integration/patch.py
Owners: @DataDog/apm-core-python

Fix numbering
  docs/contributing-integrations.rst
Owners: @DataDog/apm-core-python

doc fixes
  docs/contributing-integrations.rst
Owners: @DataDog/apm-core-python

convert test to snapshot test
  tests/integration/test_integration.py
  tests/snapshots/tests.integration.test_integration.test_span_tags[v0.4].json
  tests/snapshots/tests.integration.test_integration.test_span_tags[v0.5].json
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py, @DataDog/apm-python

chore(asm): update bandit exclusions
  ddtrace/appsec/iast/_ast/visitor.py
  ddtrace/appsec/iast/_loader.py
  ddtrace/appsec/iast/_patch.py
  pyproject.toml
Owners: @DataDog/apm-core-python, @DataDog/python-guild

mypy
  ddtrace/internal/core.py
Owners: @DataDog/apm-core-python

remove os import
  tests/integration/test_integration.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

chore(telemetry): send sampling config
  ddtrace/internal/constants.py
  ddtrace/internal/sampling.py
  ddtrace/internal/telemetry/constants.py
  ddtrace/internal/telemetry/writer.py
  ddtrace/internal/utils/http.py
  ddtrace/settings/config.py
  tests/telemetry/test_writer.py
  tests/tracer/test_single_span_sampling_rules.py
  tests/utils.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

fix(ci-visibility): add ITR test skipping fix release note (#6502)
  releasenotes/notes/fix-itr-test-skipping-e4b99a581138a8fd.yaml
Owners: @DataDog/apm-python

fix(ci-visibility): add ITR test skipping fix release note (#6502)
  releasenotes/notes/fix-itr-test-skipping-e4b99a581138a8fd.yaml
Owners: @DataDog/apm-python

chore: add suitespect coverace check script
  riotfile.py
  scripts/check_suitespec_coverage.py
  scripts/gen_circleci_config.py
  scripts/needs_testrun.py
  tests/suitespec.py
Owners: @DataDog/apm-python, @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

fix(ci-visibility): add ITR test skipping fix release note (#6502)
  releasenotes/notes/fix-itr-test-skipping-e4b99a581138a8fd.yaml
Owners: @DataDog/apm-python

bandit
  ddtrace/internal/core.py
Owners: @DataDog/apm-core-python

Add release note
  releasenotes/notes/fix-e8168413eeec1e85.yaml
Owners: @DataDog/apm-python

Add test span to patch.py
  ddtrace/contrib/unittest/__init__.py
  ddtrace/contrib/unittest/patch.py
Owners: @DataDog/apm-core-python

fix(langchain): use correct keyword argument name for chat messages (#6466)
  ddtrace/contrib/langchain/patch.py
  releasenotes/notes/fix-langchain-chat-messages-72b5292211c0044c.yaml
  tests/contrib/langchain/test_langchain.py
Owners: @DataDog/apm-core-python, @DataDog/apm-python, @DataDog/apm-framework-integrations-reviewers-py

fix(langchain): use correct keyword argument name for chat messages (#6466)
  ddtrace/contrib/langchain/patch.py
  releasenotes/notes/fix-langchain-chat-messages-72b5292211c0044c.yaml
  tests/contrib/langchain/test_langchain.py
Owners: @DataDog/apm-core-python, @DataDog/apm-python, @DataDog/apm-framework-integrations-reviewers-py

Fix incorrect test item path when PYTHONPATH is specified
  ddtrace/contrib/pytest/plugin.py
Owners: @DataDog/apm-core-python

chore(ci-visibility): add unshallow to the wordlist
  docs/spelling_wordlist.txt
Owners: @DataDog/apm-core-python

Add release note
  releasenotes/notes/fix-itr-item-path-ba0cbf933961f8cb.yaml
Owners: @DataDog/apm-python

fmt
  tests/integration/test_integration.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

Stringify path just to be sure
  ddtrace/contrib/pytest/plugin.py
Owners: @DataDog/apm-core-python

chore(internal): make square brackets mostly optional in dispatch() calls (#6488)
  ddtrace/internal/core.py
  tests/internal/test_context_events_api.py
Owners: @DataDog/apm-core-python

chore(flask): don't store request blocking flag on spans in flask integration (#6345)
  ddtrace/appsec/_asm_request_context.py
  ddtrace/contrib/flask/patch.py
Owners: @DataDog/apm-core-python

Update core.py
  ddtrace/internal/core.py
Owners: @DataDog/apm-core-python

fix(ci-visibility): fix ITR test skipping [backport 1.17] (#6499)
  ddtrace/contrib/pytest/plugin.py
  ddtrace/internal/ci_visibility/constants.py
  ddtrace/internal/ci_visibility/coverage.py
  ddtrace/internal/ci_visibility/encoder.py
  ddtrace/internal/ci_visibility/git_client.py
  ddtrace/internal/ci_visibility/recorder.py
  ddtrace/internal/ci_visibility/writer.py
  releasenotes/notes/fix-itr-test-skipping-e4b99a581138a8fd.yaml
  tests/ci_visibility/test_coverage.py
  tests/ci_visibility/test_coverage_per_suite.py
  tests/ci_visibility/test_encoder.py
  tests/contrib/pytest/test_pytest.py
Owners: @DataDog/apm-core-python, @DataDog/apm-python, @DataDog/apm-framework-integrations-reviewers-py, @DataDog/ci-app-libraries

fix(ci-visibility): add git unshallow fix release note (#6501)
  docs/spelling_wordlist.txt
  releasenotes/notes/fix-git-unshallow-84b5b81db6e79287.yaml
Owners: @DataDog/apm-core-python, @DataDog/apm-python

fix(ci-visibility): add git unshallow fix release note (#6501)
  docs/spelling_wordlist.txt
  releasenotes/notes/fix-git-unshallow-84b5b81db6e79287.yaml
Owners: @DataDog/apm-core-python, @DataDog/apm-python

Update docs/configuration.rst
  docs/configuration.rst
Owners: @DataDog/apm-core-python
