Repository DataDog/dd-trace-py, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py, @DataDog/apm-python, @DataDog/ci-app-libraries, @datadog/ci-app-libraries, @DataDog/debugger-python, @DataDog/asm-python, @DataDog/profiling-python, @DataDog/remote-config, @DataDog/python-guild

add websocket to spelling list, update release note
  docs/spelling_wordlist.txt
  releasenotes/notes/asgi-support-websockets-f970956661062882.yaml
Owners: @DataDog/apm-core-python, @DataDog/apm-python

change the print statements in sitecustomize.py to print to stderr, because this is causing problems with ansible.
  lib-injection/sitecustomize.py
Owners: @DataDog/apm-core-python

Update docs/contributing-integrations.rst
  docs/contributing-integrations.rst
Owners: @DataDog/apm-core-python

handle different textual encodings
  ddtrace/contrib/botocore/patch.py
  tests/contrib/botocore/test.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

docs: how to write snapshot tests (#6238)
  docs/contributing-integrations.rst
Owners: @DataDog/apm-core-python

working on getting the appsec code out of the flask contrib
  ddtrace/appsec/_asm_request_context.py
  ddtrace/appsec/processor.py
  ddtrace/appsec/trace_utils.py
  ddtrace/contrib/asgi/middleware.py
  ddtrace/contrib/flask/patch.py
  ddtrace/contrib/wsgi/wsgi.py
Owners: @DataDog/asm-python, @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

tests passing checkpoint - flask "block"
  ddtrace/appsec/_asm_request_context.py
  ddtrace/contrib/wsgi/wsgi.py
Owners: @DataDog/asm-python, @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

chore(lib-injection): change the print statements in sitecustomize.py to print to stderr (#6243)
  lib-injection/sitecustomize.py
Owners: @DataDog/apm-core-python

Add tests for AI21, cohere, huggingfacehub, added logging/metric tags
  ddtrace/contrib/_trace_utils_llm.py
  ddtrace/contrib/langchain/patch.py
  ddtrace/contrib/trace_utils_llm.py
  riotfile.py
  tests/contrib/langchain/cassettes/ai21_completion_sync.yaml
  tests/contrib/langchain/cassettes/cohere_completion_sync.yaml
  tests/contrib/langchain/cassettes/cohere_math_chain_sync.yaml
  tests/contrib/langchain/cassettes/huggingfacehub_completion_sync.yaml
  tests/contrib/langchain/cassettes/openai_sequential_paraphrase_and_rhyme_async.yaml
  tests/contrib/langchain/cassettes/openai_sequential_paraphrase_and_rhyme_sync.yaml
  tests/contrib/langchain/test_langchain.py
  tests/snapshots/tests.contrib.langchain.test_langchain.test_ai21_llm_sync.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_cohere_llm_sync.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_cohere_math_chain.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_fake_embedding_document.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_fake_embedding_query.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_huggingfacehub_llm_sync.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_chat_model_call.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_chat_model_generate.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_chat_model_stream.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_embedding_document.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_embedding_query.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_integration.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_llm_async.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_llm_error.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_llm_stream.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_llm_sync.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_llm_sync_multiple_prompts.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_math_chain.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_sequential_chain.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_sequential_chain_with_multiple_llm_async.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_openai_sequential_chain_with_multiple_llm_sync.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_pinecone_vectorstore_retrieval_chain.json
  tests/snapshots/tests.contrib.langchain.test_langchain.test_pinecone_vectorstore_similarity_search.json
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py, @DataDog/apm-python

Add documentation, release note
  docs/index.rst
  docs/integrations.rst
  releasenotes/notes/langchain-b9c3dc57058a8634.yaml
Owners: @DataDog/apm-core-python, @DataDog/apm-python

Add tiktoken testing dependency
  riotfile.py
Owners: @DataDog/apm-python

Testing for metrics, add total cost metric
  ddtrace/contrib/langchain/__init__.py
  ddtrace/contrib/langchain/patch.py
  tests/contrib/langchain/test_langchain.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

Update releasenotes/notes/telemetry-logs-validate-unique-messages-5a020f0531952e0c.yaml
  releasenotes/notes/telemetry-logs-validate-unique-messages-5a020f0531952e0c.yaml
Owners: @DataDog/apm-python

feat(iast): update iast metrics
  ddtrace/appsec/iast/_metrics.py
  ddtrace/contrib/django/patch.py
  ddtrace/contrib/flask/patch.py
  tests/contrib/flask/test_flask_appsec.py
Owners: @DataDog/asm-python, @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

feat(iast): iast telemetry metrics base (#6227)
  ddtrace/appsec/_constants.py
  ddtrace/appsec/iast/_metrics.py
  ddtrace/appsec/iast/_taint_tracking/__init__.py
  ddtrace/appsec/iast/constants.py
  ddtrace/appsec/iast/taint_sinks/_base.py
  ddtrace/internal/telemetry/constants.py
  tests/appsec/iast/test_telemety.py
Owners: @DataDog/asm-python, @DataDog/apm-core-python

fix cmakelist
  ddtrace/appsec/iast/_taint_tracking/CMakeLists.txt
Owners: @DataDog/asm-python

Update docs/configuration.rst
  docs/configuration.rst
Owners: @DataDog/apm-core-python

Improve docs
  docs/configuration.rst
Owners: @DataDog/apm-core-python

fix cmakelist
  ddtrace/appsec/iast/_taint_tracking/_vendor/pybind11/__init__.py
  ddtrace/appsec/iast/_taint_tracking/_vendor/pybind11/pybind11/setup_helpers.py
  ddtrace/appsec/iast/_taint_tracking/_vendor/pybind11/tools/__init__.py
  ddtrace/appsec/iast/_taint_tracking/_vendor/pybind11/tools/make_changelog.py
Owners: @DataDog/asm-python

chore(ci-visibility): improve mechanism to obtain fs path for item
  ddtrace/contrib/pytest/plugin.py
Owners: @DataDog/apm-core-python, @DataDog/ci-app-libraries

fix cpp format
  scripts/cformat.sh
  scripts/cppcheck.sh
Owners: @DataDog/apm-core-python

test: CI Visibility not reusing the tracer
  ddtrace/internal/ci_visibility/recorder.py
Owners: @DataDog/apm-core-python, @DataDog/ci-app-libraries

chore(ci): build wheels for riot enviornments
  .circleci/config.yml
Owners: @DataDog/apm-core-python

test: add --ddtrace option to pytest
  setup.cfg
Owners: @DataDog/python-guild

test: avoid calling str, as ensure_text is called inside
  ddtrace/contrib/pytest/plugin.py
Owners: @DataDog/apm-core-python, @DataDog/ci-app-libraries

chore(internal): collect runtimemetrics_enabled telemetry configuration
  ddtrace/internal/runtime/runtime_metrics.py
  ddtrace/internal/telemetry/writer.py
  tests/runtime/test_runtime_metrics_api.py
  tests/telemetry/test_writer.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

pin test agent release (#6237)
  .circleci/config.yml
  docker-compose.yml
Owners: @DataDog/apm-core-python

chore(peer.service): add mongodb.db as precursor for mongo (#6225)
  ddtrace/settings/peer_service.py
  tests/contrib/mongoengine/test.py
  tests/contrib/pymongo/test.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

change non-context code organization bits to get more appsec code out of wsgi contrib
  ddtrace/appsec/_constants.py
  ddtrace/appsec/utils.py
  ddtrace/contrib/wsgi/wsgi.py
  ddtrace/internal/constants.py
  ddtrace/internal/utils/http.py
  tests/appsec/test_appsec_utils.py
  tests/contrib/django/test_django_appsec.py
  tests/contrib/django/test_django_appsec_snapshots.py
  tests/contrib/flask/test_appsec_flask_snapshot.py
  tests/contrib/flask/test_flask_appsec.py
  tests/contrib/flask/test_flask_appsec_telemetry.py
Owners: @DataDog/asm-python, @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

move fixture imports to a conftest.py
  tests/runtime/conftest.py
  tests/runtime/test_runtime_metrics_api.py
Owners: @DataDog/apm-core-python

test: pass --ddtrace selectively
  riotfile.py
  setup.cfg
Owners: @DataDog/apm-python, @DataDog/python-guild

fix taint sources
  ddtrace/appsec/iast/_patch.py
  ddtrace/appsec/iast/_taint_utils.py
  ddtrace/contrib/django/patch.py
  tests/contrib/django/django_app/appsec_urls.py
Owners: @DataDog/asm-python, @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

fix-codestyle
  ddtrace/appsec/iast/_patch.py
  ddtrace/appsec/iast/_taint_tracking/Initializer/Initializer.h
Owners: @DataDog/asm-python

update release script
  scripts/release.py
Owners: @DataDog/apm-core-python

fix reason not being text
  ddtrace/contrib/pytest/plugin.py
Owners: @DataDog/apm-core-python, @DataDog/ci-app-libraries

fix tests
  tests/contrib/flask/test_flask_appsec_telemetry.py
Owners: @DataDog/asm-python

Fix lib injection
  .github/workflows/lib-injection.yml
Owners: @DataDog/apm-core-python

feat(telemetry): validate unique telemetry log messages (#6213)
  ddtrace/internal/telemetry/writer.py
  releasenotes/notes/telemetry-logs-validate-unique-messages-5a020f0531952e0c.yaml
  tests/appsec/test_telemety.py
  tests/telemetry/test_telemetry_metrics.py
Owners: @DataDog/apm-core-python, @DataDog/apm-python, @DataDog/asm-python, @DataDog/apm-framework-integrations-reviewers-py

make wsgi contrib work without any appsec code
  ddtrace/appsec/_asm_request_context.py
  ddtrace/contrib/wsgi/wsgi.py
  ddtrace/internal/core.py
Owners: @DataDog/asm-python, @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

wip: experiment with unskippable marker
  ddtrace/contrib/pytest/plugin.py
  tests/contrib/pytest/test_pytest.py
Owners: @DataDog/apm-core-python, @DataDog/ci-app-libraries

.github/CODEOWNERS:

# Order matters, the last matched is what is used

# APM Core Python is the default owner of all files
*                                   @DataDog/apm-core-python

# Framework Integrations
ddtrace/ext/                        @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
ddtrace/contrib/                    @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
ddtrace/internal/schema/            @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
tests/                              @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py

# Files which can be approved by anyone
# DEV: This helps not requiring apm-core-python to review new files added
#      or files which changes often with most PRs
releasenotes/                       @DataDog/apm-python
tests/snapshots/                    @DataDog/apm-python
riotfile.py                         @DataDog/apm-python

# Core
tests/internal                      @DataDog/apm-core-python
tests/lib-injection                 @DataDog/apm-core-python
tests/opentelemetry                 @DataDog/apm-core-python
tests/opentracer                    @DataDog/apm-core-python
tests/runtime                       @DataDog/apm-core-python
tests/tracer                        @DataDog/apm-core-python

# CI App
ddtrace/contrib/pytest/             @DataDog/apm-core-python @DataDog/ci-app-libraries
ddtrace/contrib/pytest_bdd/         @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/contrib/pytest                @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/contrib/pytest_bdd            @DataDog/apm-core-python @DataDog/ci-app-libraries
ddtrace/ext/ci.py                   @DataDog/apm-core-python @DataDog/ci-app-libraries
ddtrace/ext/test.py                 @DataDog/apm-core-python @DataDog/ci-app-libraries
ddtrace/internal/codeowners.py      @DataDog/apm-core-python @datadog/ci-app-libraries
ddtrace/internal/ci_visibility/     @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/internal/ci_visibility/       @DataDog/apm-core-python @DataDog/ci-app-libraries

# Debugger
ddtrace/debugging/                  @DataDog/debugger-python
ddtrace/settings/dynamic_instrumentation.py     @DataDog/debugger-python
ddtrace/internal/injection.py       @DataDog/debugger-python @DataDog/apm-core-python
ddtrace/internal/wrapping.py        @DataDog/debugger-python @DataDog/apm-core-python
ddtrace/internal/module.py          @DataDog/debugger-python @DataDog/apm-core-python
tests/debugging/                    @DataDog/debugger-python
tests/internal/test_injection.py    @DataDog/debugger-python @DataDog/apm-core-python
tests/internal/test_wrapping.py     @DataDog/debugger-python @DataDog/apm-core-python
tests/internal/test_module.py       @DataDog/debugger-python @DataDog/apm-core-python

# ASM
ddtrace/appsec/                     @DataDog/asm-python
ddtrace/contrib/subprocess/         @DataDog/asm-python
tests/appsec/                       @DataDog/asm-python
tests/contrib/dbapi/test_dbapi_appsec.py    @DataDog/asm-python
tests/contrib/subprocess            @DataDog/asm-python
tests/contrib/flask/test_flask_appsec.py    @DataDog/asm-python
tests/contrib/django/django_app/appsec_urls.py @DataDog/asm-python
tests/contrib/django/test_django_appsec.py  @DataDog/asm-python
tests/snapshots/tests*appsec*.json  @DataDog/asm-python
tests/contrib/*/test*appsec*.py     @DataDog/asm-python

# Profiling
ddtrace/profiling                   @DataDog/profiling-python @DataDog/apm-core-python
tests/profiling                     @DataDog/profiling-python @DataDog/apm-core-python

# Remote Config
ddtrace/internal/remoteconfig       @DataDog/remote-config @DataDog/apm-core-python
tests/internal/remoteconfig         @DataDog/remote-config @DataDog/apm-core-python

# Guild
# Note that core is added here since 2 reviewers are required. The guild isn't
# big enough to support if a guild member makes a change which means 2 other
# guild members have to review.
# We should enforce this for important files, but more frequently edited ones
# can settle for having 1 guild member review + a core team member.
setup.py                            @DataDog/python-guild
setup.cfg                           @DataDog/python-guild
pyproject.toml                      @DataDog/python-guild
.readthedocs.yml                    @DataDog/python-guild  @DataDog/apm-core-python
README.md                           @DataDog/python-guild  @DataDog/apm-core-python
mypy.ini                            @DataDog/python-guild  @DataDog/apm-core-python
.github/PULL_REQUEST_TEMPLATE.md    @DataDog/python-guild  @DataDog/apm-core-python
.github/ISSUE_TEMPLATE.md           @DataDog/python-guild  @DataDog/apm-core-python
.github/CODEOWNERS                  @DataDog/python-guild  @DataDog/apm-core-python
ddtrace/internal/compat.py          @DataDog/python-guild  @DataDog/apm-core-python
