Repository DataDog/dd-trace-py, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py, @DataDog/apm-python, @DataDog/ci-app-libraries, @datadog/ci-app-libraries, @DataDog/debugger-python, @DataDog/asm-python, @DataDog/profiling-python, @DataDog/remote-config, @DataDog/python-guild

.github/CODEOWNERS:

# Order matters, the last matched is what is used

# APM Core Python is the default owner of all files
*                                   @DataDog/apm-core-python

# Framework Integrations
src/ddtrace/ext/                        @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
src/ddtrace/contrib/                    @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
src/ddtrace/internal/schema/            @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
tests/                              @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py

# Files which can be approved by anyone
# DEV: This helps not requiring apm-core-python to review new files added
#      or files which changes often with most PRs
releasenotes/                       @DataDog/apm-python
tests/snapshots/                    @DataDog/apm-python
riotfile.py                         @DataDog/apm-python

# Core
tests/internal                      @DataDog/apm-core-python
tests/lib-injection                 @DataDog/apm-core-python
tests/opentelemetry                 @DataDog/apm-core-python
tests/opentracer                    @DataDog/apm-core-python
tests/runtime                       @DataDog/apm-core-python
tests/tracer                        @DataDog/apm-core-python

# CI App
src/ddtrace/contrib/pytest/             @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/contrib/pytest_bdd/         @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/contrib/pytest                @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/contrib/pytest_bdd            @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/ext/ci.py                   @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/ext/test.py                 @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/internal/codeowners.py      @DataDog/apm-core-python @datadog/ci-app-libraries
src/ddtrace/internal/ci_visibility/     @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/internal/ci_visibility/       @DataDog/apm-core-python @DataDog/ci-app-libraries

# Debugger
src/ddtrace/debugging/                  @DataDog/debugger-python
src/ddtrace/settings/dynamic_instrumentation.py     @DataDog/debugger-python
src/ddtrace/internal/injection.py       @DataDog/debugger-python @DataDog/apm-core-python
src/ddtrace/internal/wrapping.py        @DataDog/debugger-python @DataDog/apm-core-python
src/ddtrace/internal/module.py          @DataDog/debugger-python @DataDog/apm-core-python
tests/debugging/                    @DataDog/debugger-python
tests/internal/test_injection.py    @DataDog/debugger-python @DataDog/apm-core-python
tests/internal/test_wrapping.py     @DataDog/debugger-python @DataDog/apm-core-python
tests/internal/test_module.py       @DataDog/debugger-python @DataDog/apm-core-python

# ASM
src/ddtrace/appsec/                     @DataDog/asm-python
src/ddtrace/contrib/subprocess/         @DataDog/asm-python
tests/appsec/                       @DataDog/asm-python
tests/contrib/dbapi/test_dbapi_appsec.py    @DataDog/asm-python
tests/contrib/subprocess            @DataDog/asm-python
tests/contrib/flask/test_flask_appsec.py    @DataDog/asm-python
tests/contrib/django/django_app/appsec_urls.py @DataDog/asm-python
tests/contrib/django/test_django_appsec.py  @DataDog/asm-python
tests/snapshots/tests*appsec*.json  @DataDog/asm-python
tests/contrib/*/test*appsec*.py     @DataDog/asm-python

# Profiling
src/ddtrace/profiling                   @DataDog/profiling-python @DataDog/apm-core-python
tests/profiling                     @DataDog/profiling-python @DataDog/apm-core-python

# Remote Config
src/ddtrace/internal/remoteconfig       @DataDog/remote-config @DataDog/apm-core-python
tests/internal/remoteconfig         @DataDog/remote-config @DataDog/apm-core-python

# Guild
# Note that core is added here since 2 reviewers are required. The guild isn't
# big enough to support if a guild member makes a change which means 2 other
# guild members have to review.
# We should enforce this for important files, but more frequently edited ones
# can settle for having 1 guild member review + a core team member.
setup.py                            @DataDog/python-guild
setup.cfg                           @DataDog/python-guild
pyproject.toml                      @DataDog/python-guild
.readthedocs.yml                    @DataDog/python-guild  @DataDog/apm-core-python
README.md                           @DataDog/python-guild  @DataDog/apm-core-python
mypy.ini                            @DataDog/python-guild  @DataDog/apm-core-python
.github/PULL_REQUEST_TEMPLATE.md    @DataDog/python-guild  @DataDog/apm-core-python
.github/ISSUE_TEMPLATE.md           @DataDog/python-guild  @DataDog/apm-core-python
.github/CODEOWNERS                  @DataDog/python-guild  @DataDog/apm-core-python
src/ddtrace/internal/compat.py          @DataDog/python-guild  @DataDog/apm-core-python

fix(debugging): use the correct span decoration probe type name (#6417)
  ddtrace/debugging/_probe/model.py
  ddtrace/debugging/_probe/remoteconfig.py
  releasenotes/notes/fix-debugger-span-decoration-probe-type-4331ef7c97990048.yaml
Owners: @DataDog/apm-core-python, @DataDog/apm-python

fix(debugging): use the correct span decoration probe type name (#6417)
  ddtrace/debugging/_probe/model.py
  ddtrace/debugging/_probe/remoteconfig.py
  releasenotes/notes/fix-debugger-span-decoration-probe-type-4331ef7c97990048.yaml
Owners: @DataDog/apm-core-python, @DataDog/apm-python

fix(debugging): use the correct span decoration probe type name (#6417)
  ddtrace/debugging/_probe/model.py
  ddtrace/debugging/_probe/remoteconfig.py
  releasenotes/notes/fix-debugger-span-decoration-probe-type-4331ef7c97990048.yaml
Owners: @DataDog/apm-core-python, @DataDog/apm-python

add api security env var name to appsec _constants
  ddtrace/appsec/_constants.py
  ddtrace/settings/config.py
Owners: @DataDog/apm-core-python

use "release/v1" tag for gh-action-pypi-publish
  .github/workflows/build_deploy.yml
Owners: @DataDog/apm-core-python

json.loads patch
  ddtrace/appsec/iast/taint_sinks/json_tainting.py
Owners: @DataDog/apm-core-python

iast_patch with json_tainting
  ddtrace/_monkey.py
Owners: @DataDog/apm-core-python

chore(asm): update future flag name from rfc changes (#6441)
  ddtrace/appsec/_constants.py
  ddtrace/settings/config.py
Owners: @DataDog/apm-core-python

fix tests
  tests/appsec/iast/taint_tracking/test_native_taint_range.py
Owners: @DataDog/asm-python

Swith to DD_CIVISIBILITY_ITR_DISABLED
  ddtrace/internal/ci_visibility/recorder.py
  ddtrace/settings/config.py
  docs/configuration.rst
  tests/ci_visibility/test_ci_visibility.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

feat(iast): django integration
  ddtrace/contrib/django/patch.py
  tests/contrib/django/test_django_appsec_iast.py
  tests/contrib/djangorestframework/app/views.py
  tests/contrib/djangorestframework/test_appsec.py
Owners: @DataDog/apm-core-python, @DataDog/asm-python, @DataDog/apm-framework-integrations-reviewers-py

Update releasenotes/notes/fix-codefresh-integration-563b8075e71881e4.yaml
  releasenotes/notes/fix-codefresh-integration-563b8075e71881e4.yaml
Owners: @DataDog/apm-python

feat(iast): flask integration
  tests/contrib/flask/test_flask_appsec.py
Owners: @DataDog/asm-python

chore(ci-visibility): test or suite skipping (#6306)
  ddtrace/contrib/pytest/plugin.py
  ddtrace/internal/ci_visibility/constants.py
  ddtrace/internal/ci_visibility/coverage.py
  ddtrace/internal/ci_visibility/encoder.py
  ddtrace/internal/ci_visibility/git_client.py
  ddtrace/internal/ci_visibility/recorder.py
  ddtrace/internal/ci_visibility/writer.py
  tests/ci_visibility/test_coverage.py
  tests/ci_visibility/test_coverage_per_suite.py
  tests/ci_visibility/test_encoder.py
  tests/contrib/pytest/test_pytest.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py, @DataDog/ci-app-libraries

add all test suites to suitespec
  tests/.suitespec.json
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

Update tests/.suitespec.json
  tests/.suitespec.json
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

Update tests/.suitespec.json
  tests/.suitespec.json
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

chore(ci-visibility): send ITR skipped information tags
  ddtrace/contrib/pytest/plugin.py
  ddtrace/ext/test.py
Owners: @DataDog/apm-core-python

internalize call basic config and debug mode configurations
  ddtrace/bootstrap/sitecustomize.py
  ddtrace/commands/ddtrace_run.py
  ddtrace/internal/telemetry/constants.py
  ddtrace/internal/telemetry/writer.py
  ddtrace/settings/config.py
  ddtrace/tracer.py
  tests/telemetry/test_writer.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

fix conflicts with 1.x
  tests/telemetry/test_writer.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

ws
  tests/telemetry/test_writer.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

chore(telemetry): track integrations that raise errors (#6424)
  ddtrace/internal/telemetry/__init__.py
  ddtrace/internal/telemetry/writer.py
  tests/telemetry/test_telemetry.py
  tests/telemetry/test_writer.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

clean up suitespec
  tests/.suitespec.json
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

update docs
  docs/configuration.rst
Owners: @DataDog/apm-core-python

chore(ci-visibility): add tests
  tests/contrib/pytest/test_pytest.py
Owners: @DataDog/apm-core-python, @DataDog/ci-app-libraries

Update fix-logging-e16eb910c0416c0d.yaml
  releasenotes/notes/fix-logging-e16eb910c0416c0d.yaml
Owners: @DataDog/apm-python

fix failing test
  tests/telemetry/test_writer.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

commas
  tests/.suitespec.json
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

chore(ci-visibility): set global skipped elements to 0 at start
  ddtrace/contrib/pytest/plugin.py
Owners: @DataDog/apm-core-python

chore(flask): remove IAST code from Flask contrib (#6334)
  ddtrace/appsec/handlers.py
  ddtrace/contrib/flask/patch.py
Owners: @DataDog/apm-core-python

tests(integrations): run test_regression_logging_in_context synchronously
  tests/integration/test_integration.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

chore(ci): set testagent log level to WARNING (#6453)
  docker-compose.yml
Owners: @DataDog/apm-core-python

Use correct keyword argument name for chat messages
  ddtrace/contrib/langchain/patch.py
  releasenotes/notes/fix-langchain-chat-messages-72b5292211c0044c.yaml
  tests/contrib/langchain/test_langchain.py
Owners: @DataDog/apm-core-python, @DataDog/apm-python, @DataDog/apm-framework-integrations-reviewers-py

remove empty list
  tests/.suitespec.json
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

include all of the dependencies between contribs
  tests/.suitespec.json
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

trailing comma
  tests/.suitespec.json
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

fix(dep): install cmake as setup_requires instead of install_requires
  setup.py
Owners: @DataDog/python-guild

try without cache
  .circleci/config.templ.yml
Owners: @DataDog/apm-core-python

Revert "try without cache"
  .circleci/config.templ.yml
Owners: @DataDog/apm-core-python

chore(telemetry): remove tracebacks from failing telemetry requests (#6430)
  ddtrace/internal/telemetry/writer.py
Owners: @DataDog/apm-core-python
