Repository DataDog/dd-trace-py, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py, @DataDog/apm-python, @DataDog/ci-app-libraries, @datadog/ci-app-libraries, @DataDog/debugger-python, @DataDog/asm-python, @DataDog/profiling-python, @DataDog/remote-config, @DataDog/python-guild

.github/CODEOWNERS:

# Order matters, the last matched is what is used

# APM Core Python is the default owner of all files
*                                   @DataDog/apm-core-python

# Framework Integrations
src/ddtrace/ext/                        @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
src/ddtrace/contrib/                    @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
src/ddtrace/internal/schema/            @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
tests/                              @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py

# Files which can be approved by anyone
# DEV: This helps not requiring apm-core-python to review new files added
#      or files which changes often with most PRs
releasenotes/                       @DataDog/apm-python
tests/snapshots/                    @DataDog/apm-python
riotfile.py                         @DataDog/apm-python

# Core
tests/internal                      @DataDog/apm-core-python
tests/lib-injection                 @DataDog/apm-core-python
tests/opentelemetry                 @DataDog/apm-core-python
tests/opentracer                    @DataDog/apm-core-python
tests/runtime                       @DataDog/apm-core-python
tests/tracer                        @DataDog/apm-core-python

# CI App
src/ddtrace/contrib/pytest/             @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/contrib/pytest_bdd/         @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/contrib/pytest                @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/contrib/pytest_bdd            @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/ext/ci.py                   @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/ext/test.py                 @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/internal/codeowners.py      @DataDog/apm-core-python @datadog/ci-app-libraries
src/ddtrace/internal/ci_visibility/     @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/internal/ci_visibility/       @DataDog/apm-core-python @DataDog/ci-app-libraries

# Debugger
src/ddtrace/debugging/                  @DataDog/debugger-python
src/ddtrace/settings/dynamic_instrumentation.py     @DataDog/debugger-python
src/ddtrace/internal/injection.py       @DataDog/debugger-python @DataDog/apm-core-python
src/ddtrace/internal/wrapping.py        @DataDog/debugger-python @DataDog/apm-core-python
src/ddtrace/internal/module.py          @DataDog/debugger-python @DataDog/apm-core-python
tests/debugging/                    @DataDog/debugger-python
tests/internal/test_injection.py    @DataDog/debugger-python @DataDog/apm-core-python
tests/internal/test_wrapping.py     @DataDog/debugger-python @DataDog/apm-core-python
tests/internal/test_module.py       @DataDog/debugger-python @DataDog/apm-core-python

# ASM
src/ddtrace/appsec/                     @DataDog/asm-python
src/ddtrace/contrib/subprocess/         @DataDog/asm-python
tests/appsec/                       @DataDog/asm-python
tests/contrib/dbapi/test_dbapi_appsec.py    @DataDog/asm-python
tests/contrib/subprocess            @DataDog/asm-python
tests/contrib/flask/test_flask_appsec.py    @DataDog/asm-python
tests/contrib/django/django_app/appsec_urls.py @DataDog/asm-python
tests/contrib/django/test_django_appsec.py  @DataDog/asm-python
tests/snapshots/tests*appsec*.json  @DataDog/asm-python
tests/contrib/*/test*appsec*.py     @DataDog/asm-python

# Profiling
src/ddtrace/profiling                   @DataDog/profiling-python @DataDog/apm-core-python
tests/profiling                     @DataDog/profiling-python @DataDog/apm-core-python

# Remote Config
src/ddtrace/internal/remoteconfig       @DataDog/remote-config @DataDog/apm-core-python
tests/internal/remoteconfig         @DataDog/remote-config @DataDog/apm-core-python

# Guild
# Note that core is added here since 2 reviewers are required. The guild isn't
# big enough to support if a guild member makes a change which means 2 other
# guild members have to review.
# We should enforce this for important files, but more frequently edited ones
# can settle for having 1 guild member review + a core team member.
setup.py                            @DataDog/python-guild
setup.cfg                           @DataDog/python-guild
pyproject.toml                      @DataDog/python-guild
.readthedocs.yml                    @DataDog/python-guild  @DataDog/apm-core-python
README.md                           @DataDog/python-guild  @DataDog/apm-core-python
mypy.ini                            @DataDog/python-guild  @DataDog/apm-core-python
.github/PULL_REQUEST_TEMPLATE.md    @DataDog/python-guild  @DataDog/apm-core-python
.github/ISSUE_TEMPLATE.md           @DataDog/python-guild  @DataDog/apm-core-python
.github/CODEOWNERS                  @DataDog/python-guild  @DataDog/apm-core-python
src/ddtrace/internal/compat.py          @DataDog/python-guild  @DataDog/apm-core-python

skip test in real agent
  tests/integration/test_integration.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

skip test in real agent
  tests/integration/test_integration.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

chore(internal): offer readonly api in core (#6426)
  ddtrace/internal/core.py
  tests/internal/test_context_events_api.py
Owners: @DataDog/apm-core-python

telemetry track sampling rates
  ddtrace/internal/constants.py
  ddtrace/internal/telemetry/constants.py
  ddtrace/internal/telemetry/writer.py
  ddtrace/sampler.py
  ddtrace/settings/config.py
  tests/telemetry/test_writer.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

Switch to feature release note
  releasenotes/notes/fix-e8168413eeec1e85.yaml
Owners: @DataDog/apm-python

chore(telemetry): track the number of dropped spans and reason
  ddtrace/internal/_encoding.pyx
  ddtrace/internal/processor/trace.py
  ddtrace/internal/writer/writer.py
Owners: @DataDog/apm-core-python

deduplicate some test code about sampling
  tests/tracer/test_sampler.py
  tests/tracer/test_sampling_decision.py
  tests/tracer/test_single_span_sampling_rule.py
  tests/tracer/test_single_span_sampling_rules.py
Owners: @DataDog/apm-core-python

whitespace
  tests/tracer/test_single_span_sampling_rules.py
Owners: @DataDog/apm-core-python

A few more fixes
  docs/contributing-integrations.rst
Owners: @DataDog/apm-core-python

call tracer shutdown to address flakiness
  tests/integration/test_integration.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

chore(telemetry): send single span sampling configurations (#6489)
  ddtrace/internal/constants.py
  ddtrace/internal/sampling.py
  ddtrace/internal/telemetry/constants.py
  ddtrace/internal/telemetry/writer.py
  ddtrace/internal/utils/http.py
  ddtrace/settings/config.py
  tests/telemetry/test_writer.py
  tests/tracer/test_single_span_sampling_rules.py
  tests/utils.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

Refactor tests instead of adding duplicate code in new tests
  tests/contrib/openai/cassettes/chat_completion_streamed.yaml
  tests/contrib/openai/cassettes/chat_completion_streamed_async_tiktoken.yaml
  tests/contrib/openai/cassettes/chat_completion_streamed_tiktoken.yaml
  tests/contrib/openai/cassettes/completion_async_streamed_tiktoken.yaml
  tests/contrib/openai/cassettes/completion_streamed.yaml
  tests/contrib/openai/cassettes/completion_streamed_tiktoken.yaml
  tests/contrib/openai/test_openai.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

remove unneeded t.shutdown() calls
  tests/integration/test_integration.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

fix(langchain): add patch test cases, fix double patch issue for embeddings/vectorstores (#6475)
  ddtrace/contrib/langchain/patch.py
  releasenotes/notes/fix-langchain-patching-800e4d50f4b2769a.yaml
  tests/contrib/langchain/test_langchain_patch.py
Owners: @DataDog/apm-core-python, @DataDog/apm-python, @DataDog/apm-framework-integrations-reviewers-py

fix(langchain): add patch test cases, fix double patch issue for embeddings/vectorstores (#6475)
  ddtrace/contrib/langchain/patch.py
  releasenotes/notes/fix-langchain-patching-800e4d50f4b2769a.yaml
  tests/contrib/langchain/test_langchain_patch.py
Owners: @DataDog/apm-core-python, @DataDog/apm-python, @DataDog/apm-framework-integrations-reviewers-py

fix(kafka): handle errors from ensure_text gracefully for Kafka tracing (#6493)
  ddtrace/contrib/kafka/patch.py
  releasenotes/notes/handle_ensure_text_errors_gracefully-63bcee9f2c3f3d96.yaml
Owners: @DataDog/apm-core-python, @DataDog/apm-python

fix(kafka): handle errors from ensure_text gracefully for Kafka tracing (#6493)
  ddtrace/contrib/kafka/patch.py
  releasenotes/notes/handle_ensure_text_errors_gracefully-63bcee9f2c3f3d96.yaml
Owners: @DataDog/apm-core-python, @DataDog/apm-python

fix(kafka): handle errors from ensure_text gracefully for Kafka tracing (#6493)
  ddtrace/contrib/kafka/patch.py
  releasenotes/notes/handle_ensure_text_errors_gracefully-63bcee9f2c3f3d96.yaml
Owners: @DataDog/apm-core-python, @DataDog/apm-python

fix failing test
  ddtrace/sampler.py
  tests/tracer/test_sampler.py
  tests/utils.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

clarifying sampler tests
  tests/tracer/test_sampler.py
Owners: @DataDog/apm-core-python

ci(gunicorn): resolve deadlocks in tests (#6474)
  tests/contrib/gunicorn/test_gunicorn.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

bump args
  .circleci/config.templ.yml
Owners: @DataDog/apm-core-python

verbose
  .circleci/config.templ.yml
Owners: @DataDog/apm-core-python

chore: add suitespec coverage check script (#6460)
  riotfile.py
  scripts/check_suitespec_coverage.py
  scripts/gen_circleci_config.py
  scripts/needs_testrun.py
  tests/suitespec.py
Owners: @DataDog/apm-python, @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

clarifying sampler tests
  tests/tracer/test_sampler.py
Owners: @DataDog/apm-core-python

ci: run only the necessary pre-checks
  .circleci/config.templ.yml
  scripts/gen_circleci_config.py
  scripts/needs_testrun.py
Owners: @DataDog/apm-core-python

ci: run only the necessary pre-checks (#6516)
  .circleci/config.templ.yml
  scripts/gen_circleci_config.py
  scripts/needs_testrun.py
Owners: @DataDog/apm-core-python

Try decreasing the size of what we ship
  setup.py
Owners: @DataDog/python-guild

tests(integrations): make test_span_tags less flaky (#6469)
  tests/integration/test_integration.py
  tests/snapshots/tests.integration.test_integration.test_span_tags[v0.4].json
  tests/snapshots/tests.integration.test_integration.test_span_tags[v0.5].json
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py, @DataDog/apm-python

Remove glob
  setup.py
Owners: @DataDog/python-guild

Restructure where strip happens
  setup.py
Owners: @DataDog/python-guild

Formatting
  setup.py
Owners: @DataDog/python-guild

refactor(ci-visibility): avoid getting env var multiple times (#6480)
  ddtrace/contrib/pytest/plugin.py
  ddtrace/internal/ci_visibility/encoder.py
  ddtrace/internal/ci_visibility/recorder.py
  ddtrace/internal/ci_visibility/writer.py
  tests/ci_visibility/test_coverage_per_suite.py
  tests/ci_visibility/test_encoder.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

ci: run suites when setup sources changed
  tests/.suitespec.json
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

Remove check for coverage enabled
  ddtrace/internal/ci_visibility/recorder.py
Owners: @DataDog/apm-core-python

feat: add command injection detection (#6429)
  ddtrace/appsec/iast/constants.py
  ddtrace/appsec/iast/taint_sinks/_base.py
  ddtrace/appsec/iast/taint_sinks/command_injection.py
  ddtrace/contrib/subprocess/patch.py
  tests/appsec/iast/test_command_injection.py
  tests/contrib/subprocess/test_subprocess.py
Owners: @DataDog/apm-core-python, @DataDog/asm-python

Reorder checks so app key comes after enablement
  ddtrace/internal/ci_visibility/recorder.py
  tests/ci_visibility/test_ci_visibility.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

Fix release note
  releasenotes/notes/fix-e8168413eeec1e85.yaml
Owners: @DataDog/apm-python

Refactor test spans
  ddtrace/contrib/unittest/constants.py
  ddtrace/contrib/unittest/patch.py
  ddtrace/internal/ci_visibility/encoder.py
Owners: @DataDog/apm-core-python

Follow new RFC tags formatting
  ddtrace/contrib/pytest_benchmark/constants.py
Owners: @DataDog/apm-core-python
