Repository DataDog/dd-trace-py, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py, @DataDog/apm-python, @DataDog/ci-app-libraries, @datadog/ci-app-libraries, @DataDog/debugger-python, @DataDog/asm-python, @DataDog/profiling-python, @DataDog/remote-config, @DataDog/python-guild

Flask tests, changelog, docs, return to attrs land
  ddtrace/appsec/iast/_util.py
  ddtrace/appsec/iast/processor.py
  ddtrace/appsec/iast/reporter.py
  ddtrace/appsec/iast/taint_sinks/_base.py
  ddtrace/appsec/iast/taint_sinks/insecure_cookie.py
  ddtrace/appsec/iast/taint_sinks/path_traversal.py
  ddtrace/appsec/iast/taint_sinks/sql_injection.py
  ddtrace/settings/config.py
  docs/configuration.rst
  releasenotes/notes/asm-iast-report-scrubbing-ef2aa1d74f866656.yaml
  tests/appsec/iast/test_reporter.py
  tests/contrib/flask/test_flask_appsec.py
Owners: @DataDog/asm-python, @DataDog/apm-core-python, @DataDog/apm-python

Format
  setup.py
Owners: @DataDog/python-guild

move iast constants to general location
  ddtrace/appsec/_constants.py
  ddtrace/contrib/flask/patch.py
  ddtrace/internal/constants.py
Owners: @DataDog/asm-python, @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

Fix misnamed variable
  setup.py
Owners: @DataDog/python-guild

remove all non-iast appsec stuff from flask contrib
  ddtrace/appsec/_asm_request_context.py
  ddtrace/contrib/flask/patch.py
  ddtrace/internal/core.py
Owners: @DataDog/asm-python, @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

Fix alpine support
  setup.py
Owners: @DataDog/python-guild

Fix archive_type
  setup.py
Owners: @DataDog/python-guild

chore(datastreams): enable datastreams in circleci
  .circleci/config.yml
  tests/datastreams/test_encoding.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

fix python2/3 compat issue with 'bytes'
  tests/datastreams/test_encoding.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

remove some iast tainting code from flask contrib
  ddtrace/appsec/_asm_request_context.py
  ddtrace/contrib/flask/patch.py
Owners: @DataDog/asm-python, @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

Protect backtrace code
  ddtrace/internal/datadog/profiling/src/interface.cpp
Owners: @DataDog/apm-core-python

chore(datastreams): enable datastreams in circleci (#6240)
  .circleci/config.yml
  tests/datastreams/test_encoding.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

Fix typo
  ddtrace/internal/datadog/profiling/src/interface.cpp
Owners: @DataDog/apm-core-python

Forgot
  setup.py
Owners: @DataDog/python-guild

Fix style
  ddtrace/internal/datadog/profiling/src/interface.cpp
Owners: @DataDog/apm-core-python

docs: simplify readme (#6231)
  README.md
  docs/contributing.rst
Owners: @DataDog/python-guild, @DataDog/apm-core-python

rename telemetry lifecycle writer to just telemetry writer
  benchmarks/bm/utils.py
  benchmarks/ddtrace_run/scenario.py
  ddtrace/_monkey.py
  ddtrace/appsec/_metrics.py
  ddtrace/appsec/iast/_metrics.py
  ddtrace/internal/logger.py
  ddtrace/internal/processor/trace.py
  ddtrace/internal/telemetry/__init__.py
  ddtrace/internal/telemetry/writer.py
  ddtrace/internal/writer/writer.py
  tests/appsec/test_telemety.py
  tests/telemetry/app.py
  tests/telemetry/conftest.py
  tests/telemetry/test_telemetry.py
  tests/telemetry/test_telemetry_metrics.py
  tests/telemetry/test_writer.py
  tests/tracer/test_processors.py
Owners: @DataDog/apm-core-python, @DataDog/asm-python, @DataDog/apm-framework-integrations-reviewers-py

Debug CI
  setup.py
Owners: @DataDog/python-guild

fix failing benchmark tests
  benchmarks/bm/utils.py
  ddtrace/internal/telemetry/__init__.py
Owners: @DataDog/apm-core-python

fix(runtime metrics): ensure DD_TAGS are added to runtime metrics (#6271)
  ddtrace/internal/runtime/constants.py
  ddtrace/internal/runtime/runtime_metrics.py
  tests/tracer/runtime/test_runtime_metrics.py
  tests/tracer/runtime/test_tag_collectors.py
Owners: @DataDog/apm-core-python

Fix Windows download path
  setup.py
Owners: @DataDog/python-guild

precheck
  tests/tracer/test_trace_utils.py
Owners: @DataDog/apm-core-python

Try to use more general endpoint for WindowS
  setup.py
Owners: @DataDog/python-guild

Fix windows path
  setup.py
Owners: @DataDog/python-guild

Add zipfile
  setup.py
Owners: @DataDog/python-guild

chore(ci): remove benchmarks CircleCI job
  .circleci/config.yml
Owners: @DataDog/apm-core-python

chore(data_streams): propagate SNS context (#6218)
  ddtrace/contrib/botocore/patch.py
  tests/contrib/botocore/test.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

chore: ensure benchmarks/ package is not included in final wheels
  setup.py
Owners: @DataDog/python-guild

fix(runtime metrics): ensure DD_TAGS are added to runtime metrics (#6271)
  ddtrace/internal/runtime/constants.py
  ddtrace/internal/runtime/runtime_metrics.py
  tests/tracer/runtime/test_runtime_metrics.py
  tests/tracer/runtime/test_tag_collectors.py
Owners: @DataDog/apm-core-python

chore(bandit): fix bandit errors for contribs (#6205)
  ddtrace/contrib/elasticsearch/patch.py
  ddtrace/contrib/pylibmc/client.py
  ddtrace/contrib/pytest_bdd/plugin.py
  ddtrace/contrib/sanic/patch.py
  pyproject.toml
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py, @DataDog/ci-app-libraries, @DataDog/python-guild

working on getting flask -k appsec tests to pass
  ddtrace/appsec/_asm_request_context.py
  ddtrace/appsec/processor.py
  ddtrace/contrib/flask/patch.py
  ddtrace/internal/core.py
  tests/contrib/flask/test_flask_appsec.py
  tests/contrib/flask/test_flask_appsec_telemetry.py
Owners: @DataDog/asm-python, @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

ci: update CI parametric tests configuration (#6260)
  .github/workflows/system-tests.yml
Owners: @DataDog/apm-core-python

ci: update CI parametric tests configuration (#6260)
  .github/workflows/system-tests.yml
Owners: @DataDog/apm-core-python

ci: update CI parametric tests configuration (#6260)
  .github/workflows/system-tests.yml
Owners: @DataDog/apm-core-python

fix(ci): specify latest typing-extensions, exceptiongroup (#6253)
  .riot/requirements/11b6d79.txt
  .riot/requirements/11ee002.txt
  .riot/requirements/127d8b4.txt
  .riot/requirements/12b0262.txt
  .riot/requirements/12c6f65.txt
  .riot/requirements/131b01d.txt
  .riot/requirements/134bed0.txt
  .riot/requirements/1427229.txt
  .riot/requirements/152c052.txt
  .riot/requirements/1692bd3.txt
  .riot/requirements/169d74e.txt
  .riot/requirements/186a1b5.txt
  .riot/requirements/186f3c8.txt
  .riot/requirements/18cbf68.txt
  .riot/requirements/1b12e9e.txt
  .riot/requirements/1bed2b2.txt
  .riot/requirements/1ee1d52.txt
  .riot/requirements/1ee2224.txt
  .riot/requirements/1f7ec7d.txt
  .riot/requirements/20babc9.txt
  .riot/requirements/345f42d.txt
  .riot/requirements/352ae2b.txt
  .riot/requirements/49894f1.txt
  .riot/requirements/4b6364f.txt
  .riot/requirements/4ed41b4.txt
  .riot/requirements/591784b.txt
  .riot/requirements/61a20a1.txt
  .riot/requirements/8f570cd.txt
  .riot/requirements/9c81b27.txt
  .riot/requirements/a6e48ee.txt
  .riot/requirements/b436a80.txt
  .riot/requirements/b7ac594.txt
  .riot/requirements/d3fd547.txt
  .riot/requirements/e6acf18.txt
  .riot/requirements/f5a5572.txt
  riotfile.py
Owners: @DataDog/apm-core-python, @DataDog/apm-python

chore(ci-visibility): add support for test skipping
  ddtrace/contrib/pytest/plugin.py
  ddtrace/internal/ci_visibility/__init__.py
  ddtrace/internal/ci_visibility/constants.py
  ddtrace/internal/ci_visibility/encoder.py
  ddtrace/internal/ci_visibility/git_client.py
  ddtrace/internal/ci_visibility/recorder.py
  tests/contrib/pytest/test_pytest.py
Owners: @DataDog/apm-core-python, @DataDog/ci-app-libraries

fix merge
  ddtrace/appsec/iast/_taint_tracking/Exceptions/exceptions.h
  scripts/cformat.sh
Owners: @DataDog/asm-python, @DataDog/apm-core-python

fix merge
  scripts/cformat.sh
Owners: @DataDog/apm-core-python

Log when argument conversion or parsing fails.
  ddtrace/contrib/pytest_bdd/plugin.py
Owners: @DataDog/apm-core-python, @DataDog/ci-app-libraries

fix(iast): update cmakelist
  ddtrace/appsec/iast/TODO-iast.md
  ddtrace/appsec/iast/_taint_tracking/CMakeLists.txt
  ddtrace/appsec/iast/_taint_tracking/TaintedObject/TaintedObject.cpp
  ddtrace/appsec/iast/_taint_tracking/TaintedObject/TaintedObject.h
Owners: @DataDog/asm-python

.github/CODEOWNERS:

# Order matters, the last matched is what is used

# APM Core Python is the default owner of all files
*                                   @DataDog/apm-core-python

# Framework Integrations
ddtrace/ext/                        @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
ddtrace/contrib/                    @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
ddtrace/internal/schema/            @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
tests/                              @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py

# Files which can be approved by anyone
# DEV: This helps not requiring apm-core-python to review new files added
#      or files which changes often with most PRs
releasenotes/                       @DataDog/apm-python
tests/snapshots/                    @DataDog/apm-python
riotfile.py                         @DataDog/apm-python

# Core
tests/internal                      @DataDog/apm-core-python
tests/lib-injection                 @DataDog/apm-core-python
tests/opentelemetry                 @DataDog/apm-core-python
tests/opentracer                    @DataDog/apm-core-python
tests/runtime                       @DataDog/apm-core-python
tests/tracer                        @DataDog/apm-core-python

# CI App
ddtrace/contrib/pytest/             @DataDog/apm-core-python @DataDog/ci-app-libraries
ddtrace/contrib/pytest_bdd/         @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/contrib/pytest                @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/contrib/pytest_bdd            @DataDog/apm-core-python @DataDog/ci-app-libraries
ddtrace/ext/ci.py                   @DataDog/apm-core-python @DataDog/ci-app-libraries
ddtrace/ext/test.py                 @DataDog/apm-core-python @DataDog/ci-app-libraries
ddtrace/internal/codeowners.py      @DataDog/apm-core-python @datadog/ci-app-libraries
ddtrace/internal/ci_visibility/     @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/internal/ci_visibility/       @DataDog/apm-core-python @DataDog/ci-app-libraries

# Debugger
ddtrace/debugging/                  @DataDog/debugger-python
ddtrace/settings/dynamic_instrumentation.py     @DataDog/debugger-python
ddtrace/internal/injection.py       @DataDog/debugger-python @DataDog/apm-core-python
ddtrace/internal/wrapping.py        @DataDog/debugger-python @DataDog/apm-core-python
ddtrace/internal/module.py          @DataDog/debugger-python @DataDog/apm-core-python
tests/debugging/                    @DataDog/debugger-python
tests/internal/test_injection.py    @DataDog/debugger-python @DataDog/apm-core-python
tests/internal/test_wrapping.py     @DataDog/debugger-python @DataDog/apm-core-python
tests/internal/test_module.py       @DataDog/debugger-python @DataDog/apm-core-python

# ASM
ddtrace/appsec/                     @DataDog/asm-python
ddtrace/contrib/subprocess/         @DataDog/asm-python
tests/appsec/                       @DataDog/asm-python
tests/contrib/dbapi/test_dbapi_appsec.py    @DataDog/asm-python
tests/contrib/subprocess            @DataDog/asm-python
tests/contrib/flask/test_flask_appsec.py    @DataDog/asm-python
tests/contrib/django/django_app/appsec_urls.py @DataDog/asm-python
tests/contrib/django/test_django_appsec.py  @DataDog/asm-python
tests/snapshots/tests*appsec*.json  @DataDog/asm-python
tests/contrib/*/test*appsec*.py     @DataDog/asm-python

# Profiling
ddtrace/profiling                   @DataDog/profiling-python @DataDog/apm-core-python
tests/profiling                     @DataDog/profiling-python @DataDog/apm-core-python

# Remote Config
ddtrace/internal/remoteconfig       @DataDog/remote-config @DataDog/apm-core-python
tests/internal/remoteconfig         @DataDog/remote-config @DataDog/apm-core-python

# Guild
# Note that core is added here since 2 reviewers are required. The guild isn't
# big enough to support if a guild member makes a change which means 2 other
# guild members have to review.
# We should enforce this for important files, but more frequently edited ones
# can settle for having 1 guild member review + a core team member.
setup.py                            @DataDog/python-guild
setup.cfg                           @DataDog/python-guild
pyproject.toml                      @DataDog/python-guild
.readthedocs.yml                    @DataDog/python-guild  @DataDog/apm-core-python
README.md                           @DataDog/python-guild  @DataDog/apm-core-python
mypy.ini                            @DataDog/python-guild  @DataDog/apm-core-python
.github/PULL_REQUEST_TEMPLATE.md    @DataDog/python-guild  @DataDog/apm-core-python
.github/ISSUE_TEMPLATE.md           @DataDog/python-guild  @DataDog/apm-core-python
.github/CODEOWNERS                  @DataDog/python-guild  @DataDog/apm-core-python
ddtrace/internal/compat.py          @DataDog/python-guild  @DataDog/apm-core-python
