Repository DataDog/dd-trace-py, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-core-python, @DataDog/apm-idm-python, @DataDog/asm-python, @DataDog/apm-python, @DataDog/python-guild, @DataDog/apm-sdk-api-python, @DataDog/ci-app-libraries, @datadog/ci-app-libraries, @DataDog/debugger-python, @DataDog/profiling-python, @DataDog/ml-observability, @DataDog/remote-config

update comments
  tests/profiling-v2/collector/test_threading.py
Owners: @DataDog/profiling-python

fmt, address PR comments
  ddtrace/contrib/google_generativeai/__init__.py
  ddtrace/contrib/internal/anthropic/_streaming.py
  ddtrace/contrib/internal/anthropic/patch.py
  ddtrace/contrib/internal/anthropic/utils.py
  ddtrace/contrib/internal/google_generativeai/_utils.py
  ddtrace/contrib/internal/google_generativeai/patch.py
  ddtrace/llmobs/_integrations/anthropic.py
  ddtrace/llmobs/_integrations/gemini.py
  ddtrace/llmobs/_utils.py
  tests/contrib/google_generativeai/test_google_generativeai.py
  tests/snapshots/tests.contrib.google_generativeai.test_google_generativeai.test_gemini_completion.json
  tests/snapshots/tests.contrib.google_generativeai.test_google_generativeai.test_gemini_completion_error.json
  tests/snapshots/tests.contrib.google_generativeai.test_google_generativeai.test_gemini_completion_image.json
  tests/snapshots/tests.contrib.google_generativeai.test_google_generativeai.test_gemini_completion_multiple_messages.json
  tests/snapshots/tests.contrib.google_generativeai.test_google_generativeai.test_gemini_completion_stream.json
  tests/snapshots/tests.contrib.google_generativeai.test_google_generativeai.test_gemini_completion_system_prompt.json
  tests/snapshots/tests.contrib.google_generativeai.test_google_generativeai.test_gemini_completion_tool_stream.json
  tests/snapshots/tests.contrib.google_generativeai.test_google_generativeai.test_gemini_tool_chat_completion.json
  tests/snapshots/tests.contrib.google_generativeai.test_google_generativeai.test_gemini_tool_completion.json
Owners: @DataDog/apm-core-python, @DataDog/apm-idm-python, @DataDog/ml-observability, @DataDog/apm-python

update comments
  tests/profiling-v2/collector/test_threading.py
Owners: @DataDog/profiling-python

refactoring rq
  ddtrace/contrib/rq/__init__.py
Owners: @DataDog/apm-core-python, @DataDog/apm-idm-python

update changelog for version 2.12.2 via release script
  CHANGELOG.md
Owners: @DataDog/apm-python

chore(profiling): fix a flaky test (#10636)
  tests/profiling-v2/collector/test_threading.py
Owners: @DataDog/profiling-python

fix unittest alone
  tests/ci_visibility/util.py
  tests/contrib/unittest/test_unittest_snapshot.py
  tests/snapshots/tests.contrib.unittest.test_unittest_snapshot.test_unittest_generates_coverage_correctly.json
  tests/snapshots/tests.contrib.unittest.test_unittest_snapshot.test_unittest_generates_coverage_correctly_with_skipped.json
  tests/snapshots/tests.contrib.unittest.test_unittest_snapshot.test_unittest_generates_source_file_data.json
  tests/snapshots/tests.contrib.unittest.test_unittest_snapshot.test_unittest_will_force_run_multiple_unskippable_tests.json
  tests/snapshots/tests.contrib.unittest.test_unittest_snapshot.test_unittest_will_force_run_unskippable_tests.json
  tests/snapshots/tests.contrib.unittest.test_unittest_snapshot.test_unittest_will_include_custom_tests.json
  tests/snapshots/tests.contrib.unittest.test_unittest_snapshot.test_unittest_will_include_lines_pct.json
  tests/snapshots/tests.contrib.unittest.test_unittest_snapshot.test_unittest_will_report_coverage_by_test_with_itr_skipped.json
  tests/snapshots/tests.contrib.unittest.test_unittest_snapshot.test_unittest_will_report_coverage_by_test_with_itr_skipped_multiple.json
  tests/snapshots/tests.contrib.unittest.test_unittest_snapshot.test_unittest_will_skip_invalid_unskippable_tests.json
  tests/snapshots/tests.contrib.unittest.test_unittest_snapshot.test_unittest_will_skip_unskippable_test_if_skip_decorator.json
  tests/utils.py
Owners: @DataDog/ci-app-libraries, @DataDog/apm-core-python, @DataDog/apm-idm-python, @DataDog/apm-python, @DataDog/python-guild

Do not assume default roles if not provided
  ddtrace/llmobs/_integrations/gemini.py
  tests/contrib/google_generativeai/test_google_generativeai_llmobs.py
  tests/llmobs/_utils.py
Owners: @DataDog/ml-observability, @DataDog/apm-core-python, @DataDog/apm-idm-python

avoid silent error
  ddtrace/contrib/internal/google_generativeai/_utils.py
Owners: @DataDog/apm-core-python, @DataDog/apm-idm-python

fmt
  ddtrace/contrib/google_generativeai/__init__.py
  ddtrace/contrib/internal/google_generativeai/_utils.py
  ddtrace/llmobs/_integrations/gemini.py
Owners: @DataDog/apm-core-python, @DataDog/apm-idm-python, @DataDog/ml-observability

.github/CODEOWNERS:

# Order matters, the last matched is what is used

# APM Core Python is the default owner of all files
*                                   @DataDog/apm-core-python

# Framework Integrations
ddtrace/ext/                        @DataDog/apm-core-python @DataDog/apm-idm-python
ddtrace/contrib/                    @DataDog/apm-core-python @DataDog/apm-idm-python
ddtrace/internal/schema/            @DataDog/apm-core-python @DataDog/apm-idm-python
tests/contrib/                      @DataDog/apm-core-python @DataDog/apm-idm-python
tests/internal/peer_service         @DataDog/apm-core-python @DataDog/apm-idm-python
tests/internal/service_name         @DataDog/apm-core-python @DataDog/apm-idm-python
tests/contrib/grpc                  @DataDog/apm-idm-python @DataDog/asm-python

# Files which can be approved by anyone
# DEV: This helps not requiring apm-core-python to review new files added
#      or files which changes often with most PRs
releasenotes/                       @DataDog/apm-python
tests/snapshots/                    @DataDog/apm-python
riotfile.py                         @DataDog/apm-python
.riot/requirements/                 @DataDog/apm-python
CHANGELOG.md                        @DataDog/apm-python
README.md                           @DataDog/apm-python

# Guild
setup.py                            @DataDog/python-guild
setup.cfg                           @DataDog/python-guild
pyproject.toml                      @DataDog/python-guild
hatch.toml                          @DataDog/python-guild
.readthedocs.yml                    @DataDog/python-guild  @DataDog/apm-core-python
README.md                           @DataDog/python-guild  @DataDog/apm-core-python
mypy.ini                            @DataDog/python-guild  @DataDog/apm-core-python
.circleci/                          @DataDog/python-guild  @DataDog/apm-core-python
.github/                            @DataDog/python-guild  @DataDog/apm-core-python
.gitlab/                            @DataDog/python-guild  @DataDog/apm-core-python
ddtrace/internal/_file_queue.py     @DataDog/python-guild
ddtrace/internal/_unpatched.py      @DataDog/python-guild
ddtrace/internal/compat.py          @DataDog/python-guild  @DataDog/apm-core-python
ddtrace/settings/config.py          @DataDog/python-guild  @DataDog/apm-sdk-api-python
docs/                               @DataDog/python-guild
tests/utils.py                      @DataDog/python-guild
tests/.suitespec.json               @DataDog/python-guild  @DataDog/apm-core-python
tests/suitespec.py                  @DataDog/python-guild  @DataDog/apm-core-python

# Core / Language Platform
tests/internal                      @DataDog/apm-core-python
tests/lib-injection                 @DataDog/apm-core-python
tests/opentelemetry                 @DataDog/apm-core-python
tests/opentracer                    @DataDog/apm-core-python
tests/runtime                       @DataDog/apm-core-python
tests/tracer                        @DataDog/apm-core-python

# CI App and related
ddtrace/contrib/coverage            @DataDog/ci-app-libraries
ddtrace/contrib/pytest              @DataDog/ci-app-libraries
ddtrace/contrib/pytest_bdd          @DataDog/ci-app-libraries
ddtrace/contrib/unittest            @DataDog/ci-app-libraries
tests/contrib/pytest                @DataDog/ci-app-libraries
tests/contrib/pytest_bdd            @DataDog/ci-app-libraries
tests/contrib/unittest_plugin       @DataDog/ci-app-libraries
ddtrace/ext/ci.py                   @DataDog/ci-app-libraries
ddtrace/ext/test_visibility         @DataDog/ci-app-libraries
ddtrace/ext/test.py                 @DataDog/ci-app-libraries
ddtrace/internal/ci_visibility      @DataDog/ci-app-libraries
ddtrace/internal/test_visibility    @DataDog/ci-app-libraries
ddtrace/internal/codeowners.py      @DataDog/apm-core-python @datadog/ci-app-libraries
ddtrace/internal/coverage           @DataDog/apm-core-python @datadog/ci-app-libraries
tests/internal/test_codeowners.py   @datadog/ci-app-libraries
tests/ci_visibility                 @DataDog/ci-app-libraries
tests/coverage                      @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/tracer/test_ci.py             @DataDog/ci-app-libraries
ddtrace/ext/git.py                  @DataDog/ci-app-libraries @DataDog/apm-core-python
scripts/ci_visibility/*             @DataDog/ci-app-libraries

# Debugger
ddtrace/debugging/                  @DataDog/debugger-python
ddtrace/settings/dynamic_instrumentation.py     @DataDog/debugger-python
ddtrace/internal/injection.py       @DataDog/debugger-python @DataDog/apm-core-python
ddtrace/internal/wrapping.py        @DataDog/debugger-python @DataDog/apm-core-python
ddtrace/internal/module.py          @DataDog/debugger-python @DataDog/apm-core-python
ddtrace/internal/symbol_db/         @DataDog/debugger-python
tests/debugging/                    @DataDog/debugger-python
tests/internal/test_injection.py    @DataDog/debugger-python @DataDog/apm-core-python
tests/internal/test_wrapping.py     @DataDog/debugger-python @DataDog/apm-core-python
tests/internal/test_module.py       @DataDog/debugger-python @DataDog/apm-core-python
tests/internal/symbol_db/           @DataDog/debugger-python
.gitlab/tests/debugging.yml         @DataDog/debugger-python

# ASM
.gitlab/tests/appsec.yml            @DataDog/asm-python
benchmarks/appsec*                  @DataDog/asm-python
benchmarks/bm/iast_utils*           @DataDog/asm-python
benchmarks/bm/iast_fixtures*        @DataDog/asm-python
benchmarks/base/aspects_benchmarks_generate.py @DataDog/asm-python
ddtrace/appsec/                     @DataDog/asm-python
ddtrace/settings/asm.py             @DataDog/asm-python
ddtrace/contrib/subprocess/         @DataDog/asm-python
ddtrace/contrib/flask_login/        @DataDog/asm-python
ddtrace/contrib/webbrowser          @DataDog/asm-python
ddtrace/contrib/urllib              @DataDog/asm-python
ddtrace/internal/_exceptions.py     @DataDog/asm-python
tests/appsec/                       @DataDog/asm-python
tests/contrib/dbapi/test_dbapi_appsec.py    @DataDog/asm-python
tests/contrib/subprocess            @DataDog/asm-python
tests/contrib/flask/test_flask_appsec.py    @DataDog/asm-python
tests/contrib/django/django_app/appsec_urls.py @DataDog/asm-python
tests/contrib/django/test_django_appsec.py  @DataDog/asm-python
tests/snapshots/tests*appsec*.json  @DataDog/asm-python
tests/contrib/*/test*appsec*.py     @DataDog/asm-python
scripts/iast/*                      @DataDog/asm-python

# Profiling
ddtrace/profiling                   @DataDog/profiling-python
ddtrace/settings/profiling.py       @DataDog/profiling-python
ddtrace/internal/datadog/profiling  @DataDog/profiling-python
tests/profiling                     @DataDog/profiling-python
tests/profiling-v2                  @DataDog/profiling-python
.gitlab/tests/profiling.yml         @DataDog/profiling-python

# MLObs
ddtrace/llmobs/                                         @DataDog/ml-observability
ddtrace/contrib/internal/openai                         @DataDog/ml-observability
ddtrace/contrib/openai                                  @DataDog/ml-observability
ddtrace/contrib/internal/langchain                      @DataDog/ml-observability
ddtrace/contrib/langchain                               @DataDog/ml-observability
ddtrace/contrib/internal/botocore/services/bedrock.py   @DataDog/ml-observability
ddtrace/contrib/botocore/services/bedrock.py            @DataDog/ml-observability
ddtrace/contrib/internal/anthropic                      @DataDog/ml-observability
ddtrace/contrib/anthropic                               @DataDog/ml-observability
tests/llmobs                                            @DataDog/ml-observability
tests/contrib/openai                                    @DataDog/ml-observability
tests/contrib/langchain                                 @DataDog/ml-observability
tests/contrib/botocore/test_bedrock.py                  @DataDog/ml-observability
tests/contrib/botocore/test_bedrock_llmobs.py           @DataDog/ml-observability
tests/contrib/botocore/bedrock_cassettes                @DataDog/ml-observability
tests/contrib/anthropic                                 @DataDog/ml-observability
.gitlab/tests/llmobs.yml                                @DataDog/ml-observability

# Remote Config
ddtrace/internal/remoteconfig       @DataDog/remote-config @DataDog/apm-core-python
tests/internal/remoteconfig         @DataDog/remote-config @DataDog/apm-core-python

# API SDK
ddtrace/_trace/                                    @DataDog/apm-sdk-api-python
ddtrace/opentelemetry/                             @DataDog/apm-sdk-api-python
ddtrace/internal/opentelemetry                     @DataDog/apm-sdk-api-python
ddtrace/opentracer/                                @DataDog/apm-sdk-api-python
ddtrace/propagation/                               @DataDog/apm-sdk-api-python
ddtrace/filters.py                                 @DataDog/apm-sdk-api-python
ddtrace/pin.py                                     @DataDog/apm-sdk-api-python
ddtrace/sampler.py                                 @DataDog/apm-sdk-api-python
ddtrace/sampling_rule.py                           @DataDog/apm-sdk-api-python
ddtrace/internal/sampling.py                       @DataDog/apm-sdk-api-python
ddtrace/internal/tracemethods.py                   @DataDog/apm-sdk-api-python
ddttace/settings/_otel_remapper.py                 @DataDog/apm-sdk-api-python
tests/integration/test_priority_sampling.py        @DataDog/apm-sdk-api-python
tests/integration/test_propagation.py              @DataDog/apm-sdk-api-python
tests/test_sampling.py                             @DataDog/apm-sdk-api-python
tests/test_tracemethods.py                         @DataDog/apm-sdk-api-python
tests/opentelemetry/                               @DataDog/apm-sdk-api-python
tests/tracer/                                      @DataDog/apm-sdk-api-python
# Override because order matters
tests/tracer/test_ci.py                            @DataDog/ci-app-libraries
