Repository DataDog/dd-trace-py, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py, @DataDog/apm-python, @DataDog/ci-app-libraries, @datadog/ci-app-libraries, @DataDog/debugger-python, @DataDog/asm-python, @DataDog/profiling-python, @DataDog/remote-config, @DataDog/python-guild

.github/CODEOWNERS:

# Order matters, the last matched is what is used

# APM Core Python is the default owner of all files
*                                   @DataDog/apm-core-python

# Framework Integrations
ddtrace/ext/                        @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
ddtrace/contrib/                    @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
ddtrace/internal/schema/            @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
tests/                              @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py

# Files which can be approved by anyone
# DEV: This helps not requiring apm-core-python to review new files added
#      or files which changes often with most PRs
releasenotes/                       @DataDog/apm-python
tests/snapshots/                    @DataDog/apm-python
riotfile.py                         @DataDog/apm-python

# Core
tests/internal                      @DataDog/apm-core-python
tests/lib-injection                 @DataDog/apm-core-python
tests/opentelemetry                 @DataDog/apm-core-python
tests/opentracer                    @DataDog/apm-core-python
tests/runtime                       @DataDog/apm-core-python
tests/tracer                        @DataDog/apm-core-python

# CI App
ddtrace/contrib/pytest/             @DataDog/apm-core-python @DataDog/ci-app-libraries
ddtrace/contrib/pytest_bdd/         @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/contrib/pytest                @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/contrib/pytest_bdd            @DataDog/apm-core-python @DataDog/ci-app-libraries
ddtrace/ext/ci.py                   @DataDog/apm-core-python @DataDog/ci-app-libraries
ddtrace/ext/test.py                 @DataDog/apm-core-python @DataDog/ci-app-libraries
ddtrace/internal/codeowners.py      @DataDog/apm-core-python @datadog/ci-app-libraries
ddtrace/internal/ci_visibility/     @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/internal/ci_visibility/       @DataDog/apm-core-python @DataDog/ci-app-libraries

# Debugger
ddtrace/debugging/                  @DataDog/debugger-python
ddtrace/settings/dynamic_instrumentation.py     @DataDog/debugger-python
ddtrace/internal/injection.py       @DataDog/debugger-python @DataDog/apm-core-python
ddtrace/internal/wrapping.py        @DataDog/debugger-python @DataDog/apm-core-python
ddtrace/internal/module.py          @DataDog/debugger-python @DataDog/apm-core-python
tests/debugging/                    @DataDog/debugger-python
tests/internal/test_injection.py    @DataDog/debugger-python @DataDog/apm-core-python
tests/internal/test_wrapping.py     @DataDog/debugger-python @DataDog/apm-core-python
tests/internal/test_module.py       @DataDog/debugger-python @DataDog/apm-core-python

# ASM
ddtrace/appsec/                     @DataDog/asm-python
ddtrace/contrib/subprocess/         @DataDog/asm-python
tests/appsec/                       @DataDog/asm-python
tests/contrib/dbapi/test_dbapi_appsec.py    @DataDog/asm-python
tests/contrib/subprocess            @DataDog/asm-python
tests/contrib/flask/test_flask_appsec.py    @DataDog/asm-python
tests/contrib/django/django_app/appsec_urls.py @DataDog/asm-python
tests/contrib/django/test_django_appsec.py  @DataDog/asm-python
tests/snapshots/tests*appsec*.json  @DataDog/asm-python
tests/contrib/*/test*appsec*.py     @DataDog/asm-python

# Profiling
ddtrace/profiling                   @DataDog/profiling-python @DataDog/apm-core-python
tests/profiling                     @DataDog/profiling-python @DataDog/apm-core-python

# Remote Config
ddtrace/internal/remoteconfig       @DataDog/remote-config @DataDog/apm-core-python
tests/internal/remoteconfig         @DataDog/remote-config @DataDog/apm-core-python

# Guild
# Note that core is added here since 2 reviewers are required. The guild isn't
# big enough to support if a guild member makes a change which means 2 other
# guild members have to review.
# We should enforce this for important files, but more frequently edited ones
# can settle for having 1 guild member review + a core team member.
setup.py                            @DataDog/python-guild
setup.cfg                           @DataDog/python-guild
pyproject.toml                      @DataDog/python-guild
.readthedocs.yml                    @DataDog/python-guild  @DataDog/apm-core-python
README.md                           @DataDog/python-guild  @DataDog/apm-core-python
mypy.ini                            @DataDog/python-guild  @DataDog/apm-core-python
.github/PULL_REQUEST_TEMPLATE.md    @DataDog/python-guild  @DataDog/apm-core-python
.github/ISSUE_TEMPLATE.md           @DataDog/python-guild  @DataDog/apm-core-python
.github/CODEOWNERS                  @DataDog/python-guild  @DataDog/apm-core-python
ddtrace/internal/compat.py          @DataDog/python-guild  @DataDog/apm-core-python

Remove dead code + mypy fixes
  ddtrace/appsec/iast/_stacktrace.c
  ddtrace/appsec/iast/_util.py
  ddtrace/appsec/iast/reporter.py
  ddtrace/appsec/iast/taint_sinks/_base.py
  ddtrace/appsec/iast/taint_sinks/sql_injection.py
  ddtrace/internal/utils/cache.py
Owners: @DataDog/asm-python, @DataDog/apm-core-python

Remove debug stuff
  ddtrace/appsec/iast/taint_sinks/_base.py
Owners: @DataDog/asm-python

Fixed problem with None in headers
  ddtrace/contrib/trace_utils.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

Avoid flake8 G200 (unable to reproduce locally)
  ddtrace/contrib/pytest_bdd/plugin.py
Owners: @DataDog/apm-core-python, @DataDog/ci-app-libraries

chore(debugger): add runtime id for probe status messages (#6248)
  ddtrace/debugging/_probe/status.py
  tests/debugging/probe/test_registry.py
  tests/debugging/probe/test_status.py
Owners: @DataDog/debugger-python

refactor(ci-visibility): remove code coverage env var
  ddtrace/contrib/pytest/plugin.py
  ddtrace/internal/ci_visibility/coverage.py
  ddtrace/internal/ci_visibility/recorder.py
  ddtrace/internal/ci_visibility/writer.py
  ddtrace/settings/config.py
  tests/contrib/pytest/test_pytest.py
  tests/integration/test_integration.py
  tests/utils.py
Owners: @DataDog/apm-core-python, @DataDog/ci-app-libraries, @DataDog/apm-framework-integrations-reviewers-py

chore: remove unused files
  ddtrace/appsec/iast/_ast/aspects/__init__.py
Owners: @DataDog/asm-python

doc fixes
  docs/configuration.rst
  releasenotes/notes/asm-iast-report-scrubbing-ef2aa1d74f866656.yaml
Owners: @DataDog/apm-core-python, @DataDog/apm-python
