Repository DataDog/dd-trace-py, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py, @DataDog/apm-python, @DataDog/ci-app-libraries, @datadog/ci-app-libraries, @DataDog/debugger-python, @DataDog/asm-python, @DataDog/profiling-python, @DataDog/remote-config, @DataDog/python-guild

.github/CODEOWNERS:

# Order matters, the last matched is what is used

# APM Core Python is the default owner of all files
*                                   @DataDog/apm-core-python

# Framework Integrations
src/ddtrace/ext/                        @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
src/ddtrace/contrib/                    @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
src/ddtrace/internal/schema/            @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
tests/                              @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py

# Files which can be approved by anyone
# DEV: This helps not requiring apm-core-python to review new files added
#      or files which changes often with most PRs
releasenotes/                       @DataDog/apm-python
tests/snapshots/                    @DataDog/apm-python
riotfile.py                         @DataDog/apm-python

# Core
tests/internal                      @DataDog/apm-core-python
tests/lib-injection                 @DataDog/apm-core-python
tests/opentelemetry                 @DataDog/apm-core-python
tests/opentracer                    @DataDog/apm-core-python
tests/runtime                       @DataDog/apm-core-python
tests/tracer                        @DataDog/apm-core-python

# CI App
src/ddtrace/contrib/pytest/             @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/contrib/pytest_bdd/         @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/contrib/pytest                @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/contrib/pytest_bdd            @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/ext/ci.py                   @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/ext/test.py                 @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/internal/codeowners.py      @DataDog/apm-core-python @datadog/ci-app-libraries
src/ddtrace/internal/ci_visibility/     @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/internal/ci_visibility/       @DataDog/apm-core-python @DataDog/ci-app-libraries

# Debugger
src/ddtrace/debugging/                  @DataDog/debugger-python
src/ddtrace/settings/dynamic_instrumentation.py     @DataDog/debugger-python
src/ddtrace/internal/injection.py       @DataDog/debugger-python @DataDog/apm-core-python
src/ddtrace/internal/wrapping.py        @DataDog/debugger-python @DataDog/apm-core-python
src/ddtrace/internal/module.py          @DataDog/debugger-python @DataDog/apm-core-python
tests/debugging/                    @DataDog/debugger-python
tests/internal/test_injection.py    @DataDog/debugger-python @DataDog/apm-core-python
tests/internal/test_wrapping.py     @DataDog/debugger-python @DataDog/apm-core-python
tests/internal/test_module.py       @DataDog/debugger-python @DataDog/apm-core-python

# ASM
src/ddtrace/appsec/                     @DataDog/asm-python
src/ddtrace/contrib/subprocess/         @DataDog/asm-python
tests/appsec/                       @DataDog/asm-python
tests/contrib/dbapi/test_dbapi_appsec.py    @DataDog/asm-python
tests/contrib/subprocess            @DataDog/asm-python
tests/contrib/flask/test_flask_appsec.py    @DataDog/asm-python
tests/contrib/django/django_app/appsec_urls.py @DataDog/asm-python
tests/contrib/django/test_django_appsec.py  @DataDog/asm-python
tests/snapshots/tests*appsec*.json  @DataDog/asm-python
tests/contrib/*/test*appsec*.py     @DataDog/asm-python

# Profiling
src/ddtrace/profiling                   @DataDog/profiling-python @DataDog/apm-core-python
tests/profiling                     @DataDog/profiling-python @DataDog/apm-core-python

# Remote Config
src/ddtrace/internal/remoteconfig       @DataDog/remote-config @DataDog/apm-core-python
tests/internal/remoteconfig         @DataDog/remote-config @DataDog/apm-core-python

# Guild
# Note that core is added here since 2 reviewers are required. The guild isn't
# big enough to support if a guild member makes a change which means 2 other
# guild members have to review.
# We should enforce this for important files, but more frequently edited ones
# can settle for having 1 guild member review + a core team member.
setup.py                            @DataDog/python-guild
setup.cfg                           @DataDog/python-guild
pyproject.toml                      @DataDog/python-guild
.readthedocs.yml                    @DataDog/python-guild  @DataDog/apm-core-python
README.md                           @DataDog/python-guild  @DataDog/apm-core-python
mypy.ini                            @DataDog/python-guild  @DataDog/apm-core-python
.github/PULL_REQUEST_TEMPLATE.md    @DataDog/python-guild  @DataDog/apm-core-python
.github/ISSUE_TEMPLATE.md           @DataDog/python-guild  @DataDog/apm-core-python
.github/CODEOWNERS                  @DataDog/python-guild  @DataDog/apm-core-python
src/ddtrace/internal/compat.py          @DataDog/python-guild  @DataDog/apm-core-python

make square brackets mostly optional in dispatch() calls
  ddtrace/internal/core.py
Owners: @DataDog/apm-core-python

add test
  tests/internal/test_context_events_api.py
Owners: @DataDog/apm-core-python

Fix bug in metric collection
  ddtrace/internal/runtime/metric_collectors.py
Owners: @DataDog/apm-core-python

feat(profiling): provide libdatadog as an export method (#5969)
  ddtrace/internal/compat.py
  ddtrace/internal/datadog/profiling/__init__.py
  ddtrace/internal/datadog/profiling/ddup.pyx
  ddtrace/internal/datadog/profiling/src/exporter.cpp
  ddtrace/internal/datadog/profiling/src/interface.cpp
  ddtrace/profiling/collector/_traceback.pyx
  ddtrace/profiling/collector/memalloc.py
  ddtrace/profiling/collector/stack.pyx
  ddtrace/profiling/profiler.py
  ddtrace/profiling/scheduler.py
  ddtrace/settings/profiling.py
  releasenotes/notes/profiling-use-libdatadog-c5d5e6b0c7d873b2.yaml
  setup.py
Owners: @DataDog/apm-core-python, @DataDog/apm-python, @DataDog/python-guild

remove iast code from django contrib
  ddtrace/appsec/handlers.py
  ddtrace/contrib/django/patch.py
  tests/contrib/django/test_django_appsec_snapshots.py
Owners: @DataDog/apm-core-python, @DataDog/asm-python

feat(asm): enable IAST report scrubbing (#6272)
  ddtrace/appsec/iast/_taint_tracking/__init__.py
  ddtrace/appsec/iast/_util.py
  ddtrace/appsec/iast/reporter.py
  ddtrace/appsec/iast/taint_sinks/_base.py
  ddtrace/appsec/iast/taint_sinks/insecure_cookie.py
  ddtrace/appsec/iast/taint_sinks/path_traversal.py
  ddtrace/appsec/iast/taint_sinks/sql_injection.py
  ddtrace/appsec/iast/taint_sinks/weak_cipher.py
  ddtrace/appsec/iast/taint_sinks/weak_hash.py
  ddtrace/settings/config.py
  docs/configuration.rst
  releasenotes/notes/asm-iast-report-scrubbing-ef2aa1d74f866656.yaml
  tests/appsec/iast/conftest.py
  tests/appsec/iast/test_reporter.py
  tests/appsec/iast/test_weak_hash.py
  tests/contrib/flask/test_flask_appsec_iast.py
Owners: @DataDog/apm-core-python, @DataDog/apm-python, @DataDog/asm-python

Make isort changes as per precheck
  ddtrace/internal/_encoding.pyi
  ddtrace/internal/_tagset.pyi
  ddtrace/internal/datadog/profiling/ddup.pyi
  ddtrace/profiling/_build.pyi
  ddtrace/profiling/_threading.pyi
  ddtrace/profiling/collector/_memalloc.pyi
  ddtrace/profiling/collector/_task.pyi
  ddtrace/profiling/collector/_traceback.pyi
  ddtrace/profiling/collector/stack.pyi
  ddtrace/profiling/exporter/pprof.pyi
Owners: @DataDog/apm-core-python

feat(serverless): spawn the mini agent in Azure consumption plan functions (#6399)
  ddtrace/internal/serverless/__init__.py
  ddtrace/internal/serverless/mini_agent.py
  ddtrace/internal/writer/writer.py
  ddtrace/settings/config.py
  ddtrace/tracer.py
  tests/internal/test_serverless.py
  tests/tracer/test_tracer.py
Owners: @DataDog/apm-core-python

chore(ci): add Datadog static analysis
  .github/workflows/dd-static-analysis.yml
  static-analysis.datadog.yml
Owners: @DataDog/apm-core-python

Trigger new analysis
  static-analysis.datadog.yml
Owners: @DataDog/apm-core-python

Update static-analysis.datadog.yml
  static-analysis.datadog.yml
Owners: @DataDog/apm-core-python

use v1
  .github/workflows/dd-static-analysis.yml
Owners: @DataDog/apm-core-python

use larger instance
  .github/workflows/dd-static-analysis.yml
Owners: @DataDog/apm-core-python

v1.0.3
  .github/workflows/dd-static-analysis.yml
Owners: @DataDog/apm-core-python

use 8 cores
  .github/workflows/dd-static-analysis.yml
Owners: @DataDog/apm-core-python

Add release notes
  releasenotes/notes/enable-data-stream-monitoring-for-kinesis-d5685ec1ac504cc3.yaml
Owners: @DataDog/apm-python

Update dd-static-analysis.yml
  .github/workflows/dd-static-analysis.yml
Owners: @DataDog/apm-core-python

changelog format fix
  releasenotes/notes/enable-data-stream-monitoring-for-kinesis-d5685ec1ac504cc3.yaml
Owners: @DataDog/apm-python

chore(internal): improve build times of IAST native code (#6437)
  setup.py
Owners: @DataDog/python-guild

avoid using assert
  ddtrace/apm/trace_handlers.py
Owners: @DataDog/apm-core-python

ci(riot): bump to 0.17.7 (#6481)
  .circleci/config.templ.yml
  .riot/requirements/17c15c8.txt
  riotfile.py
  scripts/ddtest
  scripts/needs_testrun.py
  tests/.suitespec.json
Owners: @DataDog/apm-core-python, @DataDog/apm-python, @DataDog/apm-framework-integrations-reviewers-py

Handle errors gracefully
  ddtrace/contrib/kafka/patch.py
Owners: @DataDog/apm-core-python

ci: generate dynamic config by parsing YAML
  .circleci/config.templ.yml
  .circleci/config.yml
  .gitignore
  .riot/requirements/b2ac981.txt
  riotfile.py
  scripts/gen_circleci_config.py
  scripts/needs_testrun.py
  setup.cfg
Owners: @DataDog/apm-core-python, @DataDog/apm-python, @DataDog/python-guild

2.7 module
  ddtrace/apm/__init__.py
Owners: @DataDog/apm-core-python

ci(debugging): change di backend repo to run dogfood pipelines (#6483)
  .gitlab-ci.yml
Owners: @DataDog/apm-core-python

ci(debugging): change di backend repo to run dogfood pipelines (#6483)
  .gitlab-ci.yml
Owners: @DataDog/apm-core-python

chore(ci-visibility): unshallow repository when git >= 2.27 (#6268)
  ddtrace/contrib/pytest/plugin.py
  ddtrace/ext/git.py
  ddtrace/internal/ci_visibility/git_client.py
  ddtrace/internal/ci_visibility/recorder.py
  tests/ci_visibility/test_ci_visibility.py
  tests/tracer/test_ci.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

skip setup test if IAST don't support the Python version
  tests/appsec/iast/conftest.py
Owners: @DataDog/asm-python

skip setup test if IAST don't support the Python version
  tests/appsec/iast/conftest.py
Owners: @DataDog/asm-python

ci: run system tests when necessary on PRs.
  .github/workflows/system-tests.yml
Owners: @DataDog/apm-core-python

fix codestyle
  ddtrace/appsec/iast/taint_sinks/command_injection.py
  tests/appsec/iast/test_command_injection.py
  tests/contrib/subprocess/test_subprocess.py
Owners: @DataDog/apm-core-python, @DataDog/asm-python

fix tests
  tests/contrib/django/test_django_appsec_iast.py
Owners: @DataDog/asm-python

fix tests
  tests/appsec/iast/test_command_injection.py
Owners: @DataDog/asm-python

docs: improve ddtrace.auto documentation (#6365)
  docs/installation_quickstart.rst
Owners: @DataDog/apm-core-python

chore: add hatch
  .circleci/config.templ.yml
  docs/spelling_wordlist.txt
  hatch.toml
  pyproject.toml
  riotfile.py
  scripts/docs/build.sh
  scripts/docs/install.sh
Owners: @DataDog/apm-core-python, @DataDog/python-guild, @DataDog/apm-python

update docs
  docs/contributing-testing.rst
Owners: @DataDog/apm-core-python

update hooks
  hooks/scripts/run-black.sh
  hooks/scripts/run-codespell.sh
  hooks/scripts/run-flake8.sh
  hooks/scripts/run-mypy.sh
Owners: @DataDog/apm-core-python

remove duplicated setuptools configuration
  pyproject.toml
  setup.py
Owners: @DataDog/python-guild

Apply suggestions from code review
  docs/contributing-testing.rst
Owners: @DataDog/apm-core-python

more migration of tools
  .github/workflows/build_python_3.yml
  pyproject.toml
  setup.cfg
Owners: @DataDog/apm-core-python, @DataDog/python-guild
