Repository DataDog/dd-trace-py, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-core-python, @DataDog/apm-idm-python, @DataDog/asm-python, @DataDog/apm-python, @DataDog/python-guild, @DataDog/apm-sdk-api-python, @DataDog/ci-app-libraries, @datadog/ci-app-libraries, @DataDog/debugger-python, @DataDog/profiling-python, @DataDog/ml-observability, @DataDog/remote-config

.github/CODEOWNERS:

# Order matters, the last matched is what is used

# APM Core Python is the default owner of all files
*                                   @DataDog/apm-core-python

# Framework Integrations
ddtrace/ext/                        @DataDog/apm-core-python @DataDog/apm-idm-python
ddtrace/contrib/                    @DataDog/apm-core-python @DataDog/apm-idm-python
ddtrace/internal/schema/            @DataDog/apm-core-python @DataDog/apm-idm-python
tests/contrib/                      @DataDog/apm-core-python @DataDog/apm-idm-python
tests/internal/peer_service         @DataDog/apm-core-python @DataDog/apm-idm-python
tests/internal/service_name         @DataDog/apm-core-python @DataDog/apm-idm-python
tests/contrib/grpc                  @DataDog/apm-idm-python @DataDog/asm-python

# Files which can be approved by anyone
# DEV: This helps not requiring apm-core-python to review new files added
#      or files which changes often with most PRs
releasenotes/                       @DataDog/apm-python
tests/snapshots/                    @DataDog/apm-python
riotfile.py                         @DataDog/apm-python
.riot/requirements/                 @DataDog/apm-python
CHANGELOG.md                        @DataDog/apm-python
README.md                           @DataDog/apm-python

# Guild
setup.py                            @DataDog/python-guild
setup.cfg                           @DataDog/python-guild
pyproject.toml                      @DataDog/python-guild
hatch.toml                          @DataDog/python-guild
.readthedocs.yml                    @DataDog/python-guild  @DataDog/apm-core-python
README.md                           @DataDog/python-guild  @DataDog/apm-core-python
mypy.ini                            @DataDog/python-guild  @DataDog/apm-core-python
.circleci/                          @DataDog/python-guild  @DataDog/apm-core-python
.github/                            @DataDog/python-guild  @DataDog/apm-core-python
.gitlab/                            @DataDog/python-guild  @DataDog/apm-core-python
ddtrace/internal/_file_queue.py     @DataDog/python-guild
ddtrace/internal/_unpatched.py      @DataDog/python-guild
ddtrace/internal/compat.py          @DataDog/python-guild  @DataDog/apm-core-python
ddtrace/settings/config.py          @DataDog/python-guild  @DataDog/apm-sdk-api-python
docs/                               @DataDog/python-guild
tests/utils.py                      @DataDog/python-guild
tests/.suitespec.json               @DataDog/python-guild  @DataDog/apm-core-python
tests/suitespec.py                  @DataDog/python-guild  @DataDog/apm-core-python

# Core / Language Platform
tests/internal                      @DataDog/apm-core-python
tests/lib-injection                 @DataDog/apm-core-python
tests/opentelemetry                 @DataDog/apm-core-python
tests/opentracer                    @DataDog/apm-core-python
tests/runtime                       @DataDog/apm-core-python
tests/tracer                        @DataDog/apm-core-python

# CI App and related
ddtrace/contrib/coverage            @DataDog/ci-app-libraries
ddtrace/contrib/pytest              @DataDog/ci-app-libraries
ddtrace/contrib/pytest_bdd          @DataDog/ci-app-libraries
ddtrace/contrib/unittest            @DataDog/ci-app-libraries
tests/contrib/pytest                @DataDog/ci-app-libraries
tests/contrib/pytest_bdd            @DataDog/ci-app-libraries
tests/contrib/unittest_plugin       @DataDog/ci-app-libraries
ddtrace/ext/ci.py                   @DataDog/ci-app-libraries
ddtrace/ext/test_visibility         @DataDog/ci-app-libraries
ddtrace/ext/test.py                 @DataDog/ci-app-libraries
ddtrace/internal/ci_visibility      @DataDog/ci-app-libraries
ddtrace/internal/test_visibility    @DataDog/ci-app-libraries
ddtrace/internal/codeowners.py      @DataDog/apm-core-python @datadog/ci-app-libraries
ddtrace/internal/coverage           @DataDog/apm-core-python @datadog/ci-app-libraries
tests/internal/test_codeowners.py   @datadog/ci-app-libraries
tests/ci_visibility                 @DataDog/ci-app-libraries
tests/coverage                      @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/tracer/test_ci.py             @DataDog/ci-app-libraries
ddtrace/ext/git.py                  @DataDog/ci-app-libraries @DataDog/apm-core-python
scripts/ci_visibility/*             @DataDog/ci-app-libraries

# Debugger
ddtrace/debugging/                  @DataDog/debugger-python
ddtrace/settings/dynamic_instrumentation.py     @DataDog/debugger-python
ddtrace/internal/injection.py       @DataDog/debugger-python @DataDog/apm-core-python
ddtrace/internal/wrapping.py        @DataDog/debugger-python @DataDog/apm-core-python
ddtrace/internal/module.py          @DataDog/debugger-python @DataDog/apm-core-python
ddtrace/internal/symbol_db/         @DataDog/debugger-python
tests/debugging/                    @DataDog/debugger-python
tests/internal/test_injection.py    @DataDog/debugger-python @DataDog/apm-core-python
tests/internal/test_wrapping.py     @DataDog/debugger-python @DataDog/apm-core-python
tests/internal/test_module.py       @DataDog/debugger-python @DataDog/apm-core-python
tests/internal/symbol_db/           @DataDog/debugger-python
.gitlab/tests/debugging.yml         @DataDog/debugger-python

# ASM
.gitlab/tests/appsec.yml            @DataDog/asm-python
benchmarks/appsec*                  @DataDog/asm-python
benchmarks/bm/iast_utils*           @DataDog/asm-python
benchmarks/bm/iast_fixtures*        @DataDog/asm-python
benchmarks/base/aspects_benchmarks_generate.py @DataDog/asm-python
ddtrace/appsec/                     @DataDog/asm-python
ddtrace/settings/asm.py             @DataDog/asm-python
ddtrace/contrib/subprocess/         @DataDog/asm-python
ddtrace/contrib/flask_login/        @DataDog/asm-python
ddtrace/contrib/webbrowser          @DataDog/asm-python
ddtrace/contrib/urllib              @DataDog/asm-python
ddtrace/internal/_exceptions.py     @DataDog/asm-python
tests/appsec/                       @DataDog/asm-python
tests/contrib/dbapi/test_dbapi_appsec.py    @DataDog/asm-python
tests/contrib/subprocess            @DataDog/asm-python
tests/contrib/flask/test_flask_appsec.py    @DataDog/asm-python
tests/contrib/django/django_app/appsec_urls.py @DataDog/asm-python
tests/contrib/django/test_django_appsec.py  @DataDog/asm-python
tests/snapshots/tests*appsec*.json  @DataDog/asm-python
tests/contrib/*/test*appsec*.py     @DataDog/asm-python
scripts/iast/*                      @DataDog/asm-python

# Profiling
ddtrace/profiling                   @DataDog/profiling-python
ddtrace/settings/profiling.py       @DataDog/profiling-python
ddtrace/internal/datadog/profiling  @DataDog/profiling-python
tests/profiling                     @DataDog/profiling-python
tests/profiling-v2                  @DataDog/profiling-python
.gitlab/tests/profiling.yml         @DataDog/profiling-python

# MLObs
ddtrace/llmobs/                                         @DataDog/ml-observability
ddtrace/contrib/internal/openai                         @DataDog/ml-observability
ddtrace/contrib/openai                                  @DataDog/ml-observability
ddtrace/contrib/internal/langchain                      @DataDog/ml-observability
ddtrace/contrib/langchain                               @DataDog/ml-observability
ddtrace/contrib/internal/botocore/services/bedrock.py   @DataDog/ml-observability
ddtrace/contrib/botocore/services/bedrock.py            @DataDog/ml-observability
ddtrace/contrib/internal/anthropic                      @DataDog/ml-observability
ddtrace/contrib/anthropic                               @DataDog/ml-observability
tests/llmobs                                            @DataDog/ml-observability
tests/contrib/openai                                    @DataDog/ml-observability
tests/contrib/langchain                                 @DataDog/ml-observability
tests/contrib/botocore/test_bedrock.py                  @DataDog/ml-observability
tests/contrib/botocore/test_bedrock_llmobs.py           @DataDog/ml-observability
tests/contrib/botocore/bedrock_cassettes                @DataDog/ml-observability
tests/contrib/anthropic                                 @DataDog/ml-observability
.gitlab/tests/llmobs.yml                                @DataDog/ml-observability

# Remote Config
ddtrace/internal/remoteconfig       @DataDog/remote-config @DataDog/apm-core-python
tests/internal/remoteconfig         @DataDog/remote-config @DataDog/apm-core-python

# API SDK
ddtrace/_trace/                                    @DataDog/apm-sdk-api-python
ddtrace/opentelemetry/                             @DataDog/apm-sdk-api-python
ddtrace/internal/opentelemetry                     @DataDog/apm-sdk-api-python
ddtrace/opentracer/                                @DataDog/apm-sdk-api-python
ddtrace/propagation/                               @DataDog/apm-sdk-api-python
ddtrace/filters.py                                 @DataDog/apm-sdk-api-python
ddtrace/pin.py                                     @DataDog/apm-sdk-api-python
ddtrace/sampler.py                                 @DataDog/apm-sdk-api-python
ddtrace/sampling_rule.py                           @DataDog/apm-sdk-api-python
ddtrace/internal/sampling.py                       @DataDog/apm-sdk-api-python
ddtrace/internal/tracemethods.py                   @DataDog/apm-sdk-api-python
ddttace/settings/_otel_remapper.py                 @DataDog/apm-sdk-api-python
tests/integration/test_priority_sampling.py        @DataDog/apm-sdk-api-python
tests/integration/test_propagation.py              @DataDog/apm-sdk-api-python
tests/test_sampling.py                             @DataDog/apm-sdk-api-python
tests/test_tracemethods.py                         @DataDog/apm-sdk-api-python
tests/opentelemetry/                               @DataDog/apm-sdk-api-python
tests/tracer/                                      @DataDog/apm-sdk-api-python
# Override because order matters
tests/tracer/test_ci.py                            @DataDog/ci-app-libraries

fix merge
  tests/tracer/test_writer.py
Owners: @DataDog/apm-sdk-api-python

fix merge 3
  tests/tracer/test_writer.py
Owners: @DataDog/apm-sdk-api-python

Apply suggestions from code review
  releasenotes/notes/remove-v03-encoder-1f36d48dc297c6fa.yaml
Owners: @DataDog/apm-python

fix tests
  .riot/requirements/154ec10.txt
  .riot/requirements/1721018.txt
  .riot/requirements/1bf9721.txt
  .riot/requirements/26aada0.txt
  .riot/requirements/3b28562.txt
  .riot/requirements/e222783.txt
  riotfile.py
Owners: @DataDog/apm-python

with stmt usage and tests
  ddtrace/profiling/collector/_lock.py
  tests/profiling-v2/collector/test_asyncio.py
  tests/profiling/collector/test_asyncio.py
Owners: @DataDog/profiling-python

release note
  releasenotes/notes/profiling-asyncio-lock-with-ef209edcdd346093.yaml
Owners: @DataDog/apm-python

remove print
  ddtrace/profiling/collector/_lock.py
Owners: @DataDog/profiling-python

fix typo
  releasenotes/notes/profiling-asyncio-lock-with-ef209edcdd346093.yaml
Owners: @DataDog/apm-python

fix api version downgrade test
  tests/integration/test_integration.py
Owners: @DataDog/apm-core-python

fmt
  ddtrace/internal/writer/writer.py
  tests/tracer/test_encoders.py
Owners: @DataDog/apm-core-python, @DataDog/apm-sdk-api-python

fix test
  tests/tracer/test_span.py
Owners: @DataDog/apm-sdk-api-python

set with_stmt
  tests/profiling-v2/collector/test_asyncio.py
Owners: @DataDog/profiling-python

simplify
  tests/profiling/collector/test_asyncio.py
Owners: @DataDog/profiling-python

added pin to context
  ddtrace/contrib/rq/__init__.py
Owners: @DataDog/apm-core-python, @DataDog/apm-idm-python

Add tests
  tests/contrib/google_generativeai/conftest.py
  tests/contrib/google_generativeai/test_google_generativeai.py
  tests/contrib/google_generativeai/test_google_generativeai_llmobs.py
  tests/llmobs/_utils.py
  tests/snapshots/tests.contrib.google_generativeai.test_google_generativeai.test_gemini_completion_image.json
Owners: @DataDog/apm-core-python, @DataDog/apm-idm-python, @DataDog/ml-observability, @DataDog/apm-python

chore: alphabetize .gitlab/tests/contrib.yml (#10616)
  .gitlab/tests/contrib.yml
Owners: @DataDog/python-guild, @DataDog/apm-core-python

corrected format
  ddtrace/contrib/rq/__init__.py
Owners: @DataDog/apm-core-python, @DataDog/apm-idm-python

Address comments, fix snapshots
  .riot/requirements/1e15a25.txt
  .riot/requirements/1f54e6b.txt
  .riot/requirements/e8247d6.txt
  .riot/requirements/ebe4ea5.txt
  ddtrace/contrib/google_generativeai/__init__.py
  ddtrace/contrib/internal/google_generativeai/_utils.py
  ddtrace/contrib/internal/google_generativeai/patch.py
  ddtrace/llmobs/_integrations/gemini.py
  releasenotes/notes/feat-google-gemini-d5ee30b1d711bc08.yaml
  riotfile.py
  tests/contrib/google_generativeai/test_google_generativeai.py
  tests/snapshots/tests.contrib.google_generativeai.test_google_generativeai.test_gemini_completion_image.json
Owners: @DataDog/apm-python, @DataDog/apm-core-python, @DataDog/apm-idm-python, @DataDog/ml-observability

feat(profiling): captures `asyncio.Lock` usages with `with` context managers (#10622)
  ddtrace/profiling/collector/_lock.py
  releasenotes/notes/profiling-asyncio-lock-with-ef209edcdd346093.yaml
  tests/profiling-v2/collector/test_asyncio.py
  tests/profiling/collector/test_asyncio.py
Owners: @DataDog/profiling-python, @DataDog/apm-python

fix snapshots
  tests/contrib/google_generativeai/test_google_generativeai.py
  tests/snapshots/tests.contrib.google_generativeai.test_google_generativeai.test_gemini_completion.json
  tests/snapshots/tests.contrib.google_generativeai.test_google_generativeai.test_gemini_completion_error.json
  tests/snapshots/tests.contrib.google_generativeai.test_google_generativeai.test_gemini_completion_image.json
  tests/snapshots/tests.contrib.google_generativeai.test_google_generativeai.test_gemini_completion_multiple_messages.json
  tests/snapshots/tests.contrib.google_generativeai.test_google_generativeai.test_gemini_completion_stream.json
  tests/snapshots/tests.contrib.google_generativeai.test_google_generativeai.test_gemini_completion_system_prompt.json
  tests/snapshots/tests.contrib.google_generativeai.test_google_generativeai.test_gemini_completion_tool_stream.json
  tests/snapshots/tests.contrib.google_generativeai.test_google_generativeai.test_gemini_tool_chat_completion.json
  tests/snapshots/tests.contrib.google_generativeai.test_google_generativeai.test_gemini_tool_completion.json
Owners: @DataDog/apm-core-python, @DataDog/apm-idm-python, @DataDog/apm-python

ci: fix release publish step missing aws command (#10615)
  .gitlab/release.yml
Owners: @DataDog/python-guild, @DataDog/apm-core-python

ci: fix release publish step missing aws command (#10615)
  .gitlab/release.yml
Owners: @DataDog/python-guild, @DataDog/apm-core-python

Refactor
  ddtrace/llmobs/_integrations/gemini.py
Owners: @DataDog/ml-observability

fmt
  tests/contrib/google_generativeai/test_google_generativeai_llmobs.py
  tests/llmobs/_utils.py
Owners: @DataDog/apm-core-python, @DataDog/apm-idm-python, @DataDog/ml-observability

fmt
  ddtrace/contrib/google_generativeai/__init__.py
  tests/contrib/google_generativeai/test_google_generativeai_llmobs.py
  tests/llmobs/_utils.py
Owners: @DataDog/apm-core-python, @DataDog/apm-idm-python, @DataDog/ml-observability

typing
  ddtrace/llmobs/_integrations/gemini.py
Owners: @DataDog/ml-observability

refactoring code
  ddtrace/contrib/rq/__init__.py
Owners: @DataDog/apm-core-python, @DataDog/apm-idm-python

refactoring code
  ddtrace/contrib/rq/__init__.py
Owners: @DataDog/apm-core-python, @DataDog/apm-idm-python

use wip template
  .gitlab-ci.yml
Owners: @DataDog/apm-core-python

fix: import
  ddtrace/appsec/_iast/taint_sinks/header_injection.py
Owners: @DataDog/asm-python

fix: import
  ddtrace/appsec/_iast/taint_sinks/command_injection.py
  ddtrace/appsec/_iast/taint_sinks/header_injection.py
Owners: @DataDog/asm-python

fix(iast): avoid potencial attribute error raise errors [backport 2.11] (#10590)
  ddtrace/appsec/_iast/taint_sinks/command_injection.py
  ddtrace/appsec/_iast/taint_sinks/header_injection.py
  releasenotes/notes/iast-fix-iast-import-error-f26e1451571ecbae.yaml
  tests/contrib/django/test_django_appsec_snapshots.py
Owners: @DataDog/asm-python, @DataDog/apm-python

fix: import
  ddtrace/appsec/_iast/taint_sinks/command_injection.py
  ddtrace/appsec/_iast/taint_sinks/header_injection.py
Owners: @DataDog/asm-python

change aspect, update tests
  ddtrace/appsec/_iast/_taint_tracking/Aspects/AspectIndex.cpp
  tests/appsec/iast/aspects/test_re_aspects.py
Owners: @DataDog/asm-python

slight change of approach to capture out of range exception
  ddtrace/appsec/_iast/_taint_tracking/Aspects/AspectIndex.cpp
Owners: @DataDog/asm-python

whitespace
  ddtrace/appsec/_iast/_taint_tracking/Aspects/AspectIndex.cpp
Owners: @DataDog/asm-python

feat(iast): ast deny list
  ddtrace/appsec/_iast/_ast/ast_patching.py
Owners: @DataDog/asm-python

fix(iast): avoid potencial attribute error raise errors [backport 2.10] (#10591)
  ddtrace/appsec/_iast/taint_sinks/command_injection.py
  ddtrace/appsec/_iast/taint_sinks/header_injection.py
  releasenotes/notes/iast-fix-iast-import-error-f26e1451571ecbae.yaml
  tests/contrib/django/test_django_appsec_snapshots.py
Owners: @DataDog/asm-python, @DataDog/apm-python

more tests and fixes
  ddtrace/appsec/_iast/_taint_tracking/Aspects/Helpers.cpp
  ddtrace/appsec/_iast/_taint_tracking/Aspects/Helpers.h
  ddtrace/appsec/_iast/_taint_tracking/CMakeLists.txt
  ddtrace/appsec/_iast/_taint_tracking/Utils/StringUtils.h
  ddtrace/appsec/_iast/_taint_tracking/tests/test_helpers.cpp
  ddtrace/appsec/_iast/_taint_tracking/tests/test_stringutils.cpp
Owners: @DataDog/asm-python

feat(iast): ast deny list
  ddtrace/appsec/_iast/_ast/ast_patching.py
Owners: @DataDog/asm-python
