Repository DataDog/dd-trace-py, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py, @DataDog/apm-python, @DataDog/ci-app-libraries, @datadog/ci-app-libraries, @DataDog/debugger-python, @DataDog/asm-python, @DataDog/profiling-python, @DataDog/remote-config, @DataDog/python-guild

Update test_serverless.py
  tests/internal/test_serverless.py
Owners: @DataDog/apm-core-python

fix ast python variables
  ddtrace/appsec/iast/_ast/visitor.py
Owners: @DataDog/apm-core-python

chore(ci): remove installation test of ccheck (#6446)
  .circleci/config.yml
Owners: @DataDog/apm-core-python

unused import
  ddtrace/contrib/flask/patch.py
Owners: @DataDog/apm-core-python

fix(tracer): use RLOCK in span aggregator (#6325)
  ddtrace/internal/processor/trace.py
  ddtrace/settings/config.py
  docs/configuration.rst
  releasenotes/notes/add_flag_for_span_aggregator_rlock-b08c88e0da85dc66.yaml
  tests/contrib/gunicorn/test_gunicorn.py
Owners: @DataDog/apm-core-python, @DataDog/apm-python, @DataDog/apm-framework-integrations-reviewers-py

fix(tracer): use RLOCK in span aggregator (#6325)
  ddtrace/internal/processor/trace.py
  ddtrace/settings/config.py
  docs/configuration.rst
  releasenotes/notes/add_flag_for_span_aggregator_rlock-b08c88e0da85dc66.yaml
  tests/contrib/gunicorn/test_gunicorn.py
Owners: @DataDog/apm-core-python, @DataDog/apm-python, @DataDog/apm-framework-integrations-reviewers-py

fix(tracer): use RLOCK in span aggregator (#6325)
  ddtrace/internal/processor/trace.py
  ddtrace/settings/config.py
  docs/configuration.rst
  releasenotes/notes/add_flag_for_span_aggregator_rlock-b08c88e0da85dc66.yaml
  tests/contrib/gunicorn/test_gunicorn.py
Owners: @DataDog/apm-core-python, @DataDog/apm-python, @DataDog/apm-framework-integrations-reviewers-py

call wrapped outside of event handler to avoid infinite recursion
  ddtrace/appsec/handlers.py
  ddtrace/appsec/iast/_patch.py
  ddtrace/contrib/flask/patch.py
Owners: @DataDog/apm-core-python

avoid calling wrapped function twice
  ddtrace/appsec/handlers.py
  ddtrace/appsec/iast/_patch.py
  ddtrace/contrib/flask/patch.py
Owners: @DataDog/apm-core-python

address PR comments
  ddtrace/internal/serverless/mini_agent.py
  ddtrace/internal/writer/writer.py
  ddtrace/settings/config.py
  ddtrace/tracer.py
  tests/internal/test_serverless.py
  tests/utils.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

revert imports
  ddtrace/appsec/iast/_patch.py
Owners: @DataDog/apm-core-python

chore(ci): upgrade riot to 0.17.5 (#6445)
  .circleci/config.yml
  .riot/requirements/12a8577.txt
  riotfile.py
  scripts/ddtest
Owners: @DataDog/apm-core-python, @DataDog/apm-python

avoid changing library function signatures
  ddtrace/appsec/handlers.py
  ddtrace/appsec/iast/_patch.py
Owners: @DataDog/apm-core-python

Revert "fix(propagation): change default propagation to datadog (#6256)"
  ddtrace/internal/constants.py
  ddtrace/settings/config.py
  docs/configuration.rst
  docs/spelling_wordlist.txt
  releasenotes/notes/change_prop_def_to_datadog-9c48ccb8d6ab4de7.yaml
  riotfile.py
  tests/contrib/urllib3/test_urllib3.py
  tests/opentelemetry/conftest.py
  tests/telemetry/test_writer.py
  tests/tracer/test_propagation.py
Owners: @DataDog/apm-core-python, @DataDog/apm-python, @DataDog/apm-framework-integrations-reviewers-py

fix failing test
  tests/telemetry/test_writer.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

feat(iast): `instrumented.source` telemetry metrics (#6400)
  ddtrace/appsec/handlers.py
  ddtrace/contrib/django/patch.py
  ddtrace/contrib/flask/patch.py
Owners: @DataDog/apm-core-python

unused import
  ddtrace/contrib/flask/patch.py
Owners: @DataDog/apm-core-python

unnecessary changes
  ddtrace/appsec/handlers.py
  ddtrace/appsec/iast/_patch.py
Owners: @DataDog/apm-core-python

revert rcm configurations, this change requires a bigger refactor
  ddtrace/appsec/utils.py
  ddtrace/bootstrap/sitecustomize.py
  ddtrace/commands/ddtrace_run.py
  ddtrace/debugging/_debugger.py
  ddtrace/internal/_encoding.pyi
  ddtrace/internal/remoteconfig/worker.py
  ddtrace/internal/telemetry/writer.py
  ddtrace/settings/config.py
  tests/telemetry/test_writer.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

revert sampling configurations, this change requires a bigger refactor
  ddtrace/internal/constants.py
  ddtrace/internal/sampling.py
  ddtrace/internal/telemetry/writer.py
  ddtrace/internal/utils/http.py
  ddtrace/settings/config.py
  tests/telemetry/test_writer.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

PR suggestion
  ddtrace/internal/serverless/mini_agent.py
Owners: @DataDog/apm-core-python

lint
  ddtrace/internal/serverless/mini_agent.py
Owners: @DataDog/apm-core-python

unnecessary changes
  ddtrace/appsec/handlers.py
Owners: @DataDog/apm-core-python

Revert "fix(propagation): change default propagation to datadog" (#6449)
  ddtrace/internal/constants.py
  ddtrace/settings/config.py
  docs/configuration.rst
  docs/spelling_wordlist.txt
  releasenotes/notes/change_prop_def_to_datadog-9c48ccb8d6ab4de7.yaml
  riotfile.py
  tests/contrib/urllib3/test_urllib3.py
  tests/opentelemetry/conftest.py
  tests/telemetry/test_writer.py
  tests/tracer/test_propagation.py
Owners: @DataDog/apm-core-python, @DataDog/apm-python, @DataDog/apm-framework-integrations-reviewers-py

ci: run the debugger suite only if necessary
  riotfile.py
  scripts/needs_testrun.py
  tests/.suitespec.json
Owners: @DataDog/apm-python, @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

check before running riot
  .circleci/config.yml
  riotfile.py
  scripts/needs_testrun.py
Owners: @DataDog/apm-core-python, @DataDog/apm-python

web scraping FTW
  .circleci/config.yml
  scripts/needs_testrun.py
Owners: @DataDog/apm-core-python

add doctests
  .circleci/config.yml
  riotfile.py
  scripts/needs_testrun.py
Owners: @DataDog/apm-core-python, @DataDog/apm-python

use dynamic config
  .circleci/config.templ.yml
  .circleci/config.yml
  scripts/needs_testrun.py
Owners: @DataDog/apm-core-python

chore(telemetry): avoid using both ddtrace.auto and ddtrace-run in test (#6428)
  tests/telemetry/test_writer.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

fix tests
  tests/contrib/flask/test_flask_appsec.py
Owners: @DataDog/asm-python

Fix pytest_configure function
  ddtrace/contrib/pytest/plugin.py
Owners: @DataDog/apm-core-python

Add release note
  releasenotes/notes/fix-logging-e16eb910c0416c0d.yaml
Owners: @DataDog/apm-python

Refactor and simplify conditionals
  ddtrace/contrib/pytest/plugin.py
Owners: @DataDog/apm-core-python

ci: run the debugger suite only if necessary (#6412)
  .circleci/config.templ.yml
  .circleci/config.yml
  riotfile.py
  scripts/needs_testrun.py
  tests/.suitespec.json
Owners: @DataDog/apm-core-python, @DataDog/apm-python, @DataDog/apm-framework-integrations-reviewers-py

chore: enable iast tests
  tests/appsec/iast/aspects/test_str_py3.py
  tests/appsec/iast/taint_tracking/test_native_taint_range.py
  tests/appsec/iast/test_taint_tracking.py
Owners: @DataDog/asm-python

fix codestyle
  tests/appsec/iast/test_taint_tracking.py
Owners: @DataDog/asm-python

fix(debugging): report probe build error via status messages (#6402)
  ddtrace/debugging/_debugger.py
  ddtrace/debugging/_probe/remoteconfig.py
  releasenotes/notes/fix-debugger-status-log-probe-build-errors-54bf9ea91aaff5db.yaml
  tests/debugging/probe/test_remoteconfig.py
Owners: @DataDog/apm-core-python, @DataDog/apm-python, @DataDog/debugger-python

fix(debugging): report probe build error via status messages (#6402)
  ddtrace/debugging/_debugger.py
  ddtrace/debugging/_probe/remoteconfig.py
  releasenotes/notes/fix-debugger-status-log-probe-build-errors-54bf9ea91aaff5db.yaml
  tests/debugging/probe/test_remoteconfig.py
Owners: @DataDog/apm-core-python, @DataDog/apm-python, @DataDog/debugger-python

chore(ci): set testagent log level to WARNING
  docker-compose.yml
Owners: @DataDog/apm-core-python

.github/CODEOWNERS:

# Order matters, the last matched is what is used

# APM Core Python is the default owner of all files
*                                   @DataDog/apm-core-python

# Framework Integrations
src/ddtrace/ext/                        @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
src/ddtrace/contrib/                    @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
src/ddtrace/internal/schema/            @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
tests/                              @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py

# Files which can be approved by anyone
# DEV: This helps not requiring apm-core-python to review new files added
#      or files which changes often with most PRs
releasenotes/                       @DataDog/apm-python
tests/snapshots/                    @DataDog/apm-python
riotfile.py                         @DataDog/apm-python

# Core
tests/internal                      @DataDog/apm-core-python
tests/lib-injection                 @DataDog/apm-core-python
tests/opentelemetry                 @DataDog/apm-core-python
tests/opentracer                    @DataDog/apm-core-python
tests/runtime                       @DataDog/apm-core-python
tests/tracer                        @DataDog/apm-core-python

# CI App
src/ddtrace/contrib/pytest/             @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/contrib/pytest_bdd/         @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/contrib/pytest                @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/contrib/pytest_bdd            @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/ext/ci.py                   @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/ext/test.py                 @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/internal/codeowners.py      @DataDog/apm-core-python @datadog/ci-app-libraries
src/ddtrace/internal/ci_visibility/     @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/internal/ci_visibility/       @DataDog/apm-core-python @DataDog/ci-app-libraries

# Debugger
src/ddtrace/debugging/                  @DataDog/debugger-python
src/ddtrace/settings/dynamic_instrumentation.py     @DataDog/debugger-python
src/ddtrace/internal/injection.py       @DataDog/debugger-python @DataDog/apm-core-python
src/ddtrace/internal/wrapping.py        @DataDog/debugger-python @DataDog/apm-core-python
src/ddtrace/internal/module.py          @DataDog/debugger-python @DataDog/apm-core-python
tests/debugging/                    @DataDog/debugger-python
tests/internal/test_injection.py    @DataDog/debugger-python @DataDog/apm-core-python
tests/internal/test_wrapping.py     @DataDog/debugger-python @DataDog/apm-core-python
tests/internal/test_module.py       @DataDog/debugger-python @DataDog/apm-core-python

# ASM
src/ddtrace/appsec/                     @DataDog/asm-python
src/ddtrace/contrib/subprocess/         @DataDog/asm-python
tests/appsec/                       @DataDog/asm-python
tests/contrib/dbapi/test_dbapi_appsec.py    @DataDog/asm-python
tests/contrib/subprocess            @DataDog/asm-python
tests/contrib/flask/test_flask_appsec.py    @DataDog/asm-python
tests/contrib/django/django_app/appsec_urls.py @DataDog/asm-python
tests/contrib/django/test_django_appsec.py  @DataDog/asm-python
tests/snapshots/tests*appsec*.json  @DataDog/asm-python
tests/contrib/*/test*appsec*.py     @DataDog/asm-python

# Profiling
src/ddtrace/profiling                   @DataDog/profiling-python @DataDog/apm-core-python
tests/profiling                     @DataDog/profiling-python @DataDog/apm-core-python

# Remote Config
src/ddtrace/internal/remoteconfig       @DataDog/remote-config @DataDog/apm-core-python
tests/internal/remoteconfig         @DataDog/remote-config @DataDog/apm-core-python

# Guild
# Note that core is added here since 2 reviewers are required. The guild isn't
# big enough to support if a guild member makes a change which means 2 other
# guild members have to review.
# We should enforce this for important files, but more frequently edited ones
# can settle for having 1 guild member review + a core team member.
setup.py                            @DataDog/python-guild
setup.cfg                           @DataDog/python-guild
pyproject.toml                      @DataDog/python-guild
.readthedocs.yml                    @DataDog/python-guild  @DataDog/apm-core-python
README.md                           @DataDog/python-guild  @DataDog/apm-core-python
mypy.ini                            @DataDog/python-guild  @DataDog/apm-core-python
.github/PULL_REQUEST_TEMPLATE.md    @DataDog/python-guild  @DataDog/apm-core-python
.github/ISSUE_TEMPLATE.md           @DataDog/python-guild  @DataDog/apm-core-python
.github/CODEOWNERS                  @DataDog/python-guild  @DataDog/apm-core-python
src/ddtrace/internal/compat.py          @DataDog/python-guild  @DataDog/apm-core-python
