Repository DataDog/dd-trace-py, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py, @DataDog/apm-python, @DataDog/ci-app-libraries, @datadog/ci-app-libraries, @DataDog/debugger-python, @DataDog/asm-python, @DataDog/profiling-python, @DataDog/remote-config, @DataDog/python-guild

.github/CODEOWNERS:

# Order matters, the last matched is what is used

# APM Core Python is the default owner of all files
*                                   @DataDog/apm-core-python

# Framework Integrations
src/ddtrace/ext/                        @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
src/ddtrace/contrib/                    @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
src/ddtrace/internal/schema/            @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
tests/                              @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py

# Files which can be approved by anyone
# DEV: This helps not requiring apm-core-python to review new files added
#      or files which changes often with most PRs
releasenotes/                       @DataDog/apm-python
tests/snapshots/                    @DataDog/apm-python
riotfile.py                         @DataDog/apm-python

# Core
tests/internal                      @DataDog/apm-core-python
tests/lib-injection                 @DataDog/apm-core-python
tests/opentelemetry                 @DataDog/apm-core-python
tests/opentracer                    @DataDog/apm-core-python
tests/runtime                       @DataDog/apm-core-python
tests/tracer                        @DataDog/apm-core-python

# CI App
src/ddtrace/contrib/pytest/             @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/contrib/pytest_bdd/         @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/contrib/pytest                @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/contrib/pytest_bdd            @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/ext/ci.py                   @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/ext/test.py                 @DataDog/apm-core-python @DataDog/ci-app-libraries
src/ddtrace/internal/codeowners.py      @DataDog/apm-core-python @datadog/ci-app-libraries
src/ddtrace/internal/ci_visibility/     @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/internal/ci_visibility/       @DataDog/apm-core-python @DataDog/ci-app-libraries

# Debugger
src/ddtrace/debugging/                  @DataDog/debugger-python
src/ddtrace/settings/dynamic_instrumentation.py     @DataDog/debugger-python
src/ddtrace/internal/injection.py       @DataDog/debugger-python @DataDog/apm-core-python
src/ddtrace/internal/wrapping.py        @DataDog/debugger-python @DataDog/apm-core-python
src/ddtrace/internal/module.py          @DataDog/debugger-python @DataDog/apm-core-python
tests/debugging/                    @DataDog/debugger-python
tests/internal/test_injection.py    @DataDog/debugger-python @DataDog/apm-core-python
tests/internal/test_wrapping.py     @DataDog/debugger-python @DataDog/apm-core-python
tests/internal/test_module.py       @DataDog/debugger-python @DataDog/apm-core-python

# ASM
src/ddtrace/appsec/                     @DataDog/asm-python
src/ddtrace/contrib/subprocess/         @DataDog/asm-python
tests/appsec/                       @DataDog/asm-python
tests/contrib/dbapi/test_dbapi_appsec.py    @DataDog/asm-python
tests/contrib/subprocess            @DataDog/asm-python
tests/contrib/flask/test_flask_appsec.py    @DataDog/asm-python
tests/contrib/django/django_app/appsec_urls.py @DataDog/asm-python
tests/contrib/django/test_django_appsec.py  @DataDog/asm-python
tests/snapshots/tests*appsec*.json  @DataDog/asm-python
tests/contrib/*/test*appsec*.py     @DataDog/asm-python

# Profiling
src/ddtrace/profiling                   @DataDog/profiling-python @DataDog/apm-core-python
tests/profiling                     @DataDog/profiling-python @DataDog/apm-core-python

# Remote Config
src/ddtrace/internal/remoteconfig       @DataDog/remote-config @DataDog/apm-core-python
tests/internal/remoteconfig         @DataDog/remote-config @DataDog/apm-core-python

# Guild
# Note that core is added here since 2 reviewers are required. The guild isn't
# big enough to support if a guild member makes a change which means 2 other
# guild members have to review.
# We should enforce this for important files, but more frequently edited ones
# can settle for having 1 guild member review + a core team member.
setup.py                            @DataDog/python-guild
setup.cfg                           @DataDog/python-guild
pyproject.toml                      @DataDog/python-guild
.readthedocs.yml                    @DataDog/python-guild  @DataDog/apm-core-python
README.md                           @DataDog/python-guild  @DataDog/apm-core-python
mypy.ini                            @DataDog/python-guild  @DataDog/apm-core-python
.github/PULL_REQUEST_TEMPLATE.md    @DataDog/python-guild  @DataDog/apm-core-python
.github/ISSUE_TEMPLATE.md           @DataDog/python-guild  @DataDog/apm-core-python
.github/CODEOWNERS                  @DataDog/python-guild  @DataDog/apm-core-python
src/ddtrace/internal/compat.py          @DataDog/python-guild  @DataDog/apm-core-python

try another way of grabbing pr number
  scripts/needs_testrun.py
Owners: @DataDog/apm-core-python

add release note
  releasenotes/notes/fix-cmake-dep-f25774b77cb7a795.yaml
Owners: @DataDog/apm-python

add ddtracerun and internal
  tests/.suitespec.json
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

avoid using pytest parameterize
  tests/contrib/gunicorn/test_gunicorn.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

trailing comma
  tests/.suitespec.json
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

update specs
  tests/.suitespec.json
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

fix(health-metrics): ensures metrics are aggregated by tags (#6398)
  ddtrace/internal/writer/writer.py
  releasenotes/notes/fix-health-metrics-tags-61cb3d8369cfe402.yaml
  tests/tracer/test_writer.py
Owners: @DataDog/apm-core-python, @DataDog/apm-python

chore(circleci): enable re-running failed tests
  .circleci/config.templ.yml
Owners: @DataDog/apm-core-python

fix(dep): install cmake as setup_requires instead of install_requires (#6468)
  releasenotes/notes/fix-cmake-dep-f25774b77cb7a795.yaml
  setup.py
Owners: @DataDog/apm-python, @DataDog/python-guild

fix(dep): install cmake as setup_requires instead of install_requires (#6468)
  releasenotes/notes/fix-cmake-dep-f25774b77cb7a795.yaml
  setup.py
Owners: @DataDog/apm-python, @DataDog/python-guild

Add tiktoken as optional package dependency, calculate prompt tokens
  .riot/requirements/10cb750.txt
  .riot/requirements/1ca416c.txt
  .riot/requirements/568f7a7.txt
  .riot/requirements/9e4315a.txt
  ddtrace/contrib/openai/_endpoint_hooks.py
  ddtrace/contrib/openai/utils.py
  releasenotes/notes/openai-tiktoken-42681dbd1c5ea215.yaml
  riotfile.py
  tests/contrib/openai/test_openai.py
Owners: @DataDog/apm-core-python, @DataDog/apm-python, @DataDog/apm-framework-integrations-reviewers-py

fix command: add xargs and use different quotes
  .circleci/config.templ.yml
Owners: @DataDog/apm-core-python

fmt
  ddtrace/contrib/openai/utils.py
Owners: @DataDog/apm-core-python

Apply suggestions from code review
  .circleci/config.templ.yml
Owners: @DataDog/apm-core-python

add test files to components
  tests/.suitespec.json
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

fix quotes
  .circleci/config.templ.yml
Owners: @DataDog/apm-core-python

fix split by
  .circleci/config.templ.yml
Owners: @DataDog/apm-core-python

--split-by=timings is not supported with how we run riot
  .circleci/config.templ.yml
Owners: @DataDog/apm-core-python

include tests
  tests/.suitespec.json
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

formatting
  scripts/needs_testrun.py
  tests/.suitespec.json
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

fix name
  tests/.suitespec.json
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

trigger
  tests/.suitespec.json
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

Add separate cassettes for tiktoken test cases
  tests/contrib/openai/cassettes/completion_async_streamed_tiktoken.yaml
  tests/contrib/openai/cassettes/completion_streamed_tiktoken.yaml
  tests/contrib/openai/test_openai.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

cache changed file list to avoid borking the github api
  scripts/needs_testrun.py
Owners: @DataDog/apm-core-python

add tornado suite
  tests/.suitespec.json
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

demonstrate that changes to a file used by multiple suites trigger the correct suites
  ddtrace/contrib/dbapi/__init__.py
Owners: @DataDog/apm-core-python

undo
  ddtrace/contrib/dbapi/__init__.py
Owners: @DataDog/apm-core-python

Remove unnecessary test cassettes, mock tiktoken encoding func
  tests/contrib/openai/test_openai.py
  tests/snapshots/tests.contrib.openai.test_openai.test_chat_completion_async_stream.json
  tests/snapshots/tests.contrib.openai.test_openai.test_chat_completion_stream.json
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py, @DataDog/apm-python

fix(ci): fix flaky kafka tests
  tests/contrib/kafka/test_kafka.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

use bitnami/kafka and remove zookeeper
  docker-compose.yml
Owners: @DataDog/apm-core-python

remove unnused @pytest.mark.flaky
  tests/contrib/kafka/test_kafka.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

feat: flaky is_notinterned_notfasttainted_unicode
  tests/appsec/iast/taint_tracking/test_native_taint_range.py
Owners: @DataDog/asm-python

fix(ci-visibility): fix release note formatting (#6421)
  releasenotes/notes/fix-pytest-always-create-module-971348889d0cdf36.yaml
Owners: @DataDog/apm-python

fix(ci-visibility): fix release note formatting (#6421)
  releasenotes/notes/fix-pytest-always-create-module-971348889d0cdf36.yaml
Owners: @DataDog/apm-python

chore(ci-visibility): remove redundant comments as per requested
  ddtrace/ext/test.py
Owners: @DataDog/apm-core-python

add tests (to be improved)
  ddtrace/appsec/iast/_patch.py
  ddtrace/appsec/iast/taint_sinks/json_tainting.py
  tests/appsec/iast/conftest.py
  tests/appsec/iast/test_json_tainting.py
Owners: @DataDog/apm-core-python, @DataDog/asm-python

chore: enable iast tests (#6451)
  tests/appsec/iast/aspects/test_str_py3.py
  tests/appsec/iast/taint_tracking/test_native_taint_range.py
  tests/appsec/iast/test_taint_tracking.py
Owners: @DataDog/asm-python

fix: update tests and fix PR 6334 merge
  ddtrace/appsec/handlers.py
  tests/contrib/flask/test_flask_appsec.py
  tests/contrib/flask/test_flask_appsec_iast.py
Owners: @DataDog/apm-core-python, @DataDog/asm-python

fix: tests line number assert
  tests/contrib/flask/test_flask_appsec_iast.py
Owners: @DataDog/asm-python

fix: tests filename assert
  tests/contrib/flask/test_flask_appsec_iast.py
Owners: @DataDog/asm-python
