Repository DataDog/dd-trace-py, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py, @DataDog/apm-python, @DataDog/ci-app-libraries, @datadog/ci-app-libraries, @DataDog/debugger-python, @DataDog/asm-python, @DataDog/profiling-python, @DataDog/remote-config, @DataDog/python-guild

.github/CODEOWNERS:

# Order matters, the last matched is what is used

# APM Core Python is the default owner of all files
*                                   @DataDog/apm-core-python

# Framework Integrations
ddtrace/ext/                        @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
ddtrace/contrib/                    @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
ddtrace/internal/schema/            @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py
tests/                              @DataDog/apm-core-python @DataDog/apm-framework-integrations-reviewers-py

# Files which can be approved by anyone
# DEV: This helps not requiring apm-core-python to review new files added
#      or files which changes often with most PRs
releasenotes/                       @DataDog/apm-python
tests/snapshots/                    @DataDog/apm-python
riotfile.py                         @DataDog/apm-python

# Core
tests/internal                      @DataDog/apm-core-python
tests/lib-injection                 @DataDog/apm-core-python
tests/opentelemetry                 @DataDog/apm-core-python
tests/opentracer                    @DataDog/apm-core-python
tests/runtime                       @DataDog/apm-core-python
tests/tracer                        @DataDog/apm-core-python

# CI App
ddtrace/contrib/pytest/             @DataDog/apm-core-python @DataDog/ci-app-libraries
ddtrace/contrib/pytest_bdd/         @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/contrib/pytest                @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/contrib/pytest_bdd            @DataDog/apm-core-python @DataDog/ci-app-libraries
ddtrace/ext/ci.py                   @DataDog/apm-core-python @DataDog/ci-app-libraries
ddtrace/ext/test.py                 @DataDog/apm-core-python @DataDog/ci-app-libraries
ddtrace/internal/codeowners.py      @DataDog/apm-core-python @datadog/ci-app-libraries
ddtrace/internal/ci_visibility/     @DataDog/apm-core-python @DataDog/ci-app-libraries
tests/internal/ci_visibility/       @DataDog/apm-core-python @DataDog/ci-app-libraries

# Debugger
ddtrace/debugging/                  @DataDog/debugger-python
ddtrace/settings/dynamic_instrumentation.py     @DataDog/debugger-python
ddtrace/internal/injection.py       @DataDog/debugger-python @DataDog/apm-core-python
ddtrace/internal/wrapping.py        @DataDog/debugger-python @DataDog/apm-core-python
ddtrace/internal/module.py          @DataDog/debugger-python @DataDog/apm-core-python
tests/debugging/                    @DataDog/debugger-python
tests/internal/test_injection.py    @DataDog/debugger-python @DataDog/apm-core-python
tests/internal/test_wrapping.py     @DataDog/debugger-python @DataDog/apm-core-python
tests/internal/test_module.py       @DataDog/debugger-python @DataDog/apm-core-python

# ASM
ddtrace/appsec/                     @DataDog/asm-python
ddtrace/contrib/subprocess/         @DataDog/asm-python
tests/appsec/                       @DataDog/asm-python
tests/contrib/dbapi/test_dbapi_appsec.py    @DataDog/asm-python
tests/contrib/subprocess            @DataDog/asm-python
tests/contrib/flask/test_flask_appsec.py    @DataDog/asm-python
tests/contrib/django/django_app/appsec_urls.py @DataDog/asm-python
tests/contrib/django/test_django_appsec.py  @DataDog/asm-python
tests/snapshots/tests*appsec*.json  @DataDog/asm-python
tests/contrib/*/test*appsec*.py     @DataDog/asm-python

# Profiling
ddtrace/profiling                   @DataDog/profiling-python @DataDog/apm-core-python
tests/profiling                     @DataDog/profiling-python @DataDog/apm-core-python

# Remote Config
ddtrace/internal/remoteconfig       @DataDog/remote-config @DataDog/apm-core-python
tests/internal/remoteconfig         @DataDog/remote-config @DataDog/apm-core-python

# Guild
# Note that core is added here since 2 reviewers are required. The guild isn't
# big enough to support if a guild member makes a change which means 2 other
# guild members have to review.
# We should enforce this for important files, but more frequently edited ones
# can settle for having 1 guild member review + a core team member.
setup.py                            @DataDog/python-guild
setup.cfg                           @DataDog/python-guild
pyproject.toml                      @DataDog/python-guild
.readthedocs.yml                    @DataDog/python-guild  @DataDog/apm-core-python
README.md                           @DataDog/python-guild  @DataDog/apm-core-python
mypy.ini                            @DataDog/python-guild  @DataDog/apm-core-python
.github/PULL_REQUEST_TEMPLATE.md    @DataDog/python-guild  @DataDog/apm-core-python
.github/ISSUE_TEMPLATE.md           @DataDog/python-guild  @DataDog/apm-core-python
.github/CODEOWNERS                  @DataDog/python-guild  @DataDog/apm-core-python
ddtrace/internal/compat.py          @DataDog/python-guild  @DataDog/apm-core-python

test: test itr skip early
  ddtrace/contrib/pytest/plugin.py
Owners: @DataDog/apm-core-python, @DataDog/ci-app-libraries

test: remove uid:gid
  scripts/ddtest
Owners: @DataDog/apm-core-python

Add catching tests for scrubbing
  ddtrace/appsec/iast/_stacktrace_py2.py
  ddtrace/appsec/iast/_util.py
  ddtrace/appsec/iast/reporter.py
  ddtrace/appsec/iast/taint_sinks/_base.py
  ddtrace/appsec/iast/taint_sinks/insecure_cookie.py
  ddtrace/appsec/iast/taint_sinks/path_traversal.py
  ddtrace/appsec/iast/taint_sinks/sql_injection.py
  ddtrace/appsec/iast/taint_sinks/weak_cipher.py
  ddtrace/appsec/iast/taint_sinks/weak_hash.py
  tests/appsec/iast/test_reporter.py
  tests/contrib/flask/test_flask_appsec.py
Owners: @DataDog/asm-python

fix
  tests/appsec/iast/test_reporter.py
Owners: @DataDog/asm-python

revert: uid:gid
  scripts/ddtest
Owners: @DataDog/apm-core-python

test: tests improvements
  ddtrace/internal/ci_visibility/recorder.py
  riotfile.py
  tests/ci_visibility/test_ci_visibility.py
Owners: @DataDog/apm-core-python, @DataDog/ci-app-libraries, @DataDog/apm-python, @DataDog/apm-framework-integrations-reviewers-py

tests: refactor
  tests/ci_visibility/test_ci_visibility.py
  tests/ci_visibility/test_encoder.py
  tests/contrib/asynctest/test_asynctest.py
  tests/utils.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

test fixes
  ddtrace/internal/ci_visibility/recorder.py
  tests/ci_visibility/test_coverage.py
  tests/contrib/pytest/test_pytest.py
Owners: @DataDog/apm-core-python, @DataDog/ci-app-libraries, @DataDog/apm-framework-integrations-reviewers-py

test: change flask to contrib_job
  .circleci/config.yml
Owners: @DataDog/apm-core-python

test: flask docker changes
  .circleci/config.yml
Owners: @DataDog/apm-core-python

test: add snapshot true
  .circleci/config.yml
Owners: @DataDog/apm-core-python

test: use unique .coverage file
  ddtrace/internal/ci_visibility/coverage.py
Owners: @DataDog/apm-core-python, @DataDog/ci-app-libraries

Fix for Python 3.11
  ddtrace/appsec/iast/_stacktrace.c
  ddtrace/appsec/iast/_stacktrace_py2.py
  ddtrace/appsec/iast/reporter.py
  tests/appsec/iast/test_reporter.py
Owners: @DataDog/asm-python

Fix the stacktrace native module for Python 3.11
  ddtrace/appsec/iast/_stacktrace.c
Owners: @DataDog/asm-python

c fmt
  ddtrace/appsec/iast/_stacktrace.c
Owners: @DataDog/asm-python

fix
  ddtrace/appsec/iast/_stacktrace.c
Owners: @DataDog/asm-python

test: flask with testagent snapshot
  .circleci/config.yml
Owners: @DataDog/apm-core-python

chore(ci): fix lib injection ci (#6245)
  .github/workflows/lib-injection.yml
Owners: @DataDog/apm-core-python

chore(ci): fix lib injection ci (#6245)
  .github/workflows/lib-injection.yml
Owners: @DataDog/apm-core-python

chore(ci): fix lib injection ci (#6245)
  .github/workflows/lib-injection.yml
Owners: @DataDog/apm-core-python

chore(ci): fix lib injection ci (#6245)
  .github/workflows/lib-injection.yml
Owners: @DataDog/apm-core-python

test flask ddtrace agent url
  .circleci/config.yml
Owners: @DataDog/apm-core-python

chore(ci-visibility): CIAPP-6907 unshallow repository when git >= 2.27
  ddtrace/contrib/pytest/plugin.py
  ddtrace/ext/git.py
  ddtrace/internal/ci_visibility/git_client.py
  tests/ci_visibility/test_ci_visibility.py
  tests/tracer/test_ci.py
Owners: @DataDog/apm-core-python, @DataDog/ci-app-libraries, @DataDog/apm-framework-integrations-reviewers-py

Fix GET_LINENO in 3.11 too
  ddtrace/appsec/iast/_stacktrace.c
Owners: @DataDog/asm-python

Clean up leftover pytest mark and fixture change.
  ddtrace/contrib/pytest/plugin.py
  tests/ci_visibility/test_ci_visibility.py
Owners: @DataDog/apm-core-python, @DataDog/ci-app-libraries, @DataDog/apm-framework-integrations-reviewers-py

fix(asm): fix the stacktrace native module for Python 3.11 (#6261)
  ddtrace/appsec/iast/_stacktrace.c
Owners: @DataDog/asm-python

Resolve battler of autoformatters.
  ddtrace/contrib/pytest/plugin.py
  ddtrace/ext/git.py
  ddtrace/internal/ci_visibility/git_client.py
  tests/ci_visibility/test_ci_visibility.py
Owners: @DataDog/apm-core-python, @DataDog/ci-app-libraries, @DataDog/apm-framework-integrations-reviewers-py

feat(telemetry): validate unique telemetry log messages (#6213)
  ddtrace/internal/telemetry/writer.py
  releasenotes/notes/telemetry-logs-validate-unique-messages-5a020f0531952e0c.yaml
  tests/appsec/test_telemety.py
  tests/telemetry/test_telemetry_metrics.py
Owners: @DataDog/apm-core-python, @DataDog/apm-python, @DataDog/asm-python, @DataDog/apm-framework-integrations-reviewers-py

feat(telemetry): validate unique telemetry log messages (#6213)
  ddtrace/internal/telemetry/writer.py
  releasenotes/notes/telemetry-logs-validate-unique-messages-5a020f0531952e0c.yaml
  tests/appsec/test_telemety.py
  tests/telemetry/test_telemetry_metrics.py
Owners: @DataDog/apm-core-python, @DataDog/apm-python, @DataDog/asm-python, @DataDog/apm-framework-integrations-reviewers-py

Fix type hint missed in flake8 spam
  ddtrace/internal/ci_visibility/git_client.py
Owners: @DataDog/apm-core-python, @DataDog/ci-app-libraries

test: skip ci_visibility failing tests
  tests/ci_visibility/test_ci_visibility.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

Fix problems serializing non-attrs class
  ddtrace/appsec/iast/processor.py
  ddtrace/appsec/iast/reporter.py
  ddtrace/appsec/iast/taint_sinks/_base.py
  tests/appsec/iast/test_reporter.py
  tests/contrib/flask/test_flask_appsec.py
Owners: @DataDog/asm-python

Preserve _get_filterd_revisions backwards compatibility by making included commits option
  ddtrace/internal/ci_visibility/git_client.py
Owners: @DataDog/apm-core-python, @DataDog/ci-app-libraries

fix(release): commit hashes and release notes (#5904)
  scripts/release.py
Owners: @DataDog/apm-core-python

minor refactor
  ddtrace/tracer.py
Owners: @DataDog/apm-core-python

Support more OSes for libdatadog
  setup.py
Owners: @DataDog/python-guild

Explicitly make lambdas classmethod for 2.7 compatibility
  tests/ci_visibility/test_ci_visibility.py
Owners: @DataDog/apm-core-python, @DataDog/apm-framework-integrations-reviewers-py

Update releasenotes/notes/fix-profiler-handle-request-errors-45a1917365c5b512.yaml
  releasenotes/notes/fix-profiler-handle-request-errors-45a1917365c5b512.yaml
Owners: @DataDog/apm-python

fix(runtime metrics): ensure DD_TAGS are added to runtime metrics
  ddtrace/internal/runtime/constants.py
  ddtrace/internal/runtime/runtime_metrics.py
  tests/tracer/runtime/test_runtime_metrics.py
  tests/tracer/runtime/test_tag_collectors.py
Owners: @DataDog/apm-core-python

refactor: make code provenance internal (#6251)
  ddtrace/internal/packages.py
  ddtrace/profiling/exporter/_packages.py
  ddtrace/profiling/exporter/pprof.pyx
  tests/internal/test_packages.py
  tests/profiling/exporter/test_packages.py
  tests/profiling/exporter/test_pprof.py
Owners: @DataDog/apm-core-python, @DataDog/profiling-python
