Repository DataDog/dd-trace-py, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-python, @DataDog/ci-app-libraries, @datadog/ci-app-libraries, @DataDog/debugger-python, @DataDog/asm-python

.github/CODEOWNERS:

* @DataDog/apm-python

ddtrace/contrib/pytest/         @DataDog/apm-python @DataDog/ci-app-libraries
ddtrace/contrib/pytest-bdd/     @DataDog/apm-python @DataDog/ci-app-libraries
ddtrace/ext/ci.py               @DataDog/apm-python @DataDog/ci-app-libraries
ddtrace/ext/test.py             @DataDog/apm-python @DataDog/ci-app-libraries
ddtrace/internal/codeowners.py  @DataDog/apm-python @datadog/ci-app-libraries
tests/contrib/pytest/           @DataDog/apm-python @DataDog/ci-app-libraries
tests/contrib/pytest-bdd/       @DataDog/apm-python @DataDog/ci-app-libraries
ddtrace/debugging/              @DataDog/debugger-python
tests/debugging/                @DataDog/debugger-python
ddtrace/appsec/                 @DataDog/asm-python
tests/appsec/                   @DataDog/asm-python

fix(django): accessing user model in django asgi middleware is not supported
  ddtrace/contrib/django/utils.py
  releasenotes/notes/fix-cors-errors-0fa947a1a583ad0c.yaml
Owners: @DataDog/apm-python

test(asm): print error to stderr
  ddtrace/appsec/ddwaf/ddwaf_types.py
Owners: @DataDog/asm-python

test(asm): i686 translation
  ddtrace/appsec/ddwaf/ddwaf_types.py
Owners: @DataDog/asm-python

test(asm): test adding dynamic files to wheel
  MANIFEST.in
  setup.py
Owners: @DataDog/apm-python

test(test): generate whole workflows from available jobs
  generate-circleci-config.py
Owners: @DataDog/apm-python

feat: fix Python 3.11 error in windows
  ddtrace/appsec/iast/_stacktrace.c
Owners: @DataDog/asm-python

Version gate python 3.11 changes to profiler
  ddtrace/profiling/collector/stack.pyx
Owners: @DataDog/apm-python

chore(psycopg): refactor Psycopg2TracedCursor
  ddtrace/contrib/psycopg/patch.py
Owners: @DataDog/apm-python

Fix unit test failures
  ddtrace/contrib/jinja2/patch.py
  tests/contrib/asyncio/test_tracer.py
  tests/contrib/dogpile_cache/test_tracing.py
  tests/contrib/fastapi/test_fastapi.py
  tests/contrib/grpc/test_grpc.py
  tests/contrib/sqlite3/test_sqlite3.py
  tests/contrib/starlette/test_starlette.py
  tests/contrib/tornado/test_executor_decorator.py
  tests/contrib/tornado/test_tornado_template.py
  tests/contrib/tornado/test_tornado_web.py
  tests/contrib/tornado/test_wrap_decorator.py
  tests/contrib/urllib3/test_urllib3.py
  tests/contrib/vertica/test_vertica.py
  tests/contrib/wsgi/test_wsgi.py
Owners: @DataDog/apm-python

Fix failing unit tests
  tests/contrib/grpc/test_grpc.py
  tests/contrib/tornado/test_executor_decorator.py
Owners: @DataDog/apm-python

Fix grpc unit tests
  tests/contrib/grpc_aio/test_grpc_aio.py
Owners: @DataDog/apm-python

make _soft true by default
  ddtrace/contrib/celery/patch.py
  ddtrace/debugging/_uploader.py
  ddtrace/internal/forksafe.py
  ddtrace/internal/remoteconfig/worker.py
  ddtrace/profiling/profiler.py
Owners: @DataDog/apm-python, @DataDog/debugger-python

chore: update clang-format
  ddtrace/appsec/iast/_stacktrace.c
Owners: @DataDog/asm-python

feat: fix windows c errors
  ddtrace/appsec/iast/_stacktrace.c
  setup.py
Owners: @DataDog/asm-python, @DataDog/apm-python

chore(profile): track which memory domain allocated Python memory
  ddtrace/profiling/collector/_memalloc.c
  ddtrace/profiling/collector/_memalloc_heap.c
  ddtrace/profiling/collector/_memalloc_heap.h
  ddtrace/profiling/collector/_memalloc_tb.c
  ddtrace/profiling/collector/_memalloc_tb.h
  ddtrace/profiling/collector/memalloc.py
  tests/profiling/collector/test_memalloc.py
Owners: @DataDog/apm-python

handle None
  ddtrace/debugging/_encoding.py
  ddtrace/internal/compat.py
  tests/debugging/test_encoding.py
Owners: @DataDog/debugger-python, @DataDog/apm-python

test(test): clean up code of generate-circleci-config and split the configuration in circle_config_ini.py. uncomment requestsgevent to see what is happening with this test
  circle_config_init.py
  generate-circleci-config.py
Owners: @DataDog/apm-python

fix(ci): pin greenlet version to < 2.0.0
  tox.ini
Owners: @DataDog/apm-python

test(asm): capture exception if dynamic lib not available
  ddtrace/appsec/ddwaf/ddwaf_types.py
Owners: @DataDog/asm-python

test(test): small clean of generate-circleci-config and remove requestsgevent
  circle_config_init.py
  generate-circleci-config.py
Owners: @DataDog/apm-python

test(test): used black for pre_check
  generate-circleci-config.py
Owners: @DataDog/apm-python

test(asm): avoid failure in case libddwaf is not accessible
  ddtrace/appsec/ddwaf/ddwaf_types.py
Owners: @DataDog/asm-python

chore(debugging): add timestamp to probe status messages
  ddtrace/debugging/_probe/status.py
  tests/debugging/probe/test_registry.py
  tests/debugging/probe/test_status.py
Owners: @DataDog/debugger-python

test(test): removed riotfile-latest.py for the PR (will be used in another PR)
  riotfile-latest.py
Owners: @DataDog/apm-python

Fix GRPC
  tests/contrib/grpc_aio/test_grpc_aio.py
Owners: @DataDog/apm-python

Update ddtrace/context.py
  ddtrace/context.py
Owners: @DataDog/apm-python

feat(flask): add streamed response support
  ddtrace/contrib/flask/patch.py
  releasenotes/notes/flask-streaming-e6dad359a155fdb3.yaml
  tests/contrib/flask/__init__.py
Owners: @DataDog/apm-python

update flask tests and snapshots to test streamed responses
  tests/contrib/flask/test_hooks.py
  tests/contrib/flask/test_request.py
  tests/contrib/flask/test_static.py
  tests/contrib/flask_autopatch/test_flask_autopatch.py
  tests/snapshots/tests.contrib.flask.test_flask_snapshot.test_flask_200.json
  tests/snapshots/tests.contrib.flask.test_flask_snapshot.test_flask_200_220.json
  tests/snapshots/tests.contrib.flask.test_flask_snapshot.test_flask_get_user.json
  tests/snapshots/tests.contrib.flask.test_flask_snapshot.test_flask_get_user_220.json
  tests/snapshots/tests.contrib.flask.test_flask_snapshot.test_flask_stream.json
  tests/snapshots/tests.contrib.flask.test_flask_snapshot.test_flask_stream_220.json
Owners: @DataDog/apm-python

fix(profiler): version gate python 3.11 changes to stack collector (#4448)
  ddtrace/profiling/collector/stack.pyx
Owners: @DataDog/apm-python

fix(profiler): version gate python 3.11 changes to stack collector (#4448)
  ddtrace/profiling/collector/stack.pyx
Owners: @DataDog/apm-python

ci(gevent): pin greenlet for legacy gevent versions (#4437)
  tox.ini
Owners: @DataDog/apm-python

ci(gevent): pin greenlet for legacy gevent versions (#4437)
  tox.ini
Owners: @DataDog/apm-python

ci(gevent): pin greenlet for legacy gevent versions (#4437)
  tox.ini
Owners: @DataDog/apm-python

ci(gevent): pin greenlet for legacy gevent versions (#4437)
  tox.ini
Owners: @DataDog/apm-python

ci(gevent): pin greenlet for legacy gevent versions (#4437)
  tox.ini
Owners: @DataDog/apm-python

test(profiling): disable uwsgi master+lazy app scenario on gevent
  tests/profiling/test_uwsgi.py
Owners: @DataDog/apm-python

use regex to test version
  ddtrace/internal/remoteconfig/client.py
  tests/internal/test_remoteconfig.py
Owners: @DataDog/apm-python

test(asm): import fix
  ddtrace/appsec/ddwaf/ddwaf_types.py
  ddtrace/appsec/processor.py
Owners: @DataDog/asm-python

chore(rcm): ensure semver in tracer version (#4392)
  ddtrace/internal/remoteconfig/client.py
  tests/internal/test_remoteconfig.py
Owners: @DataDog/apm-python

chore(asm): add mockup DDWaf to avoid critical error in case the loading failed
  ddtrace/appsec/ddwaf/__init__.py
  ddtrace/appsec/processor.py
Owners: @DataDog/asm-python
