Repository DataDog/dd-trace-py, pull requests merged in 2018-07, with the labels that each got.

#507 [aiopg] send app_type value
  ddtrace/contrib/aiopg/connection.py
Labels: enhancement, integrations

#498 tracer needs the settings object to get filter configurations
  ddtrace/contrib/tornado/__init__.py
  ddtrace/contrib/tornado/application.py
  tests/contrib/tornado/test_config.py
Labels: community, enhancement, integrations

#505 [opentracer] Add opentracer ci job
  .circleci/config.yml
  ddtrace/opentracer/tracer.py
  tox.ini
Labels: opentracer

#497 [opentracer] Compatibility with Datadog
  ddtrace/opentracer/span.py
  ddtrace/opentracer/span_context.py
  ddtrace/opentracer/tags.py
  ddtrace/opentracer/tracer.py
  tests/opentracer/test_span.py
  tests/opentracer/test_span_context.py
  tests/opentracer/test_tracer.py
Labels: opentracer

#508 [opentracer] Fix opentracer tests
  .circleci/config.yml
  ddtrace/opentracer/span.py
  ddtrace/opentracer/tracer.py
  tests/opentracer/test_tracer_asyncio.py
  tests/opentracer/test_tracer_gevent.py
  tests/opentracer/test_tracer_tornado.py
  tox.ini
Labels: opentracer

#516 Check if bootstrap dir is in path before removal
  ddtrace/bootstrap/sitecustomize.py
  tests/commands/ddtrace_minimal.py
  tests/commands/test_runner.py
Labels: community, core

#504 [opentracer] Set a service name if none provided
  ddtrace/opentracer/helpers.py
  ddtrace/opentracer/tracer.py
  ddtrace/opentracer/util.py
  ddtrace/utils/__init__.py
  ddtrace/utils/config.py
  tests/commands/ddtrace_run_app_name.py
  tests/commands/test_runner.py
  tests/opentracer/test_tracer.py
Labels: opentracer

#517 [opentracer] Documentation
  ddtrace/opentracer/README.rst
  ddtrace/opentracer/tracer.py
  ddtrace/span.py
  docs/index.rst
Labels: docs, opentracer

#518 [opentracer] Expose set_global_tracer through opentracer module
  ddtrace/opentracer/__init__.py
  ddtrace/opentracer/helpers.py
  ddtrace/opentracer/tracer.py
  tests/opentracer/test_tracer.py
Labels: opentracer

#519 [celery] refactor tests execution; change the patched Task() method
  ddtrace/contrib/celery/app.py
  ddtrace/contrib/celery/patch.py
  ddtrace/contrib/celery/task.py
  tests/contrib/celery/base.py
  tests/contrib/celery/test_app.py
  tests/contrib/celery/test_integration.py
  tests/contrib/celery/test_old_style_task.py
  tests/contrib/celery/test_task.py
  tests/contrib/celery/utils.py
Labels: integrations
