Repository DataDog/dd-trace-py, pull requests merged in 2018-06, with the labels that each got.

#470 [opentracer] tracer configuration/initialization
  .circleci/config.yml
  ddtrace/opentracer/settings.py
  ddtrace/opentracer/tracer.py
  ddtrace/opentracer/util.py
  tests/opentracer/test_tracer.py
  tox.ini
Labels: opentracer

#473 [opentracer] Add support for span context
  ddtrace/opentracer/scope.py
  ddtrace/opentracer/scope_manager.py
  ddtrace/opentracer/span.py
  ddtrace/opentracer/span_context.py
  ddtrace/opentracer/tracer.py
  tests/opentracer/test_scope.py
  tests/opentracer/test_scope_manager.py
  tests/opentracer/test_span_context.py
Labels: opentracer

#475 [pylons] ensure the middleware code is Python 3 compatible
  ddtrace/compat.py
  ddtrace/contrib/pylons/middleware.py
  ddtrace/utils/reraise.py
  tests/test_compat.py
Labels: core, enhancement

#478 [opentracer] Span context propagation
  ddtrace/opentracer/propagation/__init__.py
  ddtrace/opentracer/propagation/binary.py
  ddtrace/opentracer/propagation/http.py
  ddtrace/opentracer/propagation/propagator.py
  ddtrace/opentracer/propagation/text.py
  ddtrace/opentracer/span_context.py
  ddtrace/opentracer/tracer.py
  tests/opentracer/test_span_context.py
  tests/opentracer/test_tracer.py
Labels: opentracer

#484 [celery] patch TaskRegistry to support old-style task with `ddtrace-run`
  ddtrace/contrib/celery/patch.py
  ddtrace/contrib/celery/registry.py
  tox.ini
Labels: enhancement, integrations

#481 [django] remove setting_changed signal from the DatadogSettings
  ddtrace/contrib/django/conf.py
Labels: enhancement, integrations

#476 [docs] Notes about debug mode, and debugging in Kubernetes
  docs/index.rst
Labels: docs, enhancement

#477 [psycopg2] fix for quote_ident typing bug
  ddtrace/contrib/psycopg/patch.py
  tests/contrib/psycopg/test_psycopg.py
Labels: enhancement, integrations

#486 [django/celery] add `shared_task` decorator wrapper
  ddtrace/contrib/celery/patch.py
  ddtrace/contrib/celery/task.py
  tests/contrib/celery/test_task.py
Labels: enhancement, integrations

#488 [core] add a shortcut to retrieve Trace correlation identifiers
  ddtrace/helpers.py
  tests/test_helpers.py
Labels: core

#482 [opentracer] Span Implementation
  ddtrace/opentracer/propagation/http.py
  ddtrace/opentracer/span.py
  ddtrace/opentracer/span_context.py
  tests/opentracer/__init__.py
  tests/opentracer/test_scope.py
  tests/opentracer/test_span.py
  tox.ini
Labels: opentracer

#487 [opentracer] Tracer start_span implementation
  .gitignore
  ddtrace/opentracer/propagation/http.py
  ddtrace/opentracer/scope.py
  ddtrace/opentracer/scope_manager.py
  ddtrace/opentracer/span.py
  ddtrace/opentracer/span_context.py
  ddtrace/opentracer/tracer.py
  tests/opentracer/test_scope_manager.py
  tests/opentracer/test_span_context.py
  tests/opentracer/test_tracer.py
  tox.ini
Labels: opentracer

#494 [opentracer] Remaining tracer pieces
  ddtrace/opentracer/span.py
  ddtrace/opentracer/tracer.py
  tests/opentracer/test_tracer.py
  tests/opentracer/test_tracer_asyncio.py
  tests/opentracer/test_tracer_gevent.py
  tox.ini
Labels: opentracer

#501 [opentracer] Span: make get_tag private
  ddtrace/opentracer/span.py
  tests/opentracer/test_span.py
Labels: opentracer

#503 [opentracer] Tracer: configuration and test cleanup
  ddtrace/opentracer/settings.py
  ddtrace/opentracer/tracer.py
  tests/opentracer/test_tracer_asyncio.py
  tests/opentracer/test_tracer_gevent.py
Labels: opentracer

#502 [opentracer] Tracer: start_span fixes
  ddtrace/opentracer/tracer.py
  tests/opentracer/test_tracer.py
Labels: opentracer
